<div class="container-form mt-63">
    <form [formGroup]="buscarModificacionesNegocioDynamicForm">
        <div formArrayName="filtros">
            <div *ngFor="let itemFiltro of filtrosFormArray.controls; let i = index;">
                <div [formGroupName]="i" class="container">
                    <div class="div-left">
                        <span *ngIf="checkFiltros()" class="align-icon">
                            <mat-icon class="div-button material-icons color_gray"
                                (click)="removeFromFiltrosFormArray(i,itemFiltro)">
                                remove_circle</mat-icon>
                        </span>

                        <span class="sin-align-icon">
                            <span *ngIf="!arrayFiltro[i]">
                                <span class="mr-60">
                                    <mat-form-field>
                                        <mat-label>{{'negocio_historial_modificaciones.filtrar_por' | translate }}
                                        </mat-label>
                                        <mat-select formControlName="selectCriterio"
                                            (selectionChange)="buscarListaXCriterioSeleccionado($event, i)">
                                            <ng-container *ngFor="let criterio of listSelectCriterioNuevo">
                                                <mat-option *ngIf="criterio.active" [value]="criterio.value">
                                                    {{ criterio.viewValue }}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                </span>
                                <span class="mr-60">
                                    <mat-form-field>
                                        <mat-label>{{'negocio_historial_modificaciones.argumento' | translate }}
                                        </mat-label>
                                        <input matInput placeholder="Buscar" maxlength="100" formControlName="argumento"
                                            type="text" />
                                    </mat-form-field>
                                </span>
                            </span>
                        </span>

                        <span>
                            <span *ngIf="arrayFiltro[i]=='usuario'">
                                <span class="mr-60">
                                    <mat-form-field>
                                        <mat-label>{{'negocio_historial_modificaciones.usuario' | translate }}
                                        </mat-label>
                                        <input matInput placeholder="" maxlength="100" formControlName="argumento"
                                            type="text" value="Usuario que Registro" />
                                    </mat-form-field>
                                </span>
                                <span class="mr-60">
                                    <app-select-multiple-usuarios (emitUsuarioSeleccionado)="getUsuarios($event)">
                                    </app-select-multiple-usuarios>
                                </span>
                            </span>

                            <span *ngIf="arrayFiltro[i]=='fecha'">
                                <span class="mr-60">
                                    <mat-form-field>
                                        <mat-label>{{'negocio_historial_modificaciones.fechaCambio' | translate }}
                                        </mat-label>
                                        <input matInput placeholder="" maxlength="100" formControlName="argumento"
                                            type="text" value="Fecha de Cambio" />
                                    </mat-form-field>
                                </span>
                                <span class="mr-60">
                                    <app-date-range-picker (emitRange)="getDateRange($event)"></app-date-range-picker>
                                </span>
                            </span>
                        </span>

                    </div>
                </div>

            </div>

            <span *ngIf="swAddFiltros" class="linea-completa">
                <div *ngIf="true" class="div-button float-right" (click)="addToFiltrosFormArray()">
                    <div>
                        <div class="div-left">
                            <mat-icon class="div-button material-icons color_gray">add_circle</mat-icon>
                        </div>
                        <div class="div-right color_gray">
                            {{'negocio_historial_modificaciones.bt_anadir_filtro' | translate }}
                        </div>
                    </div>
                </div>
            </span>


            <div class="text-right">
                <span class="display-inline-block">
                    <span class="div-left">
                        <button type="submit" class="bt-actions-red" color="primary" (click)="limpiarformulario()">
                            <span
                                class="text text-15 color_white">{{'negocio_historial_modificaciones.bt_limpiar' | translate }}
                            </span>
                        </button>
                    </span>
                    <span class="div-right">
                        <button type="submit" class="bt-actions-red" color="primary" (click)="enviarDatos(true)">
                            <span
                                class="text text-15 color_white">{{'negocio_historial_modificaciones.bt_buscar' | translate }}
                            </span>
                        </button>
                    </span>
                </span>
            </div>
        </div>
    </form>
</div>

<div id="dataNotFound" class="display-inline-block" style="display:none;">
    <img src="assets/svg/icons/warning.svg" alt="warning" />
    <mat-label class="text-error text-content text-warning">
        {{'negocio_historial_modificaciones.sin_resultado' | translate }}
    </mat-label>
</div>

<div class="display-inline-block mb-110 mt-63" id="dataFound" style="display:none;">

    <div class="container-form container-form-table">
        <div class="table-contenido">

            <div class="example-container mat-elevation-z8 text-align-center mt-63">
                <table mat-table [dataSource]="dataSource">
                    <caption></caption>

                    <!-- fechaCambio Column -->
                    <ng-container matColumnDef="fechaCambio" sticky>
                        <th scope="col" class="mat-th-100" mat-header-cell *matHeaderCellDef>
                            {{'negocio_historial_modificaciones.fechaCambio' | translate }} </th>
                        <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.fechaCambio}} </td>
                    </ng-container>

                    <!-- Registrado Por Column -->
                    <ng-container matColumnDef="usuario">
                        <th scope="col" class="mat-th-245" mat-header-cell *matHeaderCellDef>
                            {{'negocio_historial_modificaciones.usuario' | translate }}
                        </th>
                        <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.usuario}} </td>
                    </ng-container>

                    <!-- Registrado en IP Column -->
                    <ng-container matColumnDef="direccionIp">
                        <th scope="col" class="mat-th-100" mat-header-cell *matHeaderCellDef>
                            {{'negocio_historial_modificaciones.direccion_ip' | translate }} </th>
                        <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.direccionIp}} </td>
                    </ng-container>
     
                    <!-- CampoDeCambio Column -->
                    <ng-container matColumnDef="campo">
                        <th scope="col" class="mat-th-245" mat-header-cell *matHeaderCellDef>
                            {{'negocio_historial_modificaciones.campo' | translate }}
                        </th>
                        <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.campo}} </td>
                    </ng-container>

                    <!-- DatoNuevo Column -->
                    <ng-container matColumnDef="datoNuevo">
                        <th scope="col" class="mat-th-245" mat-header-cell *matHeaderCellDef>
                            {{'negocio_historial_modificaciones.dato_nuevo' | translate }} </th>
                        <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.datoNuevo}} </td>
                    </ng-container>

                    <!-- DatoAnterior Column -->
                    <ng-container matColumnDef="datoAnterior">
                        <th scope="col" class="mat-th-245" mat-header-cell *matHeaderCellDef>
                            {{'negocio_historial_modificaciones.dato_anterior' | translate }} </th>
                        <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.datoAnterior}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>

    </div>
    <div class="mt-20">
        <app-pagination (paginaEmitter)="goToPage($event)" [page]="page" [totalPages]="totalPages"
            [numElementos]="numElementos" [resultsLength]="resultsLength"></app-pagination>
    </div>
</div>