<div class="text">
    <div class="contenedor">
        <div class="contenido">
            <div class="contenedor-titulo">
                <div *ngIf="data.urlimg" id="urlimg" class="img-50 contenido-img">
                    <img src="assets/svg/icons/warning.svg" alt="warning" />
                </div>
                <div>
                    <mat-label mat-dialog-title class="text-20 text-bold">{{data.titulo}}</mat-label>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor">
        <div mat-dialog-content class="contenido text-align-center">
            <mat-label class="text-15">
                {{ data.contenido }}
            </mat-label>
        </div>
    </div>

    <form [formGroup]="formReemplazar">
        <div class="contenedor mt-40">
            <div mat-dialog-content class="contenido text-align-center">
                <mat-form-field class="text-15">
                    <input autocomplete="off" required matInput formControlName="parametroAEliminar" readonly [placeholder]=data.parametroActualLabel>
                </mat-form-field>
            </div>

            <div mat-dialog-content class="contenido text-align-center">
                <mat-form-field class="text-15">
                    <mat-select [placeholder]=data.parametroReemplazoLabel name="parametroReemplazo" formControlName="parametroReemplazo">
                        <mat-option *ngFor="let itemParametroReemplazo of listParametrosReemplazo" [value]="itemParametroReemplazo.id">
                            {{ itemParametroReemplazo.descripcion }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div mat-dialog-actions class="contenedor">
            <div class="bt-contenedor contenido">
                <div class="ml-10 mr-10 div-left">
                    <button mat-button class="bt-cancelar-gray" mat-stroked-button [mat-dialog-close]="data.buttonCancelar" cdkFocusInitial>
                        <span class="text text-15 color_white text-2lines">{{ data.buttonCancelar }}</span>
                    </button>
                </div>
                <div class="ml-10 mr-10 div-right">
                    <button mat-button class="bt-actions-red" mat-stroked-button [disabled]="btReemplazarDisable" (click)="reemplarzar()">
                        <span class="text text-15 color_white text-2lines">{{data.buttonReemplazar}}</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>