<div class="main-contaniner text">
    <mat-tab-group>
        <mat-tab *ngIf="ver_certificados_viculados">
            <ng-template mat-tab-label>
                <img class="mr-tab-icon" src="assets/svg/icons/certificadosPersonas.svg" alt="warning" />
                <span (click)="iniciarPestanaVinculados()">{{'certificados.certificados_por_vinculados' | translate}}</span>
            </ng-template>            
                <app-cert-vinculados-listar></app-cert-vinculados-listar>            
        </mat-tab>
        <mat-tab *ngIf="ver_certificados_negocios">
            <ng-template mat-tab-label>
                <img class="mr-tab-icon" src="assets/svg/icons/certificadosEdificio.svg" alt="warning" />
                <span (click)="iniciarPestanaNegocios()">{{'certificados.certificados_por_negocios' | translate}}</span>
            </ng-template>
            <app-cert-negocios-listar></app-cert-negocios-listar>
        </mat-tab>
        <!--
        <mat-tab *ngIf="ver_certificados_viculados">
            <ng-template mat-tab-label>
                <img class="mr-tab-icon" src="assets/svg/icons/infoGeneral.svg" alt="warning" />
                <span (click)="iniciarPestanaVinculados()">{{'certificados.certificados_por_vinculados' | translate }}</span>
            </ng-template>
            
            <app-certificados-vinculados></app-certificados-vinculados>
        </mat-tab>

        <mat-tab *ngIf="ver_certificados_negocios">
            <ng-template mat-tab-label>
                <img class="mr-tab-icon" src="assets/svg/icons/infoGeneral.svg" alt="warning" />
                <span (click)="iniciarPestanaNegocios()">{{'certificados.certificados_por_negocios' | translate}}</span>
            </ng-template>
            <app-certificados-negocios></app-certificados-negocios>
        </mat-tab>
    -->
     
    </mat-tab-group>
</div>