<div class="main-contaniner text">
  <div class="container-form">
    <mat-tab-group mat-stretch-tabs>

      <mat-tab *ngIf="parametros_generales">
        <ng-template mat-tab-label>
          <span (click)="onClickResetLoadInfo()">{{'parametros.parametros_generales' | translate }}</span>
        </ng-template>
        <div class="mt-56">
          <mat-label>{{'parametros.valores_parametros_predeterminados' | translate }}</mat-label>
        </div>
        <form [formGroup]="dynamicForm">

          <div class="mt-56">
            <div class="div-left param-gral-descrip">
              <mat-label>{{'parametros.costo_medios_pagos' | translate }}</mat-label>
            </div>
            <div class="div-center param-gral-unidad ml-110">
              <mat-label>{{'parametros.unidad' | translate }}</mat-label>
            </div>
            <div class="div-right param-gral-valor w-180">
              <mat-label>{{'parametros.valor_costo' | translate }}</mat-label>
            </div>
          </div>

          <div formArrayName="costosPago">
            <div *ngFor="let itemCostoPago of costosPagoFormArray.controls; let i = index;">
              <div [formGroupName]="i" class="container">
                <div class="div-left">
                  <span *ngIf="parametros_generales_escribe" class="align-icon">
                      <mat-icon class="div-button material-icons color_gray">check_circle</mat-icon>  
                  </span>
                  <span *ngIf="!getIdCostoPago(i)">
                    <mat-form-field class="param-gral-descrip-content">
                      <input matInput formControlName="descripcion" placeholder="" readonly />
                    </mat-form-field>
                  </span>
                  <span *ngIf="getIdCostoPago(i)">
                    <mat-form-field class="param-gral-descrip-content">
                      <input matInput maxlength="50" [readonly]="!parametros_generales_escribe"
                        formControlName="descripcion" placeholder="Medios Costos de Pagos"
                        oninput="this.value = this.value.toUpperCase()">
                    </mat-form-field>
                  </span>
                </div>
                <div class="div-center ml-80">
                  <mat-form-field class="param-gral-unidad-content">
                    <mat-select placeholder=""
                      [disabled]="!parametros_generales_escribe" name="unidadCosto"
                      formControlName="unidad">
                      <mat-option *ngFor="let unidadCosto of unidadCostoList" [value]="unidadCosto.value">
                        {{ unidadCosto.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="div-right ml-80">
                  <mat-form-field class="param-gral-valor-content">
                    <input matInput OnlyNumber="true" decimal="true"
                      maxLenth="20" maxValor="99999999999999999999"
                      (focusout)="setFormatNumberDecimal($event,2,itemCostoPago.value.unidad)"
                      onkeypress="return String.fromCharCode(event.charCode).match(/[0-9]\.[0-9]{0,2}$/g) === null"
                      formControlName="valor"
                      [readonly]="!parametros_generales_escribe" />
                    <input hidden formControlName="id">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>


          <div class="mt-56">
            <div class="div-left param-gral-descrip">
              <mat-label>{{'parametros.retenciones' | translate }}</mat-label>
            </div>
            <div class="div-center param-gral-unidad ml-110">
              <mat-label>{{'parametros.unidad' | translate }}</mat-label>
            </div>
            <div class="div-right param-gral-valor w-180">
              <mat-label>{{'parametros.valor_retencion' | translate }}</mat-label>
            </div>
          </div>

          <div formArrayName="retenciones">
            <div *ngFor="let itemRetencion of retencionFormArray.controls; let i = index;">
              <div [formGroupName]="i" class="container">
                <div class="div-left">
                  <span *ngIf="parametros_generales_escribe" class="align-icon">
                    <span *ngIf="itemRetencion.value.descripcion != 'RETEFUENTE'">
                      <mat-icon class="div-button material-icons color_gray"
                        (click)="removeFromRetencionFormArray(i,itemRetencion.value)">
                        remove_circle</mat-icon>
                    </span>
                    <span *ngIf="itemRetencion.value.descripcion == 'RETEFUENTE'">
                      <mat-icon class="div-button material-icons color_gray">
                      check_circle</mat-icon>
                    </span>
                  </span>
                  <span *ngIf="!getIdRetenciones(i)">
                    <mat-form-field class="param-gral-descrip-content">
                      <input matInput formControlName="descripcion" placeholder="" readonly />
                    </mat-form-field>
                  </span>
                  <span *ngIf="getIdRetenciones(i)">
                    <mat-form-field class="param-gral-descrip-content">
                      <input matInput formControlName="descripcion"
                      [readonly]="!parametros_generales_escribe"
                      maxlength="50" placeholder=""
                        oninput="this.value = this.value.toUpperCase()"
                        autocomplete="off" #retencionDescripcion
                        (focusout)="validarRetencionDescripcion(retencionDescripcion.value)">
                    </mat-form-field>
                  </span>
                </div>
                <div class="div-center ml-80">
                  <mat-form-field class="param-gral-unidad-content">
                    <mat-select placeholder="" [disabled]="!parametros_generales_escribe" name="unidad"
                      formControlName="unidad">
                      <mat-option *ngFor="let unidadRentencion of unidadRetencionList" [value]="unidadRentencion.value">
                        {{ unidadRentencion.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="div-right ml-80">
                  <mat-form-field class="param-gral-valor-content">
                    <input matInput OnlyNumber="true" decimal="true"
                      maxLenth="20" maxValor="99999999999999999999"
                      (focusout)="setFormatNumberDecimal($event,2,itemRetencion.value.unidad)"
                      onkeypress="return String.fromCharCode(event.charCode).match(/[0-9]\.[0-9]{0,2}$/g) === null"
                      formControlName="valor"
                      [readonly]="!parametros_generales_escribe"/>
                    <input hidden formControlName="id">
                  </mat-form-field>
                </div>
              </div>
            </div>

            <span class="linea-completa mensajeError" *ngIf="cantidadRetencionRepetida" >
              <mat-label>{{'parametros.mensaje_error_retencion' | translate }}</mat-label>
            </span>

            <div *ngIf="parametros_generales_escribe" class="div-button float-right"
              (click)="addToRentencionFormArray()">
              <div>
                <div class="div-left">
                  <mat-icon class="div-button material-icons color_gray">add_circle</mat-icon>
                </div>
                <div class="div-right color_gray">
                  {{'parametros.anadir_otro' | translate }}
                </div>
              </div>
            </div>
          </div>

          <div class="mt-56">
            <div class="div-left param-fecha-descrip">
              <mat-label>{{'parametros.tipo_fecha_clave' | translate }}</mat-label>
            </div>

            <div class="div-right param-fecha-valor">
              <mat-label>{{'parametros.tiempo_alerta_fecha_vencimiento' | translate }}</mat-label>
            </div>
          </div>

          <div formArrayName="fechasClave">
            <div *ngFor="let itemFechaClave of fechaClaveFormArray.controls; let i = index;">
              <div [formGroupName]="i" class="container">
                <div class="div-left">
                  <span *ngIf="parametros_generales_escribe" class="align-icon">
                    <mat-icon class="div-button material-icons color_gray"
                      (click)="removeFromFechaClaveFormArray(i,itemFechaClave.value)">
                      remove_circle</mat-icon>
                  </span>
                  <span *ngIf="!getIdFechasClave(i)">
                    <mat-form-field class="param-gral-descrip-content">
                      <input matInput formControlName="descripcion" placeholder="" readonly />
                    </mat-form-field>
                  </span>
                  <span *ngIf="getIdFechasClave(i)">
                    <mat-form-field class="param-gral-descrip-content">
                      <input matInput formControlName="descripcion" maxlength="50" placeholder=""
                        oninput="this.value = this.value.toUpperCase()">
                    </mat-form-field>
                  </span>
                </div>
                <div class="div-center ml-80">
                  <mat-form-field class="param-fecha-valor-content">
                    <input matInput type="text" [readonly]="!parametros_generales_escribe" formControlName="valor"
                      appDigitNumber maxlength="3" />
                    <input hidden formControlName="id">
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div *ngIf="parametros_generales_escribe" class="div-button float-right"
              (click)="addToFechaClaveFormArray()">
              <div>
                <div class="div-left">
                  <mat-icon class="div-button material-icons color_gray">add_circle</mat-icon>
                </div>
                <div class="div-right color_gray">
                  {{'parametros.anadir_otro' | translate }}
                </div>
              </div>
            </div>
          </div>

          <div class="mt-200 contenedor-button">
            <div class="contenido-button">
              <span *ngIf="parametros_generales_escribe">
                <button class="bt-save-change" mat-stroked-button color="primary" [disabled]="dynamicForm.invalid"
                  (click)="saveSimples()">
                  <span class="text text-content color_white">{{'parametros.bt_guardar_cambios' | translate }}</span>
                </button>
              </span>
            </div>
          </div>
        </form>

      </mat-tab>

      <mat-tab *ngIf="roles_terceros">
        <ng-template mat-tab-label>
          <span (click)="onClickResetLoadInfo()">{{'parametros.roles_tercero' | translate }}</span>
        </ng-template>

        <div class="mt-56">
          <div class="div-left param-rol-descrip">
            <mat-label> {{'parametros.roles_tercero' | translate }}</mat-label>
          </div>
        </div>
        <form [formGroup]="dynamicFormTercero">

          <div formArrayName="roles">
            <div *ngFor="let itemRol of rolFormArray.controls; let i = index;">
              <div [formGroupName]="i" class="container display-inblo">

                <div class="div-left">
                  <span *ngIf="roles_terceros_escribe" class="align-icon">
                    <mat-icon class="div-button material-icons color_gray"
                      (click)="removeFromRolFormArray(i,itemRol.value)">
                      remove_circle</mat-icon>
                  </span>
                  <span>
                    <mat-form-field class="param-gral-descrip-content">
                      <input matInput formControlName="rol" placeholder="" maxlength="50"
                        oninput="this.value = this.value.toUpperCase()">
                      <input hidden formControlName="idRol">
                    </mat-form-field>
                  </span>
                </div>

                <div class="div-center ml-80 mt-20">
                  <mat-checkbox formControlName="tercero" [(indeterminate)]="indeterminate"
                    [labelPosition]="labelPosition" [disabled]="!roles_terceros_escribe">
                    {{'parametros.tercero' | translate }}
                  </mat-checkbox>
                  <input hidden formControlName="idTercero">
                </div>

                <div class="div-right ml-80 mt-20">
                  <mat-checkbox formControlName="comite" [(indeterminate)]="indeterminate"
                    [labelPosition]="labelPosition" [disabled]="!roles_terceros_escribe">
                    {{'parametros.miembro_comite' | translate }}
                  </mat-checkbox>
                  <input hidden formControlName="idComite">
                </div>

              </div>
            </div>

            <div *ngIf="roles_terceros_escribe" class="div-button float-right mt-20" (click)="addToRolFormArray()">
              <div>
                <div class="div-left">
                  <mat-icon class="div-button material-icons color_gray">add_circle</mat-icon>
                </div>
                <div class="div-right color_gray">
                  {{'parametros.anadir_otro' | translate }}
                </div>
              </div>
            </div>
          </div>

          <div class="mt-200 contenedor-button">
            <div class="contenido-button">
              <span *ngIf="roles_terceros_escribe">
                <button class="bt-save-change" mat-stroked-button color="primary"
                  [disabled]="dynamicFormTercero.invalid" (click)="saveRolTercero()">
                  <span class="text text-content color_white">{{'parametros.bt_guardar_cambios' | translate }}</span>
                </button>
              </span>
            </div>
          </div>
        </form>
      </mat-tab>

      <mat-tab *ngIf="tipo_negocio_gasto">
        <ng-template mat-tab-label>
          <span (click)="onClickResetLoadInfo()">{{'parametros.tipo_negocio_gasto' | translate }}</span>
        </ng-template>
        <div class="mt-56">
          <mat-label>{{'parametros.valores_parametros_predeterminados' | translate }}</mat-label>
        </div>

        <form [formGroup]="dynamicFormNegocios">

          <div class="mt-56">
            <div class="div-left param-fecha-descrip">
              <mat-label>{{'parametros.tipo_negocio' | translate }}</mat-label>
            </div>
            <div class="div-right param-fecha-valor">
              <mat-label>{{'parametros.retencion_aplica' | translate }}</mat-label>
            </div>
          </div>
          <div formArrayName="negocios">
            <div *ngFor="let itemNegocio of negocioFormArray.controls; let i = index;">
              <div [formGroupName]="i" class="container">

                <div class="div-left">
                  <span *ngIf="tipo_negocio_gasto_escribe" class="align-icon">
                    <mat-icon class="div-button material-icons color_gray"
                      (click)="removeFromNegocioFormArray(i,itemNegocio.value)">
                      remove_circle</mat-icon>
                  </span>
                  <span>
                    <mat-form-field class="param-gral-descrip-content">
                      <input matInput formControlName="descripcion" maxlength="50" placeholder=""
                        oninput="this.value = this.value.toUpperCase()"
                        autocomplete="off" #tipoNegocioDescripcion
                        (focusout)="validarTipoNegocioDescripcion(tipoNegocioDescripcion.value)">
                      <input hidden formControlName="id">
                    </mat-form-field>
                  </span>
                </div>
                <div class="div-center ml-80">
                  <mat-form-field class="param-tipo-negocio-valor-content">
                    <mat-select [disabled]="!tipo_negocio_gasto_escribe" formControlName="retencionMultiCtrl"
                      placeholder="" [multiple]="true" [compareWith]="comparer">
                      {{filteredRetencionesMulti}}
                      <mat-select-search [formControl]="retencionMultiFilterCtrl"></mat-select-search>
                      <mat-option *ngFor="let rentencion of filteredRetencionesMulti | async" [value]="rentencion">
                        {{rentencion.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <span class="linea-completa mensajeError" *ngIf="cantidadTipoNegocioRepetida" >
              <mat-label>{{'parametros.mensaje_error_tipoNegocio' | translate }}</mat-label>
            </span>
            <div class="linea-completa">
              <div *ngIf="tipo_negocio_gasto_escribe" class="div-button float-right mt-20"
                (click)="addToNegocioFormArray()">
                <div>
                  <div class="div-left">
                    <mat-icon class="div-button material-icons color_gray">add_circle</mat-icon>
                  </div>
                  <div class="div-right color_gray">
                    {{'parametros.anadir_tipo_negocio' | translate }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-56">
            <div class="div-left param-fecha-descrip">
              <mat-label>{{'parametros.tipo_naturaleza_juridica' | translate }} </mat-label>
            </div>
            <div class="div-right param-fecha-valor">
              <mat-label>{{'parametros.retencion_aplica' | translate }}</mat-label>
            </div>
          </div>

          <div formArrayName="naturalezaJuridica">
            <div *ngFor="let itemNaturaleza of naturalezaJuridicaFormArray.controls; let i = index;">
              <div [formGroupName]="i" class="container">

                <div class="div-left">
                  <span *ngIf="tipo_negocio_gasto_escribe" class="align-icon">
                    <span *ngIf="itemNaturaleza.value.descripcion != 'NATURAL' && itemNaturaleza.value.descripcion != 'JURIDICA'">
                      <mat-icon class="div-button material-icons color_gray"
                        (click)="removeFromNaturalezaJuridicaFormArray(i,itemNaturaleza.value)">
                        remove_circle</mat-icon>
                    </span>
                    <span *ngIf="itemNaturaleza.value.descripcion == 'NATURAL' || itemNaturaleza.value.descripcion == 'JURIDICA'">
                      <mat-icon class="div-button material-icons color_gray">check_circle</mat-icon>
                    </span>
                  </span>
                  <span *ngIf="!getIdNaturalezaJuridica(i)">
                    <mat-form-field class="param-gral-descrip-content">
                      <input matInput formControlName="descripcion" placeholder="" readonly />
                      <input hidden formControlName="id">
                    </mat-form-field>
                  </span>

                  <span *ngIf="getIdNaturalezaJuridica(i)">
                    <mat-form-field class="param-gral-descrip-content">
                      <input matInput formControlName="descripcion" maxlength="50" placeholder=""
                        oninput="this.value = this.value.toUpperCase()"
                        autocomplete="off" #naturalezaDescripcion
                        (focusout)="validarNaturalezaDescripcion(naturalezaDescripcion.value)">
                      <input hidden formControlName="id">
                    </mat-form-field>
                  </span>

                </div>
                <div class="div-center ml-80">
                  <mat-form-field class="param-naturaleza-juridica-valor-content">
                    <mat-select [disabled]="!tipo_negocio_gasto_escribe" formControlName="retencionMultiCtrl"
                      placeholder="" [multiple]="true" [compareWith]="comparer">
                      {{filteredRetencionesMulti}}
                      <mat-select-search [formControl]="retencionMultiFilterCtrl"></mat-select-search>
                      <mat-option *ngFor="let rentencion of filteredRetencionesMulti | async" [value]="rentencion">
                        {{rentencion.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <span class="linea-completa mensajeError" *ngIf="cantidadNaturezaRepetida" >
              <mat-label>{{'parametros.mensaje_error_naturaleza' | translate }}</mat-label>
            </span>

            <div class="linea-completa">
              <div *ngIf="tipo_negocio_gasto_escribe" class="div-button float-right mt-20"
                (click)="addToNaturalezaJuridicaFormArray()">
                <div>
                  <div class="div-left">
                    <mat-icon class="div-button material-icons color_gray">add_circle</mat-icon>
                  </div>
                  <div class="div-right color_gray">
                    {{'parametros.anadir_tipo_naturaleza_jurídica' | translate }}
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="mt-56">
            <div class="div-left param-fecha-descrip">
              <mat-label>{{'parametros.tipo_gasto' | translate }}</mat-label>
            </div>
            <div class="div-right param-fecha-valor">
              <mat-label>{{'parametros.retencion_aplica' | translate }}</mat-label>
            </div>
          </div>

          <div formArrayName="tipoGasto">
            <div *ngFor="let itemTipoGasto of tipoGastoFormArray.controls; let i = index;">
              <div [formGroupName]="i" class="container">

                <div class="div-left">
                  <span *ngIf="tipo_negocio_gasto_escribe" class="align-icon">
                    <mat-icon class="div-button material-icons color_gray"
                      (click)="removeFromTipoGastoFormArray(i, itemTipoGasto.value)">
                      remove_circle</mat-icon>
                  </span>
                  <span>
                    <mat-form-field class="param-gral-descrip-content">
                      <input matInput formControlName="descripcion" maxlength="50" placeholder="Tipo Gasto"
                        oninput="this.value = this.value.toUpperCase()"
                        autocomplete="off" #tipoGastoDescripcion
                        (focusout)="validarTipoGastoDescripcion(tipoGastoDescripcion.value)">
                      <input hidden formControlName="id">
                    </mat-form-field>
                  </span>
                </div>
                <div class="div-center ml-80">
                  <mat-form-field class="param-tipo-gasto-valor-content">
                    <mat-select [disabled]="!tipo_negocio_gasto_escribe" formControlName="retencionMultiCtrl"
                      placeholder="" [multiple]="true" [compareWith]="comparer">
                      {{filteredRetencionesMulti}}
                      <mat-select-search [formControl]="retencionMultiFilterCtrl"></mat-select-search>
                      <mat-option *ngFor="let rentencion of filteredRetencionesMulti | async" [value]="rentencion">
                        {{rentencion.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <span class="linea-completa mensajeError" *ngIf="cantidadTipoGastoRepetida" >
              <mat-label>{{'parametros.mensaje_error_tipoGasto' | translate }}</mat-label>
            </span>

            <div class="linea-completa">
              <div *ngIf="tipo_negocio_gasto_escribe" class="div-button float-right mt-20"
                (click)="addToTipoGastoFormArray()">
                <div>
                  <div class="div-left">
                    <mat-icon class="div-button material-icons color_gray">add_circle</mat-icon>
                  </div>
                  <div class="div-right color_gray">
                    {{'parametros.anadir_gasto' | translate }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-200 contenedor-button">
            <div class="contenido-button">
              <span *ngIf="tipo_negocio_gasto_escribe">
                <button class="bt-save-change" mat-stroked-button color="primary"
                  [disabled]="dynamicFormNegocios.invalid" (click)="saveTipoNegocio()">
                  <span class="text text-content color_white">{{'parametros.bt_guardar_cambios' | translate }}</span>
                </button>
              </span>
            </div>
          </div>
        </form>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>