<div class="main-contaniner text">
    <div class="container-form">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="h-30">
            <mat-button-toggle disabled clase="h-30">{{ documento.documento }}
            </mat-button-toggle>
            <mat-button-toggle disabled clase="h-30">{{ beneficiario }}
            </mat-button-toggle>
        </mat-button-toggle-group>
        <mat-tab-group>
            <mat-tab *ngIf="datos_generales">
                <ng-template mat-tab-label>
                    <mat-icon matSuffix svgIcon="link" class="mr-tab-icon"></mat-icon>
                    <span (click)="iniciarPestana()">Datos Generales</span>
                </ng-template>
                <div class="beneficiario-datos-generales">
                    <form [formGroup]="beneficiarioDetalleForm" novalidate>
                        <div class="div-table">
                            <div class="div-table-row">
                                <div class="div-table-col">
                                    <mat-form-field class="mw-360">
                                        <mat-label>{{'beneficiario_detalle.fecha_diligenciamiento' | translate }}
                                        </mat-label>
                                        <input matInput placeholder="Fecha" formControlName="fecha" type="text"
                                            readonly />
                                    </mat-form-field>
                                </div>
                                <div class="div-table-col">
                                    <mat-form-field class="mw-360">
                                        <mat-label>{{'beneficiario_detalle.ciudad' | translate }}</mat-label>
                                        <input matInput placeholder="Ciudad" formControlName="ciudad" type="text"
                                            readonly />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="div-table-row">
                                <div class="div-table-col div-table-col-right">
                                    <mat-form-field class="mw-360">
                                        <mat-label>{{'beneficiario_detalle.oficina' | translate }}</mat-label>
                                        <input matInput placeholder="oficina" formControlName="oficina" type="text"
                                            readonly />
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="div-table-row">
                                <div class="div-table-col">
                                    <mat-form-field class="mw-360">
                                        <mat-label>{{'beneficiario_detalle.tipo_vinculacion' | translate }}</mat-label>
                                        <input matInput placeholder="Vinculación" formControlName="vinculacion"
                                            type="text" readonly />
                                    </mat-form-field>
                                </div>
                                <div class="div-table-col">
                                    <mat-form-field class="mw-360">
                                        <mat-label>{{'beneficiario_detalle.naturaleza_juridica' | translate }}
                                        </mat-label>
                                        <input matInput placeholder="Naturaleza jurídica" formControlName="titular"
                                            type="text" readonly />
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="!juridica">
                            <mat-label>{{'beneficiario_detalle.informacion_contacto_persona_natural' | translate }}
                            </mat-label>
                            <div class="mt-40 div-table">
                                <div class="div-table-row">
                                    <div class="div-table-col">
                                        <mat-form-field class="mw-360">
                                            <mat-label>{{'beneficiario_detalle.tipo_identificacion' | translate }}
                                            </mat-label>
                                            <input matInput placeholder="Tipo de identificación"
                                                formControlName="tipoIdentificacion" type="text" readonly />
                                        </mat-form-field>
                                    </div>
                                    <div class="div-table-col">
                                        <mat-form-field class="mw-360">
                                            <mat-label>{{'beneficiario_detalle.numero_identificacion' | translate }}
                                            </mat-label>
                                            <input matInput placeholder="Número de identificación"
                                                formControlName="numeroIdentificacion" type="text" readonly />
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="div-table-row">
                                    <div class="div-table-col">
                                        <mat-form-field class="mw-360">
                                            <mat-label>{{'beneficiario_detalle.telefono_contacto' | translate }}
                                            </mat-label>
                                            <input matInput placeholder="Teléfono de contacto"
                                                formControlName="telefonoContacto" type="text" readonly />
                                        </mat-form-field>
                                    </div>
                                    <div class="div-table-col">
                                        <mat-form-field class="mw-360">
                                            <mat-label>{{'beneficiario_detalle.correo_electronico' | translate }}
                                            </mat-label>
                                            <input matInput placeholder="Correo electrónico"
                                                formControlName="emailContacto" type="text" readonly />
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="div-table-row">
                                    <div class="div-table-col">
                                        <mat-form-field class="mw-360">
                                            <mat-label>{{'beneficiario_detalle.pais_residencia' | translate }}
                                            </mat-label>
                                            <input matInput placeholder="País de residencia"
                                                formControlName="paisResidencia" type="text" readonly />
                                        </mat-form-field>
                                    </div>
                                    <div class="div-table-col">
                                        <mat-form-field class="mw-360">
                                            <mat-label>{{'beneficiario_detalle.ciudad_residencia' | translate }}
                                            </mat-label>
                                            <input matInput placeholder="Ciudad de residencia"
                                                formControlName="ciudadResidencia" type="text" readonly />
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="div-table-row">
                                    <div class="div-table-col">
                                        <mat-form-field class="mw-360">
                                            <mat-label>{{'beneficiario_detalle.envio_correspondencia' | translate }}
                                            </mat-label>
                                            <input matInput placeholder="Envío de correspondencia"
                                                formControlName="direccionCorrespondencia" type="text" readonly />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="juridica">
                            <mat-label>{{'beneficiario_detalle.informacion_contacto_persona_juridica' | translate }}</mat-label>

                            <div class="mt-40 div-table">
                                <div class="div-table-row">
                                    <div class="div-table-col">
                                        <mat-form-field class="mt-20 mw-360">
                                            <mat-label>{{'beneficiario_detalle.tipo_identificacion' | translate }}</mat-label>
                                            <input matInput placeholder="Tipo de identificación"
                                                formControlName="tipoIdentificacion" type="text" readonly />
                                        </mat-form-field>
                                    </div>
                                    <div class="div-table-col">
                                        <mat-form-field class="mt-20 mw-360">
                                            <mat-label>{{'beneficiario_detalle.numero_identificacion' | translate }}</mat-label>
                                            <input matInput placeholder="Número de identificación"
                                                formControlName="numeroIdentificacion" type="text" readonly />
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="div-table-row">
                                    <div class="div-table-col">
                                        <mat-label>{{'beneficiario_detalle.representante_legal' | translate }}</mat-label>
                                    </div>
                                </div>

                                <div class="div-table-row mt-20">
                                    <div class="div-table-col">
                                        <mat-form-field class="mw-360">
                                            <mat-label>{{'beneficiario_detalle.representante_legal' | translate }}</mat-label>
                                            <input matInput placeholder="Representante legal"
                                                formControlName="nombreCompleto" type="text" readonly />
                                        </mat-form-field>
                                    </div>
                                    <div class="div-table-col">
                                        <mat-form-field class="mw-360">
                                            <mat-label>{{'beneficiario_detalle.tipo_identificacion' | translate }}</mat-label>
                                            <input matInput placeholder="Tipo de identificación"
                                                formControlName="tipoIdentificacion" type="text" readonly />
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="div-table-row">
                                    <div class="div-table-col">
                                        <mat-form-field class="mw-360">
                                            <mat-label>{{'beneficiario_detalle.numero_identificacion' | translate }}</mat-label>
                                            <input matInput placeholder="Número de identificación"
                                                formControlName="numeroIdentificacion" type="text" readonly />
                                        </mat-form-field>
                                    </div>
                                    <div class="div-table-col">
                                        <mat-form-field class="mw-360">
                                            <mat-label>{{'beneficiario_detalle.telefono_contacto' | translate }}</mat-label>
                                            <input matInput placeholder="Teléfono de contacto"
                                                formControlName="telefonoContacto" type="text" readonly />
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="div-table-row">
                                    <div class="div-table-col">
                                        <mat-form-field class="mw-360">
                                            <mat-label>{{'beneficiario_detalle.correo_electronico' | translate }}</mat-label>
                                            <input matInput placeholder="Correo electrónico"
                                                formControlName="emailContacto" type="text" readonly />
                                        </mat-form-field>
                                    </div>
                                    <div class="div-table-col">
                                        <mat-form-field class="mw-360">
                                            <mat-label>{{'beneficiario_detalle.pais_residencia' | translate }}</mat-label>
                                            <input matInput placeholder="País de residencia"
                                                formControlName="paisResidencia" type="text" readonly />
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="div-table-row">
                                    <div class="div-table-col">
                                        <mat-form-field class="mw-360">
                                            <mat-label>{{'beneficiario_detalle.ciudad_residencia' | translate }}</mat-label>
                                            <input matInput placeholder="Ciudad de residencia"
                                                formControlName="ciudadResidencia" type="text" readonly />
                                        </mat-form-field>
                                    </div>
                                    <div class="div-table-col">
                                        <mat-form-field class="mw-360">
                                            <mat-label>{{'beneficiario_detalle.envio_correspondencia' | translate }}</mat-label>
                                            <input matInput placeholder="Envío de correspondencia"
                                                formControlName="direccionCorrespondencia" type="text" readonly />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <mat-label>{{'beneficiario_detalle.solicitud_cambio_datos' | translate }}</mat-label>
                    
                    <form [formGroup]="solicitudCambioDynamicForm">
                        <div class="div-table  mt-20">
                            <div class="div-table-row">
                                <div class="div-table-col-16">{{'beneficiario_detalle.fecha_solicitud' | translate }}</div>
                                <div class="div-table-col-16">{{'beneficiario_detalle.campo_modificar' | translate }}</div>
                                <div class="div-table-col-16">{{'beneficiario_detalle.informacion_modificada' | translate }}</div>
                                <div class="div-table-col-16">{{'beneficiario_detalle.profesional_solicitante' | translate }}</div>
                                <div class="div-table-col-16">{{'beneficiario_detalle.numero_radicado' | translate }}</div>
                                <div class="div-table-col-16"></div>
                            </div>
                            <div formArrayName="solicitudCambio">
                                <div *ngFor="
                    let filter of solicitudCambioFormArray.controls;
                    let i = index
                  ">
                                    <div [formGroupName]="i" class="container">
                                        <div class="div-table-row">
                                            <mat-form-field class="invisible">
                                                <input matInput formControlName="idSolicitud" placeholder=""
                                                    [hidden]="true" />
                                            </mat-form-field>

                                            <div class="div-table-col-2" *ngIf="getIdSolicitud(i)">
                                                <span class="align-icon">
                                                    <mat-icon class="div-button material-icons color_gray"
                                                        (click)="removeFromSolicitudFormArray(i)">
                                                        remove_circle</mat-icon>
                                                </span>
                                            </div>
                                            <div class="div-table-col-2" *ngIf="!getIdSolicitud(i)">
                                                <span class="align-icon"> &nbsp;
                                                </span>
                                            </div>
                                            <div class="div-table-col-11">
                                                <span>
                                                    <mat-form-field class="benef-cambio-fecha">
                                                        <input matInput formControlName="fechaSolicitud" placeholder=""
                                                            readonly />
                                                    </mat-form-field>
                                                </span>
                                            </div>

                                            <div class="div-table-col-16">
                                                <span *ngIf="!getIdSolicitud(i)">
                                                    <mat-form-field class="benef-cambio-campo">
                                                        <input matInput formControlName="campoAModificar" placeholder=""
                                                            readonly />
                                                    </mat-form-field>
                                                </span>

                                                <span *ngIf="getIdSolicitud(i)">
                                                    <mat-form-field class="benef-cambio-campo top-1rem ">
                                                        <mat-select placeholder="" name="campoAModificar"
                                                            formControlName="campoAModificar">
                                                            <mat-option *ngFor="let campoModificar of listCampos"
                                                                [value]="campoModificar.campo">
                                                                {{ campoModificar.descripcion }}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </span>
                                            </div>

                                            <div class="div-table-col-16">
                                                <span *ngIf="!getIdSolicitud(i)">
                                                    <mat-form-field class="benef-cambio-dato">
                                                        <input matInput formControlName="datoNuevo" placeholder=""
                                                            readonly />
                                                    </mat-form-field>
                                                </span>

                                                <span *ngIf="getIdSolicitud(i)">
                                                    <mat-form-field class="benef-cambio-dato">
                                                        <input matInput maxlength="100" formControlName="datoNuevo"
                                                            placeholder=""
                                                            oninput="this.value = this.value.toUpperCase()" />
                                                    </mat-form-field>
                                                </span>
                                            </div>

                                            <div class="div-table-col-16">
                                                <span>
                                                    <mat-form-field class="benef-cambio-profesional">
                                                        <input matInput formControlName="profesional" placeholder=""
                                                            readonly />
                                                    </mat-form-field>
                                                </span>
                                            </div>

                                            <div class="div-table-col-16">
                                                <span *ngIf="!getIdSolicitud(i)">
                                                    <mat-form-field class="benef-cambio-radicado">
                                                        <input matInput formControlName="numeroRadicado" placeholder=""
                                                            readonly />
                                                    </mat-form-field>
                                                </span>
                                                <span *ngIf="getIdSolicitud(i)">
                                                    <mat-form-field class="benef-cambio-radicado">
                                                        <input matInput type="text" maxlength="18"
                                                            formControlName="numeroRadicado" placeholder="" />
                                                    </mat-form-field>
                                                </span>
                                            </div>

                                            <div class="div-table-col-14" *ngIf="!getIdSolicitud(i) || !btEnviar">
                                                <div>
                                                    <button class="benef-cambio-boton" class="bt-gris"
                                                        mat-stroked-button color="primary" [disabled]="true">
                                                        <mat-icon class="cls-2" svgIcon="af_email"></mat-icon>
                                                        <span class="text-list color_white ml-10">{{'beneficiario_detalle.solicitada' | translate }}</span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="div-table-col-14"
                                                *ngIf="getIdSolicitud(i) && datos_generales_escribe">
                                                <span class="align-icon color_gray div-button"
                                                    (click)="addToSolicitudCambioFormArray()">
                                                    <mat-icon class="div-button material-icons color_gray"> add_circle
                                                    </mat-icon>{{'beneficiario_detalle.agregar' | translate }}
                                                </span>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="!btAgregarOtro && datos_generales_escribe" class="float-right">
                                    <div class="div-button" *ngIf="btEnviar">
                                        <button class="benef-cambio-boton" class="bt-rojo" mat-stroked-button
                                            color="primary" [disabled]="solicitudCambioDynamicForm.invalid"
                                            (click)="enviarInformacion()">
                                            <mat-icon class="cls-2" svgIcon="af_email"></mat-icon>
                                            <span class="text-list color_white ml-10">{{'beneficiario_detalle.solicitar' | translate }}</span>
                                        </button>
                                    </div>
                                </div>
                                <div *ngIf="btAgregarOtro && datos_generales_escribe" class="div-button float-right"
                                    (click)="addToSolicitudCambioFormArray()">
                                    <div>
                                        <div class="div-left">
                                            <mat-icon class="div-button material-icons color_gray">add_circle</mat-icon>
                                        </div>
                                        <div class="div-right color_gray">{{'beneficiario_detalle.nueva_solicitud' | translate }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </mat-tab>


            <mat-tab *ngIf="negocios_asociados">
                <ng-template mat-tab-label>
                    <mat-icon matSuffix svgIcon="upmoney" class="mr-tab-icon"></mat-icon>
                    <span (click)="iniciarPestanaNegocioAsociado()">{{'beneficiario_detalle.negocios_asociados' | translate }}</span>
                </ng-template>
                <div>
                    <app-beneficiario-negocios *ngIf="!showDatosDistribucion() && !showDatosInfoFinanciera()">
                    </app-beneficiario-negocios>
                    <app-beneficiario-distribucion *ngIf="showDatosDistribucion() && !showDatosInfoFinanciera()">
                    </app-beneficiario-distribucion>
                    <app-informacion-financiera *ngIf="showDatosInfoFinanciera() && !showDatosDistribucion()">
                    </app-informacion-financiera>
                </div>
            </mat-tab>
            <mat-tab *ngIf="historial_modificaciones">
                <ng-template mat-tab-label>
                    <mat-icon matSuffix svgIcon="diary" class="mr-tab-icon"></mat-icon>
                    <span (click)="iniciarPestanaHistorial()">
                        {{'beneficiario_detalle.historial_modificaciones' | translate }}</span>
                </ng-template>
                <div>
                    <app-beneficiario-historial *ngIf="showBeneficiarioHistorial()"></app-beneficiario-historial>
                    <app-beneficiario-historial-pagos *ngIf="showBeneficiarioHistorialPagos()">
                    </app-beneficiario-historial-pagos>
                    <app-beneficiario-historial-modificaciones *ngIf="showBeneficiarioHistorialModificaciones()">
                    </app-beneficiario-historial-modificaciones>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>