<div class="text">
    <div class="contenedor">
        <div class="contenido">
            <div class="contenedor-titulo">
                <mat-label mat-dialog-title class="text-20 text-bold"> <span>Pagos rechazados</span></mat-label>
            </div>
        </div>
        <div mat-dialog-content>
            <form [formGroup]="detallePagoForm">
                <div class="divTable">
                    <div class="divTableBody">
                        <div class="gastos">
                            <div class="divTableRow">
                                <div class="divTableCell">
                                    <mat-form-field>
                                        <mat-label> {{'pagos_rechazados.titular' | translate}}</mat-label>
                                        <input type="text" matInput formControlName="nombreTitular" readonly />
                                    </mat-form-field>
                                </div>
                                <div class="divTableCell tipoEvento">
                                    <mat-form-field class="documento">
                                        <mat-label> {{'pagos_rechazados.tipoDoc' | translate}}</mat-label>
                                        <input type="text" matInput formControlName="tipoDocumentoTitular" readonly />
                                    </mat-form-field>
                                </div>
                                <div class="divTableCell fechaRegistro">
                                    <mat-form-field class="numeroDocumento">
                                        <mat-label>{{'pagos_rechazados.NumDoc' | translate}}</mat-label>
                                        <input type="text" matInput formControlName="numeroDocumentoTitular" readonly />
                                    </mat-form-field>
                                </div>
                                <div class="divTableCell fechaInicial">
                                    <mat-form-field>
                                        <mat-label>{{'pagos_rechazados.benef' | translate}}</mat-label>
                                        <input type="text" matInput formControlName="nombreBeneficiario" readonly />
                                    </mat-form-field>
                                </div>
                                <div class="divTableCell benef">
                                    <mat-form-field class="documento">
                                        <mat-label>{{'pagos_rechazados.benef' | translate}}</mat-label>
                                        <input type="text" matInput formControlName="tipoDocumentoBeneficiario"
                                            readonly />
                                    </mat-form-field>
                                </div>
                                <div class="divTableCell docubenef">
                                    <mat-form-field class="numeroDocumento">
                                        <mat-label>{{'pagos_rechazados.NumDoc' | translate}}</mat-label>
                                        <input type="text" matInput formControlName="numeroDocumentoBeneficiario"
                                            readonly />
                                    </mat-form-field>
                                </div>
                            </div>
                            <!--otros campos-->
                            <div class="divTableRow">
                                <div class="divTableCell">
                                    <mat-form-field>
                                        <mat-label> Fecha de giro</mat-label>
                                        <input type="text" matInput formControlName="fechaPago" readonly />
                                    </mat-form-field>
                                </div>
                                <div class="divTableCell tipoEvento">
                                    <mat-form-field class="documento">
                                        <mat-label> Valor a girar ($COP)</mat-label>
                                        <input type="text" matInput formControlName="valorAGirar" readonly />
                                    </mat-form-field>
                                </div>
                                <div class="divTableCell tipoPago">
                                    <mat-form-field class="pago">
                                        <mat-label>Tipo de Pago</mat-label>
                                        <mat-select  formControlName="tipoPago" #eleccion
                                        (selectionChange)="mostrarCampoSegunSeleccion(detallePagoForm.value.tipoPago)"
                                        >
                                            <mat-option>
                                                Seleccionar
                                            </mat-option>
                                            <mat-option *ngFor="let medio of listamediosPago"
                                                [value]="medio.id">
                                                {{ medio.descripcion }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divTable" *ngIf="traslado">
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell destino">
                                <mat-form-field class="destiny">
                                    <mat-label>Encargo destino</mat-label>
                                    <input matInput type="text" formControlName="entidadBancariaFidecomiso"
                                        maxlength="100" />
                                </mat-form-field>
                            </div>
                            <div class="divTableCell">
                                <mat-form-field class="encargo">
                                    <mat-label>Fideicomiso</mat-label>
                                    <input matInput type="text" formControlName="numeroCuentaEncargo" maxlength="100" />
                                </mat-form-field>
                            </div>
                            <div class="divTableCell">&nbsp;</div>
                        </div>
                    </div>
                </div>

                <div class="divTable" *ngIf="transferencia">
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell ">
                                <mat-form-field class="destino">
                                    <mat-label>Tipo de cuenta</mat-label>
                                    <mat-select formControlName="tipoCuenta">
                                        <mat-option>
                                            Seleccionar
                                        </mat-option>
                                        <mat-option *ngFor="let cuenta of tipoCuenta" [value]="cuenta.id">
                                            {{ cuenta.descripcion }}</mat-option>

                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="divTableCell">
                                <mat-form-field class="laEntidadBancaria" >
                                    <mat-label>Entidad bancaria</mat-label>
                                    <mat-select placeholder="Entidad bancaria" formControlName="codigoEntidadBancaria">
                                        <mat-option>
                                            Seleccionar
                                        </mat-option>
                                        <mat-option *ngFor="let banco of listaDeBancos" [value]="banco.id">
                                            {{ banco.descripcion }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <!--final-->
                        <div class="divTableRow">
                            <div class="divTableCell cuenta">
                                <mat-form-field>
                                    <mat-label>Número de cuenta</mat-label>
                                    <input matInput type="text" formControlName="numeroCuentaEncargo"
                                        maxlength="100" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                
        </form>
    </div>
</div>
<div mat-dialog-actions class="contenedor ubicacionBotones">
    <div class="bt-contenedor contenido">
        <div class="ml-10 mr-10 div-left">
            <button mat-button class="bt-cancelar-gray" mat-stroked-button [mat-dialog-close]="data.buttonCancelar"
                cdkFocusInitial>
                <span class="text text-15 color_white text-2lines">{{ data.buttonCancelar }} </span>
            </button>
        </div>

        <div class="ml-10 mr-10 div-right">
            <button mat-button class="bt-actions-red" color="primary" mat-stroked-button (click)="cambiarDatos()"
                [mat-dialog-close]="data.detalleCambio" cdkFocusInitial>
                <span class="text text-15 color_white text-2lines">{{ data.buttonAceptar }}</span>
            </button>
        </div>
    </div>
</div>
</div>

