.paddingCampo {
    padding-left: 186px;
}

.laLupa {
    width: 19px;
}

.mt-56 {
    margin-top: 6.6rem;
}

.lupitaBusqueda{
    position: relative;
    bottom: 54px;
    left: 174px;
}

.benef-fide {
    width: 190%;
}

.mt-46 {
    margin-top: 4.6rem;
}

.mt-36 {
    margin-top: 3.6rem;
}

.mt-26 {
    margin-top: 2.6rem;
}
.w-5 {
    width: 5rem;
}
.w-10 {
    width: 10rem;
}
.w-13 {
    width: 13rem;
}
.w-151{
    width: 15.1rem;
}
.w-168{
    width: 16.8rem
}

.w-177{
    width: 17.7rem
}
.w-16{
    width: 16rem
}
.w-20 {
    width: 20rem;
}
.ml-20 {
    margin-left: 2rem;
}
.ml-35{
    margin-left: 3.5rem;
}

.wp-20{
    width:25%;
}

.fechaClave {
    position: relative;
    right: 15px;
}

.bt-actions-red-buscar {
    border-radius: 4px;
    box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--pinkish-red);
    justify-content: center;
    align-content: center;
    min-height: 36px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.bt-actions-red {
    width: 22rem;
    padding-top: 6px;
    border-radius: 4px;
    box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--pinkish-red);
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 36px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.divTable {
    display: table;
    width: 100%;
}

.divTableRow {
    display: table-row;
}

.divTableCell,
.divTableHead {
    display: table-cell;
    /* padding: 2px 50px;*/
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody {
    display: table-row-group;
}

.letrasNormales {
    font-weight: 100;
    text-align: center;
}

.titulosTabla {
    text-align: center;
}

.administrarTercero{
position: relative;
right: 238px;
}

.administrarNegocio{
    position: relative;
    right: 346px;
}

.tituloNegocio{
    position: relative;
    right: 103px;
}

.tabi{
    height: 0%;
    overflow: hidden;
}

.mat-tab-body-content {
    height: 100%!important;
    overflow: hidden!important;
}

.separacionFormularioTercero{
    display: table;
    width: 100%;
    padding-bottom: 58px;
}

.ubicacionBotonTercero {
    position: relative;
    bottom: 47px;
}

.ubicacionBotonAdminNegocio{
    position: relative;
    left: 80px;
    bottom: 31px;
}


.verTitular {
    position: relative;
    right: 473px;
}

.adminEquipo{
        position: relative;
        bottom: 36px;
        left: 540px;
}

.botonJey {
    position: relative;
    left: 84px;
    top: 33px;
}
.equipoResponsable{
        position: relative;
        right: 78px;
}

.w-per75 {
    width: 75%;
}

.w-15 {
    width: 15rem;
}
.max-w-15 {
    max-width: 15rem;
}


.botonGuardarGris{
    background-color:#77787B;
}

.text-2lines {
    line-height: 1.2;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.text-15 {
    font-size: 1.5rem;
}

.text-20 {
    font-size: 2rem;
}

.text-align-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.contenedor {
    /*display: flex;*/
    align-items: center;
}

.contenido {
    margin: 0 auto;
    /* requerido para alineación horizontal */
}

.contenedor-titulo {
    display: flex;
    justify-content: space-around;
}

.color_white {
    color: white;
    font-weight: bold;
}

table {
    width: 100%;
}

.nombre {
    padding-left: 21px;
}

.tipodocumento {
    padding-left: 35px;
}

.numerodoc {
    padding-left: 62px;
}

.porcentaje {
    padding-left: 57px;
}

.separacionBoton {
    padding-right: 40px;
}

.conteniendoBoton {
    padding-bottom: 22px;
    padding-left: 7px;
    padding-top: 5px;
}

.checkbox {
    padding-bottom: 10px;
    padding-left: 12px;
}

.error {
    color: #DC051C;
  }

.mensajeError {
    color: #DC051C;
    font-weight: 400;
    position: absolute;
    padding-left: 60px;
}

.mensajediferente {
    color: #DC051C;
    font-weight: 400;
    position: absolute;
    /* top: 124px;*/
    padding-left: 60px;
}

.posicionMensaje {
    padding-right: 726px;
}

.contenido-img {
    float: left;
    text-align: center;
}

.img-50 {
    padding-right: 19px;
    width: 36px;
    height: 36px;
    position: relative;
    top: 10px;
    left: 18px;
}

.mensajecien {
    right: 155px;
    bottom: 31px !important;
    position: relative !important;
    align-content: left!important;
    color: #DC051C !important;
}

.divCien {
    position: relative !important;
    right: 182px !important;
}

.bt-contenedor {
    line-height: 100px;
}

.mt-16{
    margin-top: 1.6rem;
}

.ubicacionRetencion{
        position: relative;
        left: 36px;
}

.botonRojo {
    position: relative;
    left: 167px;
    bottom: 54px;
}

.ubicacionBoton {
    margin-top: 76px;
    margin-left: 314px;
    margin-bottom: 48px;
}

.nombreNegocioLabel {
    position: relative;
    top: 27px;
}

.organizacionForm {
    margin: 0px 30px 0px 30px;
}





.tipoNegocio {
    width: 50%!important;
}



.nombreApellido{
        padding-left: 32px;
        padding-right: 39px;
}

.tipoDocumento {
    padding-left: 5px;
    padding-right: 8px;
}

.numeroDocumento{
    padding-right: 45px;
    padding-left: 18px;
}

.tipoTercero{
        padding-right: 67px;
}

.valorComision{
    padding-left: 65px;
    padding-right: 53px;
}

.numeroRadicado{
     padding-left: 43px;
}

.botonAgregar{
    padding-right: 11px;
    padding-top: 33px;
}


.botonEliminacion{
    position: relative;
    left: 3px;
}



.ubicacionBotonAñadir {
    padding-left: 283px;
    position: relative;
    bottom: 18px;
}

.ubicacionBotonGastos {
    position: relative;
    left: 3px;
    bottom: 33px;
}

.botonTipoNegocio{
    position: relative;
    bottom: 26px;
    left: 3px;
}

.costoUbicacion{
        position: relative;
        right: 424px;
}

.retencionUbicacion{
        position: relative;
        left: 83px;
}

.elTituloNegocio{
    position: relative;
    left: 7px;
    bottom: 7px;
}

.gastosNegocio {
    position: relative;
    left: 6px;
    bottom: 25px;
}

.nombreCampoGasto{
    position: relative;
}
.campoGasto {
    position: relative;
    left: 41px;
}

.campoGastoEspecial{
    position: relative;
    left: 20px;
    /*right:26px;*/
}

.periodicidad {
    position: relative;
    left: 29px;
}

.fechaPago{
    position: relative;
    left: 49px;
}

.fic{
    position: relative;
    left: 69px;
}

.valor{
    position: relative;
    left: 2px;
}

.campoTipoNegocio {
    position: relative;
    right: 93px;
}
.main-contaninero {
    top: 0rem;
    bottom: 0rem;
    left: 2.5rem;
    right: 0rem;
    margin: 0rem;
    position: absolute;
    /*
    min-width: 86%;
    min-height: 83%;
    */
    background-size: cover;
    padding-left: 10rem;
    padding-top: 10rem;
  }

  /*
.div-table {
  display: table;         
  width: 100%;           
  border-spacing: 5px;
  padding-bottom: 7rem;
}
.table_distribucion { 
  padding-bottom: 0;
}
.div-table-row {
  display: table-row;
  width: 100%;
  clear: both;
}
.div-table-col {
  float: left; 
  display: table-column;         
  width: 50%;
}
  */