<div [ngClass]="swInicio ? 'container-body-bg-img' : 'container-body'">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
      (closed)="events.push('close!')">
      <mat-card>
        <mat-card-header>

        </mat-card-header>
        <div class="logo">
          <img *ngIf="swInicio" mat-card-image src="assets/svg/icons/logowhite.svg" alt="Acci&oacute;n Fiduciaria" />
          <img *ngIf="!swInicio" mat-card-image src="assets/svg/icons/logoblack.svg" alt="Acci&oacute;n Fiduciaria" />
        </div>
        <div class="card contenedor-div">
          <mat-card-content>
            <div class="abajo" [ngClass]="{ menuActiveDiv: swInicio, menuInactive: !swInicio}" (click)="irOpcionMenu('inicio')">
              <button mat-button>
                <mat-icon class="mr-10" svgIcon="home"></mat-icon>
                <span [ngClass]="{ menuActive: swInicio, menuInactive: !swInicio}">Productos Financieros</span>
              </button>
            </div>

          </mat-card-content>
          <mat-card-content>
            <div *ngIf="vinculados" class="abajo" [ngClass]="{ menuActiveDiv: swBeneficiario, menuInactive: !swBeneficiario}" (click)="irOpcionMenu('beneficiario')">
              <button mat-button>
                <mat-icon class="mr-10" svgIcon="beneficiary"></mat-icon>
                <span [ngClass]="{ menuActive: swBeneficiario, menuInactive: !swBeneficiario}">Vinculados</span>
              </button>
            </div>

            <div *ngIf="negocios" class="abajo" [ngClass]="{ menuActiveDiv: swNegocio, menuInactive: !swNegocio}" (click)="irOpcionMenu('negocio')">
              <button mat-button>
                <mat-icon class="mr-10" svgIcon="bussines"></mat-icon>
                <span [ngClass]="{ menuActive: swNegocio, menuInactive: !swNegocio}">Negocio</span>
              </button>
            </div>
            <div *ngIf="certificaciones" class="abajo" [ngClass]="{ menuActiveDiv: swCertificado, menuInactive: !swCertificado}" (click)="irOpcionMenu('certificacion')">
              <button mat-button>
                <mat-icon class="mr-10" svgIcon="certification"></mat-icon>
                <span [ngClass]="{ menuActive: swCertificado, menuInactive: !swCertificado}">Certificaciones</span>
              </button>
            </div>
            <div *ngIf="informes_reportes" class="abajo" [ngClass]="{ menuActiveDiv: swInforme, menuInactive: !swInforme}" (click)="irOpcionMenu('informe')">
              <button mat-button>
                <mat-icon class="mr-10" svgIcon="reports"></mat-icon>
                <span [ngClass]="{ menuActive: swInforme, menuInactive: !swInforme}">Informes y Reportes</span>
              </button>
            </div>
          </mat-card-content>
          <mat-card-content>
            <div *ngIf="configuracion_perfiles" class="abajo" [ngClass]="{ menuActiveDiv: swPerfil, menuInactive: !swPerfil}" (click)="irOpcionMenu('perfil')">
              <button mat-button>
                <mat-icon class="mr-10" svgIcon="perfil"></mat-icon>
                <span [ngClass]="{ menuActive: swPerfil, menuInactive: !swPerfil}">Configuración de Perfiles</span>
              </button>
            </div>
            <div *ngIf="parametros" class="abajo"  [ngClass]="{ menuActiveDiv: swParametro, menuInactive: !swParametro}" (click)="irOpcionMenu('parametro')">
              <button mat-button>
                <mat-icon class="mr-10" svgIcon="setting"></mat-icon>
                <span [ngClass]="{ menuActive: swParametro, menuInactive: !swParametro}">Configuración de
                  Parámetros</span>
              </button>
            </div>
            <div class="abajo"  [ngClass]="{ menuActiveDiv: swCerrarSesion, menuInactive: !swCerrarSesion}" (click)="logout()">
              <button mat-button>
                <mat-icon class="mr-10" svgIcon="signoff"></mat-icon>
                <span class="color-gray ml-10"
                  [ngClass]="{ menuActive: swCerrarSesion, menuInactive: !swCerrarSesion}">Cerrar sesión</span>
              </button>
              <div class="color-gray ml-20 text-content text-link">
                Último acceso {{fechaUltimoAcceso}}
              </div>
            </div>
          </mat-card-content>
        </div>
      </mat-card>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>