<span *ngIf="iniciarPestanaNegocio == 0">
    <app-cert-negocios-listar>
    </app-cert-negocios-listar>
</span>
<span *ngIf="iniciarPestanaNegocio == 1">
    <div class="mt-56">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="h-30">
            <mat-button-toggle disabled clase="h-30">{{nombreNegocio}} </mat-button-toggle>
            <mat-button-toggle disabled clase="h-30">{{codNegocio}} </mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <div class="text mt-56">
        <div *ngIf="dataNotFound" id="dataNotFound">
            <span class="bt-actions-red h-30" (click)="Regresar()">{{'certificados.regresar' | translate }}</span>
            <img src="assets/svg/icons/warning.svg" alt="warning" />
            <mat-label class="text-error text-content text-warning">{{'negocio.sin_resultado' | translate }}</mat-label>
        </div>

        <div *ngIf="dataFound" id="dataFound">
            <div class="text">
                <div class="div-table">
                    <div class="div-table-row">
                        <div class="div-table-col">
                            <mat-form-field class="w-40">
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro:" />
                            </mat-form-field>
                        </div>
                        <div class="div-table-col">
                            <span class="bt-actions-red h-30" (click)="Regresar()">
                                {{'certificados.regresar' | translate }}</span>
                        </div>
                    </div>
                </div>
                <span class="mt-40">
                    <table mat-table [dataSource]="dataSource" matSort>
                        <caption></caption>
                        <!-- Nombres y apellidos Column -->
                        <ng-container matColumnDef="nombre">
                            <th scope="row " mat-header-cell *matHeaderCellDef mat-sort-header
                                class="text-list list-beneficiarie">
                                {{'certificados.titular' | translate }}
                            </th>
                            <td mat-cell *matCellDef="let row">{{ row.nombreCompleto }}</td>
                        </ng-container>

                        <!-- Tipo de documento Column -->
                        <ng-container matColumnDef="tipoDocumento">
                            <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                                class="text-list list-beneficiarie">
                                {{'certificados.tipo_de_documento' | translate }}
                            </th>
                            <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.tipoDocumento }}</td>
                        </ng-container>

                        <!-- Número de documento Column -->
                        <ng-container matColumnDef="numeroDocumento">
                            <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                                class="text-list list-beneficiarie">
                                {{'certificados.numero_de_documento' | translate }}
                            </th>
                            <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.numeroDocumento }}</td>
                        </ng-container>

                        <!-- porcentaje participacion Column  -->
                        <ng-container matColumnDef="participacion" *ngIf="tipoReporte('PART')">
                            <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                                class="text-list list-beneficiarie">
                                {{'certificados.porcentaje_de_participacion' | translate }}
                            </th>
                            <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.participacion }}</td>
                        </ng-container>

                        <!-- numero de derechos Column -->
                        <ng-container matColumnDef="numeroderechos" *ngIf=" tipoReporte('PART')">
                            <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                                class="text-list list-beneficiarie">
                                {{'certificados.numero_de_derechos' | translate }}
                            </th>
                            <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.numeroDerechos }}</td>
                        </ng-container>

                        <!-- base retencion Column -->
                        <ng-container matColumnDef="baseretencion" *ngIf="tipoReporte('INGRET')">
                            <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                                class="text-list list-beneficiarie">
                                {{'certificados.base_retencion' | translate }}
                            </th>
                            <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.baseRetencion }}</td>
                        </ng-container>

                        <!-- total retenido Column  -->
                        <ng-container matColumnDef="totalretenido" *ngIf="tipoReporte('INGRET')">
                            <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                                class="text-list list-beneficiarie">
                                {{'certificados.total_retenido' | translate }}
                            </th>
                            <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.totalRetenido }}</td>
                        </ng-container>
                        <!--  Retencion exenta Column  -->
                        <ng-container matColumnDef="rentaexcenta" *ngIf="tipoReporte('RENTAEXC')">
                            <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                                class="text-list list-beneficiarie">
                                {{'certificados.renta_excenta' | translate }}
                            </th>
                            <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.rentaExcenta }}</td>
                        </ng-container>

                        <!-- Ver mas Column -->
                        <ng-container matColumnDef="id">
                            <th scope="row" mat-header-cell *matHeaderCellDef>
                                <span>
                                    <mat-checkbox class="todos"
                                        (change)="$event ? masterToggle() : null; seleccionarTodos($event)"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                                        {{'certificados.seleccionar_todos' | translate }}
                                    </mat-checkbox>
                                </span>
                            </th>
                            <td mat-cell *matCellDef="let row" class="mat-cell-center">
                                <div class="text text-list buscar-detalle-benficiario">
                                    <span>
                                        <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="$event ? selection.toggle(row) : null ; administrarEscogidos(row)"
                                            [checked]="selection.isSelected(row)">
                                            {{'certificados.generar' | translate }}
                                        </mat-checkbox>
                                    </span>
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                </span>

                <div class="mt-20">
                    <app-pagination (paginaEmitter)="goToPage($event)" [page]="page" [totalPages]="totalPages"
                        [numElementos]="numElementos" [resultsLength]="resultsLength"></app-pagination>
                </div>
            </div>
        </div>
        <div *ngIf="selected()" class="boton">
            <button class="btn-generar-certificados" (click)="verificarSeleccion()">
                {{'certificados.generar_certificados' | translate }}</button>
        </div>
    </div>
</span>