<mat-form-field>
    <mat-select placeholder="Negocios" [formControl]="negocioMultiCtrl"
      (selectionChange)="itemSeleccionado($event)" [multiple]="true" #selecTodo>
      {{filteredNegociosMulti}}
      <mat-select-search [formControl]="negocioMultiFilterCtrl" autocomplete="off" ></mat-select-search>
      <mat-option (click)="selectAll( selecTodo )">{{'negocio_detalle.seleccionar_todo' | translate }}</mat-option> 
      <mat-option (click)="deselectAll( selecTodo )" >{{'negocio_detalle.quitar_todo' | translate }}</mat-option>   
      <mat-option *ngFor="let item of filteredNegociosMulti  | async" [value]="item">
        {{item.nombre }}</mat-option>
    </mat-select>
  </mat-form-field>