/* @import './../../../styles.scss'; */
.main-contaniner {  
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0rem;
  border: 1px solid #555;
  position: absolute;
  background-image: url("../../../assets/img/bg-login.jpg");
  background-size: cover;
}
.main-div-login {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flow-root;
  max-width: 60%;
  min-width: 40rem;
  margin-left: 50%;
}

.container-form {  
  display: inline-block;
  margin-bottom: 3rem;
  float: none;
  width: 56%;
}

.mat-card-one {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 1.6rem 0 3.2rem 0;
  border-radius: 4px;
  background: #f8f8f8;
}
.mat-card-two {
  padding-top: -1rem;
  background-color: white;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);  
}

.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

.mat-card-two:not([class*="mat-elevation-z"]) {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);  
}

.Iniciar-sesin {
  width: 137px;
  height: 21px;
  font-family:'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #231f20;
  margin-bottom: 2rem;
}

.input-width {
  width: 100%;
  justify-content: center;
  align-items: center;
}
.button-align {
  margin: 1rem 4rem 0rem 0rem;
  text-align: right;
}

.button-image {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: initial;
  background-position: center center;
  border-color: transparent;
  width: 13.8rem;
  height: 4.5rem;
  fill: black;
  cursor:pointer;
  cursor: hand;
}

.button-image-inactive {
  background-image: url("../../../assets/svg/icons/entrargris.svg");
}

.button-image-active {
  background-size: 13.8rem 4.5rem;
  background-image: url("../../../assets/img/bt_entrar.png");
}


