<div class="main-contaniner">
  <mat-card class="main-div-login">
    <div class="container-form">
      <form [formGroup]="loginForm" novalidate>
        <mat-card-header>
          <div>
            <img              
              class="mat-card-image-logo"
              src="assets/svg/icons/logowhite.svg"
              alt="logo white"
            />
          </div>
        </mat-card-header>

        <mat-card class="mat-card-one">
          <mat-card-header>
            <span class="text Iniciar-sesin"
              ><mat-label>{{'login.iniciar_sesion' | translate }}</mat-label></span
            >
          </mat-card-header>
          
          <mat-card class="mat-card-two">
            <div
              *ngIf="submitted && creadetialError"
              class="text-link text-error mb-menos18 error-credencial"
            >
            {{'login.password_invalido' | translate }}
            </div>
            <mat-card-content>
              <div>
                <mat-form-field class="input-width" appearance="outline">
                  <mat-label>{{'login.usuario' | translate }}</mat-label>
                  <input
                    matInput
                    [placeholder]=placeholderUsuario
                    formControlName="usuario"
                    type="text"
                    required
                  />
                  <mat-icon matSuffix svgIcon="perfil"></mat-icon>
                </mat-form-field>
                <div
                  class="text-link text-error mb-menos18"
                  *ngIf="submitted && f.usuario.errors"
                >
                  <span *ngIf="loginForm.get('usuario').hasError('required')">                    
                    {{'login.llenar_campos' | translate }}
                  </span>
                  <span *ngIf="loginForm.get('usuario').hasError('minlength')">                    
                    {{'login.minimo_5_caracteres' | translate }}
                    
                  </span>                  <span *ngIf="loginForm.get('usuario').hasError('maxlength')">                    
                    {{'login.maximo_10_caracteres' | translate }}
                  </span>
                </div>
                <mat-form-field class="input-width" appearance="outline">
                  <mat-label>{{'login.password' | translate }}</mat-label>
                  <input
                    matInput
                    [placeholder]=placeholderPassword
                    formControlName="clave"
                    required
                    [type]="hide ? 'password' : 'text'"
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    (click) = "showPassword()"
                    [attr.aria-label]="'Ocultar password'"
                    [attr.aria-pressed]="hide"
                  >
                    <mat-icon>{{
                      hide ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  </button>
                </mat-form-field>
                <div
                  class="text-link text-error mb-menos18"
                  *ngIf="submitted && f.clave.errors"
                >
                  <span>
                    {{'login.llenar_campos' | translate }}
                  </span>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          
          <mat-card-actions class="button-align">            
            <button mat-button
              type="submit"
              md-fab
              class="button-image button-image-active"
              (click)="enviarDatos()"
            ></button>               
          </mat-card-actions> </mat-card>
          <mat-label class="text-link">{{'version' | translate }}</mat-label>
      </form>
    </div>
    
  </mat-card>
</div>
