.btn-generar-certificados {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: center;
    color: white;
    width: 192.5px;
    height: 46px;
    background-color: #ed1c24;
  }
  
  .boton {
    padding-left: 288px;
    padding-bottom: 44px;
  }
  
  .todos {
    margin-left: 40px !important;
  }
  
  .bt-actions-red {
    width: 15.5rem;
    height: 4rem;
    border-radius: 4px;
    box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--pinkish-red);
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 36px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .display-inline-block {
    display: inline-block;
  }
  
  .text-right {
    text-align: -webkit-right;
  }
  
  .text-center {
    text-align: -webkit-center;
  }
  