<div *ngIf="!verMas && iniciarPestanaNegocio == 0" class="mt-56 text">
    <div class="container-form">
        <form [formGroup]="buscarNegociosForm" novalidate>
            <div>
                <mat-form-field class="mr-60">
                    <mat-label>{{'certificados.tipo_reporte' | translate }}</mat-label>
                    <mat-select formControlName="tiposCertificado" (selectionChange)="setTipoCertificado($event.value)">
                        <mat-option *ngFor="let t of tiposCertificado" [value]="t.value">
                            {{ t.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="mr-60">
                    <mat-label>{{'certificados.ano_grabable' | translate }}</mat-label>
                    <mat-select formControlName="anoGrabable" (selectionChange)="setAnoSeleccionado($event.value)">
                        <mat-option *ngFor="let year of listAnoSelect" [value]="year.value">
                            {{ year.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <mat-form-field class="mr-60">
                <mat-label>{{'negocio.filtrar_por' | translate }}</mat-label>
                <mat-select formControlName="selectCriterio">
                    <mat-option *ngFor="let criterio of selectCriterio" [value]="criterio.value">
                        {{ criterio.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="mw-400">
                <mat-label>{{'negocio.buscar' | translate }}</mat-label>
                <input matInput placeholder="Buscar" maxlength="100" formControlName="argumento" type="text" required
                    autocomplete="off" />
            </mat-form-field>

            <div class="text-right">
                <span class="display-inline-block">
                    <span class="div-left">
                        <button type="submit" class="bt-actions-red" color="primary" (click)="limpiarformulario()">
                            <span
                                class="text text-15 color_white">{{'beneficiario_historial_pagos.bt_limpiar' | translate }}
                            </span>
                        </button>
                    </span>
                    <span class="div-right">
                        <button type="submit" class="bt-actions-red" color="primary" (click)="enviarDatos()">
                            <span
                                class="text text-15 color_white">{{'beneficiario_historial_pagos.bt_buscar' | translate }}
                            </span>
                        </button>
                    </span>
                </span>
            </div>
        </form>
    </div>

    <div *ngIf="dataNotFound" id="dataNotFound">
        <img src="assets/svg/icons/warning.svg" alt="warning" />
        <mat-label class="text-error text-content text-warning">{{'negocio.sin_resultado' | translate }}</mat-label>
    </div>
    <div *ngIf="dataFound" id="dataFound">

        <div class="text">
            <table mat-table [dataSource]="dataSource" matSort>
                <caption></caption>
                <!-- Nombres y apellidos Column -->
                <ng-container matColumnDef="nombre">
                    <th scope="row " mat-header-cell *matHeaderCellDef mat-sort-header
                        class="text-list list-beneficiarie">
                        {{'negocio.nombre_negocio' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
                </ng-container>

                <!-- Tipo de documento Column -->
                <ng-container matColumnDef="codigoSFC">
                    <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                        class="text-list list-beneficiarie">
                        {{'negocio.codigo_sfc' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.codSFC }}</td>
                </ng-container>

                <!-- Número de documento Column -->
                <ng-container matColumnDef="codigoInterno">
                    <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                        class="text-list list-beneficiarie">
                        {{'negocio.codigo_interno' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.codigoInterno }}</td>
                </ng-container>

                <!-- Ver mas Column -->
                <ng-container matColumnDef="id">
                    <th scope="row" mat-header-cell *matHeaderCellDef>
                    </th>
                    <td mat-cell *matCellDef="let row" class="mat-cell-center">
                        <div class="text text-list buscar-detalle-benficiario"
                            (click)="mostrarSubbusqueda(row.codSFC, row.nombre)">
                            <span><img class="img-buscar-beneficiario" src="assets/svg/icons/searchred.svg"
                                    alt="warning" /> {{'certificados.ver_vinculados' | translate }}</span>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

            <div class="mt-20">
                <app-pagination (paginaEmitter)="goToPage($event)" [page]="page" [totalPages]="totalPages"
                    [numElementos]="numElementos" [resultsLength]="resultsLength"></app-pagination>
            </div>
        </div>
    </div>

</div>

<div *ngIf="verMas && iniciarPestanaNegocio == 1">
    <app-cert-negocios-beneficiarios-vinculados        
        [codNegocio]="codSFC"
        [anoGrabable]="periodoSeleccionado"
        [tipoCertificado]="certificadoSeleccionado"
        [nombreNegocio]="negocioSeleccionado"
        >
    </app-cert-negocios-beneficiarios-vinculados>
</div>