.bt-contenedor {
  line-height: 100px;
}
.bt-aceptar {
  width: 10rem;
  height: 2.8rem;
  border-radius: 4px;
  box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--pinkish-red);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.text-15 {
  font-size: 1.5rem;
}

.text-20 {
  font-size: 2rem;
}

.text-align-center {
    text-align: center;
}

.text-bold{
    font-weight: bold;
}

.contenedor {
  display: flex;
  align-items: center;
}
.contenido {
  margin: 0 auto; /* requerido para alineación horizontal */
}
.contenedor-titulo{
    display: flex;
	justify-content: space-around;
}
.contenido-img{
    float: left;
	text-align: center;
}
.img-50{
    width: 50px;
    height: 50px;
}
