<mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="h-30 nombreNegocioLabel">
    <mat-button-toggle disabled clase="h-30">{{codigoNegocio}}
    </mat-button-toggle>
    <mat-button-toggle disabled clase="h-30">{{nombreNegocio}}
    </mat-button-toggle>
</mat-button-toggle-group>

<div class="mt-56">
    <mat-label>{{'informacionFinanciera.informacion_financiera' | translate}}</mat-label>
</div>


<form [formGroup]="formularioDinamico" class="mt-56 container" (keydown.enter)="$event.preventDefault()">
    <div formArrayName="camposBeneficiario">
        <div *ngFor="let camposFormulario of arrayDeCamposFormulario.controls; let i = index;">
            <div class="container" [formGroupName]="i">
                <div>
                    <mat-label>
                        <mat-label>
                            <span class="align-icon">
                                <mat-icon class="div-button material-icons color_gray"
                                    (click)="removerFormularioBeneficiario(i)">
                                    remove_circle</mat-icon>
                            </span>{{'informacionFinanciera.beneficiario' | translate}} {{i+1}}</mat-label>
                    </mat-label>
                </div>
                <div class="div-table">
                    <div class="div-table-row">
                        <div class="div-table-col">
                            <div>
                                <mat-form-field>
                                    <mat-label>{{'informacionFinanciera.beneficiario' | translate}}:</mat-label>
                                    <input matInput type="text" formControlName="beneficiario" autocomplete="off"
                                        [readonly]="!beneficiario_informacion_financiera_permisos_escribe" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="div-table-col">
                            <div>
                                <mat-form-field>
                                    <mat-label>{{'informacionFinanciera.tipo_documento_identidad' | translate}}:</mat-label>
                                    <mat-select formControlName="tipoDocumento" type="text"
                                        [disabled]="!beneficiario_informacion_financiera_permisos_escribe">
                                        <mat-option>
                                            Seleccionar
                                        </mat-option>
                                        <mat-option *ngFor="let tipoDoc of listaTipoDocumento" [value]="tipoDoc.id">
                                            {{ tipoDoc.descripcion }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="div-table-col">
                            <div>
                                <mat-form-field>
                                    <mat-label>{{'informacionFinanciera.numero_documento_identidad' | translate}}:</mat-label>
                                    <input matInput type="text" formControlName="numeroDocumento" autocomplete="off"
                                        [readonly]="!beneficiario_informacion_financiera_permisos_escribe"
                                        maxlength="30" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="div-table-row">
                        <div class="div-table-col">
                            <div>
                                <mat-form-field>
                                    <mat-label>{{'informacionFinanciera.porcentaje_giro' | translate}}:</mat-label>
                                    <input matInput type="text" formControlName="porcentajeGiro"
                                        (change)="abrirModalGiros(i,formularioDinamico.value.camposBeneficiario[i].porcentajeDistribucion)"
                                        [readonly]="!beneficiario_informacion_financiera_permisos_escribe"
                                        OnlyNumber="true" decimal="true" maxLenth="6" maxValor="100.00" 
                                        autocomplete="off"/>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="div-table-col">
                            <div>
                                <mat-form-field>
                                    <mat-label>{{'informacionFinanciera.tipo_pago' | translate}}:</mat-label>
                                    <mat-select placeholder="Select Filter" formControlName="tipoPago"
                                        (selectionChange)="tomarMedioSeleccionado($event)"
                                        [disabled]="!beneficiario_informacion_financiera_permisos_escribe">
                                        <mat-option>
                                            Seleccionar
                                        </mat-option>
                                        <mat-option *ngFor="let medioPago of listamediosPago"
                                            [value]="medioPago.codigo">
                                            {{ medioPago.descripcion }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div *ngIf="validarCHE(i,formularioDinamico.value.camposBeneficiario[i].tipoPago)"></div>
                        </div>
                        <div class="div-table-col">

                        </div>
                    </div>

                    <div class="div-table-row"
                        *ngIf="validarMostrar(formularioDinamico.value.camposBeneficiario[i].tipoPago,[i], 'TRASL')">
                        <div class="div-table-col">
                            <mat-form-field>
                                <mat-label>{{'informacionFinanciera.numero_encargo' | translate}}:</mat-label>
                                <input matInput type="text" formControlName="numeroEncargo"
                                    [readonly]="!beneficiario_informacion_financiera_permisos_escribe"
                                    maxlength="100" autocomplete="off"/>
                            </mat-form-field>
                            <div class="botonRojo">
                                <button mat-button type="submit" (click)="obtenerFideicomiso(camposFormulario,i)">
                                    <mat-icon matSuffix svgIcon="search" class="color_white laLupa" type="submit">
                                    </mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="div-table-col-66">
                            <mat-form-field class="wp-83">
                                <mat-label>{{'informacionFinanciera.fideicomiso_destino' | translate}}:</mat-label>
                                <input matInput type="text" formControlName="fideicomisoDestino" readonly />
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="div-table-row"
                        *ngIf="validarMostrar(formularioDinamico.value.camposBeneficiario[i].tipoPago,[i], 'TRANS')">
                        <div class="div-table-col">
                            <mat-form-field>
                                <mat-label>{{'informacionFinanciera.tipo_cuenta' | translate}}:</mat-label>
                                <mat-select formControlName="tipoCuenta"
                                    (selectionChange)="actualizarCodigoTipoCuenta(i,formularioDinamico.value.camposBeneficiario[i].tipoCuenta)"
                                    [disabled]="!beneficiario_informacion_financiera_permisos_escribe">
                                    <mat-option>
                                        Seleccionar
                                    </mat-option>
                                    <mat-option *ngFor="let cuenta of tipoCuenta" [value]="cuenta.codigo">
                                        {{ cuenta.descripcion }}</mat-option>

                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="div-table-col">
                            <mat-form-field>
                                <mat-label>{{'informacionFinanciera.codigo_tipo_cuenta' | translate}}:</mat-label>
                                <input matInput formControlName="tipoCuenta" readonly />
                            </mat-form-field>
                        </div>
                        <div class="div-table-col">
                            <mat-form-field>
                                <mat-label>{{'informacionFinanciera.entidad_bancaria' | translate}}:</mat-label>
                                <mat-select placeholder="Entidad bancaria" formControlName="idEntidadBancaria"
                                    (selectionChange)="actualizarCodigoBanco(i,formularioDinamico.value.camposBeneficiario[i].idEntidadBancaria)">
                                    <mat-option>
                                        Seleccionar
                                    </mat-option>
                                    <mat-option *ngFor="let banco of listaDeBancos" [value]="banco.id">
                                        {{ banco.descripcion }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="div-table-row"
                        *ngIf="validarMostrar(formularioDinamico.value.camposBeneficiario[i].tipoPago,[i], 'TRANS')">
                        <div class="div-table-col">
                            <div>
                                <div>
                                    <mat-form-field>
                                        <mat-label>{{'informacionFinanciera.codigo_banco' | translate}}:</mat-label>
                                        <input type="text" formControlName="codigoBanco" matInput readonly />
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div class="div-table-col-66">
                            <mat-form-field class="wp-83">
                                <mat-label>{{'informacionFinanciera.numero_cuenta_bancaria' | translate}}:</mat-label>
                                <input matInput type="text" min="0" formControlName="numeroCuentaBancaria" autocomplete="off"
                                    [readonly]="!beneficiario_informacion_financiera_permisos_escribe" maxlength="30" />
                            </mat-form-field>

                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class=" div-button float-right mt-20 " (click)="agregarCadaCampoDelFormulario()">
            <div>
                <div class="div-left ">
                    <mat-icon class="div-button material-icons color_gray ">add_circle</mat-icon>
                </div>
                <div class="div-right color_gray ">
                    {{'informacionFinanciera.anadir_beneficiario' | translate}}
                </div>
            </div>
        </div>
    </div>
    <!--Información Juridica-->
    <div class="text mt-especial">
        <div class="mt-56">
            <mat-label><span class="tituloInformacionJuridica">{{'informacionFinanciera.informacion_juridica' | translate}}</span></mat-label>
        </div>

        <table mat-table [dataSource]="dataSource" matSort>
            <caption></caption>
            <!-- Nombres y apellidos Column -->
            <ng-container matColumnDef="tipoEvento">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header
                    class="text-list list-beneficiarie labelTipoEvento">
                    {{'informacionFinanciera.tipo_evento' | translate}}
                </th>
                <td mat-cell *matCellDef="let row">{{ row.tipoEvento }}</td>
            </ng-container>

            <!-- Tipo de documento Column -->
            <ng-container matColumnDef="estado">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header
                    class="text-list list-beneficiarie labelEstadoEvento">
                    {{'informacionFinanciera.estado_evento' | translate}}
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.estado }}</td>
            </ng-container>

            <!-- Número de documento Column -->
            <ng-container matColumnDef="fechaRegistro">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header
                    class="text-list list-beneficiarie labelFechaRegistro">                    
                    {{'informacionFinanciera.fecha_registro' | translate}}
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.fechaRegistro }}</td>
            </ng-container>


            <!-- Ver mas Column -->
            <ng-container matColumnDef="id">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">
                    <div class="text text-list buscar-detalle-benficiario"
                        (click)="getDetalleNovedadJuridica(row.codigoEvento)">
                        <div>
                            <p><img class="img-buscar-beneficiario" src="assets/svg/icons/searchred.svg"
                                    alt="warning" /> {{'negocio.ver_mas' | translate }}</p>
                        </div>

                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <div class="mt-20">

            <app-pagination (paginaEmitter)="goToPage($event)" [page]="page" [totalPages]="totalPages"
                [numElementos]="numElementos" [resultsLength]="resultsLength"></app-pagination>
        </div>
    </div>


    <div class="ml-10 mr-10 ubicacionBoton">
        <button type="submit" class="bt-actions-red" color="primary"
            (click)="GuardarInformacionFinancieraBeneficiarios()" [class.botonGuardarGris]="formularioDinamico.invalid"
            [disabled]="formularioDinamico.invalid">
            <span class=" text text-15 color_white text-2lines ">{{'informacionFinanciera.guardar_cambios' | translate}}</span>
        </button>
    </div>
</form>