#block_container {
    text-align: left;
}

#block_container>div {
    display: inline-block;
    vertical-align: middle;
}

.divFinal {
    padding-left: 20px;
}

.paddingCampo {
    padding-left: 186px;
}

.mt-56 {
    margin-top: 6.6rem;
}

.w-35 {
    width: 35rem;
}

.wp-83 {
    width: 83%;
}

.botonRojo {
    position: relative;
    left: 167px;
    bottom: 54px;
}

.bt-actions-red-buscar {
    border-radius: 4px;
    box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--pinkish-red);
    justify-content: center;
    align-content: center;
    min-height: 36px;
    color: white;
    font-weight: bold;
}

.tablita{
     width: 100%;
}

.pagoCampo {
    position: absolute;
}

.laLupa {
    width: 19px;
}

.modificacion {
    position: absolute;
}

.bt-actions-red {
    width: 22rem;
    border-radius: 4px;
    box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--pinkish-red);
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 36px;
    color: white;
    font-weight: bold;
}

.ubicacionBoton {
    margin-top: 58px;
    margin-left: 314px;
    margin-bottom: 48px;
}

.mat-table {
    width: 100%;
}

.mt-especial{
    margin-top: 8.6rem;
}

.tituloInformacionJuridica{
    font-weight: bold;
}

.labelEstadoEvento {
    position: relative;
    left: 58px;
}

.labelTipoEvento {
    position: relative;
    right: 6px;
}

.botonGuardarGris{
    background-color:#77787B;
}


.labelFechaRegistro{
    position: relative;
    left: 61px;
}

.nombreNegocioLabel {
    position: relative;
    top: 27px;
}

.espacio{
padding-top: 14px;
}

.inforJuri {
    position: relative;
    top: 50px;
}

.movido {
    position: relative;
    top: 112px;
}

.benef-cambio-linea {
    width: 38%;
    padding-right: 13px;
}


.div-table {
    display: table;         
    width: 100%;           
    border-spacing: 5px; /* cellspacing:poor IE support for  this */
    padding-bottom: 7rem;
  }
  .table_distribucion { 
    padding-bottom: 0;
  }
  .div-table-row {
    display: table-row;
    width: 99%;
    clear: both;
  }
  .div-table-col {
    float: left; /* fix for  buggy browsers */
    display: table-column;         
    width: 33%; 
  }

  .div-table-col-66 {
    float: left; /* fix for  buggy browsers */
    display: table-column;         
    width: 66%; 
  }
