<div class="container-form" *ngIf="!listaIngresoPagosIngresos">
    <div class="mt-56">
        <mat-label>{{'negocioPagosDistribucion.nuevaEntrada' | translate }}</mat-label>
    </div>

    <div class="mt-26">
        <form [formGroup]="gastosTipoNegocioForm">
            <table><caption></caption>
                <tbody>
                    <tr>
                        <td class="divFecha elTitulo">
                            <mat-form-field>
                                <mat-label>
                                    Periodo de ingreso
                                </mat-label>
                                <input matInput  class="hidden-date-input" [matDatepicker]="picker" [min]="pastDate" [max]="todayDate"
                                    formControlName="periodoActual" >
                                    <input matInput [value]="fullDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker">
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker (monthSelected)="monthSelected($event)" startView="multi-year">
                                </mat-datepicker>
                            </mat-form-field>
                        </td>
                    </tr>
                </tbody>
            </table>
           

            <!--Empieza el formulario de ingresos-->
            <div formArrayName="camposTipoNegocio" >
                <div *ngFor="let X of gastosTipoNegocioForm['controls'].camposTipoNegocio['controls']; let ix=index">
                    <div [formGroupName]="ix">
                        <div class="mt-46">
                            <table style="width: 100%;"><caption></caption>
                                <tbody>
                                    <tr>
                                        <td class="posicionBotonFinal">
                                            &nbsp;
                                        </td>
                                        <td class="posicionBotonFinal">
                                            <mat-form-field class="benef-cambio-ingreso">
                                                <mat-label>Tipo de negocio</mat-label>
                                                <input matInput type="text" formControlName="nombreTipoNegocio"
                                                    readonly />
                                            </mat-form-field>
                                        </td>
                                        <td class="posicionBotonFinal">
                                            <mat-form-field class="benef-cambio-ingreso">
                                                <mat-label>Encargo</mat-label>
                                                <mat-select formControlName="cuenta">
                                                    <mat-option>
                                                        Seleccionar
                                                    </mat-option>
                                                    <mat-option *ngFor="let encargo of listaFiltradaEncargos"
                                                        [value]="encargo.numeroEncargo">
                                                        {{ encargo.numeroEncargo }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <button type="submit" class="bt-actions-red" color="primary"
                                                (click)="sincronizarConElBus(X)"
                                                [class.botonGuardarGris]="!activarBotonCalcularObligacion"
                                                [disabled]="!activarBotonCalcularObligacion">
                                                <span class=" text text-15 color_white text-2lines ">CALCULAR
                                                    OBLIGACIONES</span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table style="width: 100%;"><caption></caption>
                                <tbody>
                                    <tr formArrayName="listaIngresosOperacion">
                                        <div *ngFor="let Y of getIngresos(ix); let iy=index">
                                            <div [formGroupName]="iy">
                                                <td>
                                                    <mat-icon class="div-button material-icons color_gray"
                                                        (click)="deleteIngresos(ix,iy)">
                                                        remove_circle</mat-icon>
                                                </td>
                                                <td class="posicionBotonSegundo">
                                                    <mat-form-field class="benef-cambio-dato-ingreso">
                                                        <mat-label>{{'negocioPagosDistribucion.ingresos' | translate }}</mat-label>
                                                        <input matInput type="text"
                                                            formControlName="valorIngreso"
                                                            [readonly]="!Y.value.esEditable"                                                         
                                                            OnlyNumber="true" decimal="true"
                                                            maxLenth="20" maxValor="9999999999"
                                                            (focusout)="setFormatNumberDecimal($event,2)"
                                                        />
                                                    </mat-form-field>
                                                </td>
                                                <td class="posicionBotonSegundo">
                                                    <mat-form-field class="benef-cambio-dato-ingreso">
                                                        <mat-label>No. radicado ingreso</mat-label>
                                                        <input matInput type="text" minlength="4" maxlength="18"
                                                        formControlName="radicadoIngreso"
                                                            [readonly]="!Y.value.esEditable" />
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field class="benef-cambio-ing">
                                                        <mat-label>Fecha ingreso</mat-label>
                                                        <input matInput [matDatepicker]="picak"
                                                            [max]="fechaLimite"
                                                            formControlName="fechaIngreso"
                                                            readonly>
                                                        <mat-datepicker-toggle matSuffix [for]="picak"
                                                            [disabled]="!Y.value.esEditable">
                                                        </mat-datepicker-toggle>
                                                        <mat-datepicker #picak></mat-datepicker>
                                                    </mat-form-field>
                                                </td>
                                            </div>
                                        </div>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class=" div-button ubicacion float-right mt-20"
                                                (click)="addIngresos(ix)">
                                                <mat-icon class="div-button material-icons color_gray ">add_circle
                                                </mat-icon>
                                                <div class="div-right color_gray ">
                                                    Añadir otro ingreso
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

            <div class="ml-10 mr-10 ubicacionBoton" >
                <button type="submit" class="bt-actions-red-guardar" color="primary"
                [class.botonGuardarGris]="gastosTipoNegocioForm.invalid || botonInhabilitado" [disabled]="gastosTipoNegocioForm.invalid || botonInhabilitado"
                    (click)="guardarNuevaEntradaPago()">
                    <span class=" text text-15 color_white text-2lines ">GUARDAR NUEVA ENTRADA DE
                        PAGO</span>
                </button>
            </div>
        </form>
    </div>
</div>

<div *ngIf="listaIngresoPagosIngresos">
    <app-pago-lista-ingresos-gastos [listaConceptos]="listaConceptos">
    </app-pago-lista-ingresos-gastos>
</div>