.mt-46 {
    margin-top: 4.6rem;
}

.mt-36 {
    margin-top: 3.6rem;
}

.mt-26 {
    margin-top: 2.6rem;
}

.ubicacionBoton {
    margin-top: 58px;
    margin-left: 276px;
    margin-bottom: 48px;
}

.mt-16 {
    margin-top: 1.6rem;
}

.rayita-hr {
    position: relative;
    bottom: 8px;
}

.ubicacion{
    position: relative;
    right: 47px;
}

.divFecha {
    position: relative;
    /*left: 41px;*/
}

.elTitulo{
    width: 50%;
}

.posicionBotonFinal {
    padding-right: 26px;
}

.posicionBotonSegundo {
    padding-right: 71px;
}

.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}


.hidden-date-input {
    width: 0;
    border: none;
    padding: 0;
  }



hr {
    border: 0 none #BDBDBD;
    border-top: 1px solid #BDBDBD;
    height: 1px;
    margin: 5px 0;
    display: block;
    clear: both;
    }


.bt-actions-red {
        width: 22rem;
        border-radius: 4px;
        box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: var(--pinkish-red);
        display: flex;
        justify-content: center;
        align-content: center;
        min-height: 36px;
        color: white;
        font-weight: bold;
    }


 .bt-actions-red-guardar {
        padding: 5px 30px 5px 30px;
        width: 21rem;
        border-radius: 4px;
        box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: var(--pinkish-red);
        display: flex;
        justify-content: center;
        align-content: center;
        min-height: 36px;
        color: white;
        font-weight: bold;
    }

    .benef-cambio-dato-ingreso{
        width: 120%;
    }

    .benef-cambio-ingreso{
        width: 96%;
    }

    .benef-cambio-ing{
        width: 109%;
    }

    .botonGuardarGris{
        background-color:#77787B!important;
    }
    