<!--
    <div *ngIf="negocioDetalle && negocio_detalle_permiso">
    <app-negocio-detalle></app-negocio-detalle>
</div>
-->
<div *ngIf="!negocioDetalle" class="main-contaniner text">
    <div class="container-form">
        <form [formGroup]="buscarNegociosForm" (ngSubmit)="enviarDatos()" novalidate>
            <mat-form-field class="mr-60">
                <mat-label>{{'negocio.filtrar_por' | translate }}</mat-label>
                <mat-select formControlName="selectCriterio" (selectionChange)="resetTables()">
                    <mat-option *ngFor="let criterio of selectCriterio" [value]="criterio.value">
                        {{ criterio.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="mw-400">
                <mat-label>{{'negocio.buscar' | translate }}</mat-label>
                <input matInput placeholder="Buscar" maxlength="100" formControlName="argumento" type="text" required 
                autocomplete="off"/>
            </mat-form-field>
            <button mat-button type="submit">
                <mat-icon matSuffix svgIcon="search" type="submit"></mat-icon>
            </button>
        </form>
        <div *ngIf="dataNotFound" id="dataNotFound">
            <img src="assets/svg/icons/warning.svg" alt="warning" />
            <mat-label class="text-error text-content text-warning">{{'negocio.sin_resultado' | translate }}</mat-label>
        </div>

        <div *ngIf="errorServer != null" id="dataError" class="mt-40">                       
            <img src="assets/svg/icons/warning.svg" alt="warning" />
            <mat-label class="text-error text-content text-warning">{{ errorServer }}</mat-label>
        </div>
        
        <div *ngIf="dataFound" id="dataFound">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro:" />
            </mat-form-field>

            <div class="text">
                <table mat-table [dataSource]="dataSource" matSort>
                    <caption></caption>
                    <!-- Nombres y apellidos Column -->
                    <ng-container matColumnDef="nombre">
                        <th scope="row " mat-header-cell *matHeaderCellDef mat-sort-header
                            class="text-list list-beneficiarie">
                            {{'negocio.nombre_negocio' | translate }}
                        </th>
                        <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
                    </ng-container>

                    <!-- Tipo de documento Column -->
                    <ng-container matColumnDef="codigoSFC">
                        <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                            class="text-list list-beneficiarie">
                            {{'negocio.codigo_sfc' | translate }}
                        </th>
                        <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.codigoSFC }}</td>
                    </ng-container>

                    <!-- Número de documento Column -->
                    <ng-container matColumnDef="codigoInterno">
                        <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                            class="text-list list-beneficiarie">
                            {{'negocio.codigo_interno' | translate }}
                        </th>
                        <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.codigoInterno }}</td>
                    </ng-container>


                    <!-- Ver mas Column -->
                    <ng-container matColumnDef="id">
                        <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header></th>
                        <td mat-cell *matCellDef="let row" class="mat-cell-center">
                            <div *ngIf="verPestanas()" class="text text-list buscar-detalle-benficiario"
                                (click)="getNegocioDetalle(row.codigoSFC, row.completo)"
                                [hidden]="!negocio_detalle_permiso">
                                <div *ngIf="row.completo===false">
                                    <p><img class="img-buscar-beneficiario" src="assets/svg/icons/completar.svg"
                                            alt="warning" /> {{'negocio.completar' | translate }}</p>
                                </div>
                                <div *ngIf="row.completo===true">
                                    <p><img class="img-buscar-beneficiario" src="assets/svg/icons/searchred.svg"
                                            alt="warning" /> {{'negocio.ver_mas' | translate }}</p>

                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>

                <div class="mt-20">
                    <app-pagination (paginaEmitter)="goToPage($event)" [page]="page" [totalPages]="totalPages"
                        [numElementos]="numElementos" [resultsLength]="resultsLength"></app-pagination>
                </div>
            </div>
        </div>
    </div>
</div>