<div *ngIf="asamblea_agregar" class="">
    <div class="container-form">
        <div class="mt-36">
            <mat-label>{{'comiteNuevaEntrada.nueva_entrada_comite' | translate }}</mat-label>
        </div>
        <form [formGroup]="dynamicForm" novalidate>
            <div class="mt-36">
                <div class="divTable">
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell">
                                <mat-form-field class="benef-cambio-dato">
                                    <input matInput [max]="fechaLimite" [ngxMatDatetimePicker]="picker" readonly
                                        [placeholder]=placeholderFechaReunion [formControl]="dateControl">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
                                </mat-form-field>
                            </div>
                            <div class="divTableCell">
                                <mat-form-field class="lugar-reunion" class="benef-cambio-dato">
                                    <input matInput formControlName="direccionReunion"
                                        [placeholder]=placeholderLugarReunion
                                        oninput="this.value = this.value.toUpperCase()">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">
                                <mat-form-field class="benef">
                                    <mat-label>{{'comiteNuevaEntrada.orden_día' | translate }}</mat-label>
                                    <textarea class="orden-dia" matInput formControlName="ordenDia"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- cargar archivo-->

                <div class="contenedor">
                    <div *ngIf="filesNull" class="contenido div-left w-32">
                        <div>
                            <mat-form-field id="file-label" class="w-32">
                                <input matInput readonly [placeholder]=placeholderTipoArchivo value="">
                            </mat-form-field>
                        </div>
                        <span id="file-label">
                        </span>
                        <input type="file" id="fileUpload" name="fileUpload" multiple="multiple" accept="{{accept}}"
                            style="display:none;" />
                    </div>

                    <div *ngIf="!filesNull" class="contenido div-left w-32">
                        <ul>
                            <li *ngFor="let file of files" [@fadeInOut]="file.state">

                                <div>
                                    <mat-form-field id="file-label" class="w-32">
                                        <input matInput readonly [placeholder]=placeholderTipoArchivo
                                            value={{file.data.name}}>
                                    </mat-form-field>
                                </div>
                            </li>
                        </ul>
                        <input type="file" id="fileUpload" name="fileUpload" multiple="multiple" accept="{{accept}}"
                            style="display:none;" />

                    </div>
                    <div class="div-center">
                        <button mat-button class="bt-actions-red-cargar-archivo" color="primary" mat-stroked-button
                            (click)="subirArchivo()">
                            <span
                                class="text text-15 color_white">{{'comiteNuevaEntrada.bt_cargar_archivo' | translate }}</span>
                        </button>
                    </div>
                </div>

                <!--Decisiones tomadas -->
                <div>
                <div class="decisiones-tomadas">
                    <div class="mt-100">
                        <div class="div-left param-gral-descrip ubicacionTitulo">
                            <mat-label>{{'comiteNuevaEntrada.decisiones_tomadas' | translate }}</mat-label>
                        </div>
                        <div class="div-center param-gral-unidad ml-110 SegundoTitulo">
                            <mat-label>{{'comiteNuevaEntrada.responsable' | translate }}</mat-label>
                        </div>
                    </div>

                    <div formArrayName="decisionTomada">
                        <div *ngFor="let itemDecisionTomada of decisionTomadaFormArray.controls; let i = index;">
                            <div [formGroupName]="i" class="container">
                                <div class="div-left">

                                    <div class="divTable">
                                        <div class="divTableBody">
                                            <div class="divTableRow">
                                                <div class="divTableCell"> <span class="align-icon">
                                                        <mat-icon class="div-button material-icons color_gray"
                                                            (click)="removeFromDecisionTomadaFormArray(i)">
                                                            remove_circle</mat-icon>
                                                    </span>
                                                    <div class="divTableCell textPlace">
                                                        <mat-form-field class="benef-cambio-dato">
                                                            <textarea matInput formControlName="descripcion"
                                                                [placeholder]=placeholderDecisionesTomada></textarea>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="divTableCell responsable">
                                                    <!--Responsable-->
                                                    <div formArrayName="responsables">
                                                        <div
                                                            *ngFor="let Z of itemDecisionTomada['controls'].responsables['controls']; let ix=index">
                                                            <div [formGroupName]="ix">

                                                                <div class="divTable">
                                                                    <div class="divTableBody">
                                                                        <div class="divTableRow">
                                                                            <div class="divTableCell"> <span
                                                                                    class="align-icon">
                                                                                    <mat-icon
                                                                                        class="div-button material-icons color_gray"
                                                                                        (click)="deleteresponsable(i,ix)">
                                                                                        remove_circle</mat-icon>
                                                                                </span></div>
                                                                            <div class="divTableCell">
                                                                                <mat-form-field
                                                                                    class="benef-cambio-dato">
                                                                                    <input matInput maxlength="50"
                                                                                        formControlName="nomResponsable"
                                                                                        [placeholder]=placeholderResponsable
                                                                                        oninput="this.value = this.value.toUpperCase()" />
                                                                                </mat-form-field>
                                                                            </div>
                                                                            <div class="divTableCell">
                                                                                <mat-form-field
                                                                                    class="benef-cambio-dato">
                                                                                    <mat-label>Tipo de documento
                                                                                    </mat-label>
                                                                                    <mat-select
                                                                                        formControlName="tipoDocumento">
                                                                                        <mat-option
                                                                                            *ngFor="let tipoDoc of tiposDocumento"
                                                                                            [value]="tipoDoc.valor">
                                                                                            {{tipoDoc.descripcion}}
                                                                                        </mat-option>
                                                                                    </mat-select>
                                                                                </mat-form-field>
                                                                            </div>
                                                                            <div class="divTableCell">
                                                                                <mat-form-field
                                                                                    class="benef-cambio-dato">
                                                                                    <input matInput type="text" 
                                                                                        formControlName="numeroDocumento"
                                                                                        [placeholder]=placeholdernumeroDocumento
                                                                                        maxlength="30"
                                                                                        oninput="this.value = this.value.toUpperCase()" />
                                                                                </mat-form-field>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="div-button float-right adicionarResponsable"
                                                            (click)="addResponsable(i)">
                                                            <div>
                                                                <div class="div-left">
                                                                    <mat-icon
                                                                        class="div-button material-icons color_gray">
                                                                        add_circle</mat-icon>
                                                                </div>
                                                                <div class="div-right color_gray">
                                                                    {{'comiteNuevaEntrada.adicionResponsable' | translate }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div>
                    <div class="div-button float-right adicionarDecision" (click)="addToDecisionTomadaFormArray()">
                        <div>
                            <div class="div-left">
                                <mat-icon class="div-button material-icons color_gray">add_circle</mat-icon>
                            </div>
                            <div class="div-right color_gray">
                                {{'comiteNuevaEntrada.bt_anadir_otra' | translate }}
                            </div>
                        </div>
                    </div>

                </div>
                <!--tareas pendientes-->
                <div>
                <div class="decisiones-tomadas">
                    <div class="mt-100">
                        <div class="div-left param-gral-descrip ubicacionTitulo">
                            <mat-label>{{'comiteNuevaEntrada.tareas_pendientes' | translate }}</mat-label>
                        </div>
                        <div class="div-center param-gral-unidad ml-110 SegundoTitulo">
                            <mat-label>{{'comiteNuevaEntrada.responsable' | translate }}</mat-label>
                        </div>
                    </div>

                    <div formArrayName="tareaPendiente">
                        <div *ngFor="let itemTareaPendiente of tareaPendienteFormArray.controls; let in = index;">
                            <div [formGroupName]="in" class="container">
                                <div class="div-left">

                                    <div class="divTable" style="width: 100%;">
                                        <div class="divTableBody">
                                            <div class="divTableRow">
                                                <div class="divTableCell"> <span class="align-icon">
                                                        <mat-icon class="div-button material-icons color_gray"
                                                            (click)="removeFromTareaPendienteFormArray(in)">
                                                            remove_circle</mat-icon>
                                                    </span>
                                                    <div class="divTableCell textPlace">
                                                        <mat-form-field class="benef-cambio-dato">
                                                            <textarea matInput formControlName="descripcion"
                                                                [placeholder]=placeholderTareaPendiente></textarea>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="divTableCell responsable">
                                                    <!--Responsable-->
                                                    <div formArrayName="responsables">
                                                        <div
                                                            *ngFor="let ZA of itemTareaPendiente['controls'].responsables['controls']; let iz=index">
                                                            <div [formGroupName]="iz">

                                                                <div class="divTable">
                                                                    <div class="divTableBody">
                                                                        <div class="divTableRow">
                                                                            <div class="divTableCell"> <span
                                                                                    class="align-icon">
                                                                                    <mat-icon
                                                                                        class="div-button material-icons color_gray"
                                                                                        (click)="deleteresponsable(in,iz)">
                                                                                        remove_circle</mat-icon>
                                                                                </span></div>
                                                                            <div class="divTableCell">
                                                                                <mat-form-field
                                                                                    class="benef-cambio-dato">
                                                                                    <input matInput maxlength="50"
                                                                                        formControlName="nomResponsable"
                                                                                        [placeholder]=placeholderResponsable
                                                                                        oninput="this.value = this.value.toUpperCase()" />
                                                                                </mat-form-field>
                                                                            </div>
                                                                            <div class="divTableCell">
                                                                                <mat-form-field
                                                                                    class="benef-cambio-dato">
                                                                                    <mat-label>Tipo de documento
                                                                                    </mat-label>
                                                                                    <mat-select
                                                                                        formControlName="tipoDocumento">
                                                                                        <mat-option
                                                                                            *ngFor="let tipoDoc of tiposDocumento"
                                                                                            [value]="tipoDoc.valor">
                                                                                            {{tipoDoc.descripcion}}
                                                                                        </mat-option>
                                                                                    </mat-select>
                                                                                </mat-form-field>
                                                                            </div>
                                                                            <div class="divTableCell">
                                                                                <mat-form-field
                                                                                    class="benef-cambio-dato">
                                                                                    <input matInput type="text" 
                                                                                        formControlName="numeroDocumento"
                                                                                        [placeholder]=placeholdernumeroDocumento
                                                                                        maxlength="30"
                                                                                        oninput="this.value = this.value.toUpperCase()" />
                                                                                </mat-form-field>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="div-button float-right adicionarResponsable"
                                                            (click)="addResponsableTarea(in)">
                                                            <div>
                                                                <div class="div-left">
                                                                    <mat-icon
                                                                        class="div-button material-icons color_gray">
                                                                        add_circle</mat-icon>
                                                                </div>
                                                                <div class="div-right color_gray">
                                                                    {{'comiteNuevaEntrada.adicionResponsable' | translate }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                    </div>
                </div>
                </div>
                <div>
                    <div class="div-button float-right adicionarDecision" (click)="addToTareaPendienteFormArray()">
                        <div>
                            <div class="div-left">
                                <mat-icon class="div-button material-icons color_gray">add_circle</mat-icon>
                            </div>
                            <div class="div-right color_gray">
                                {{'comiteNuevaEntrada.adicionar_tarea' | translate }}
                            </div>
                        </div>
                    </div>
                </div>
                <!--Temas tratados-->
                <div class="divTable" style="width: 100%;">
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell">
                                <mat-form-field class="benefi">
                                    <mat-label>{{'comiteNuevaEntrada.temasTratados' | translate }}</mat-label>
                                    <textarea class="orden-dia" maxlength="500" matInput
                                        formControlName="temasTratados"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Asistentes-->
                <div class="mt-56">
                    <div class="div-left param-gral-descrip ubicacionTituloAsistentes">
                        <mat-label>{{'comiteNuevaEntrada.asistentes' | translate }}</mat-label>
                    </div>
                    <table class="tablaAsistente" mat-table [dataSource]="dataSource" matSort> <caption></caption>
                         <!-- Checbox-->
                       <ng-container matColumnDef="select">
                        <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header></th>
                        <td mat-cell *matCellDef="let row">
                          <mat-checkbox (change)="guardarAsistente(row, $event.checked)">
                        </mat-checkbox>
                        </td>
                    </ng-container>
                     <!-- Nombres y apellidos Column -->
                      <ng-container matColumnDef="name">
                        <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header class="text-list list-beneficiarie">              
                        </th>
                        <td mat-cell *matCellDef="let row">{{ row.nombre | uppercase}}</td>
                      </ng-container>
                      
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                </div>
                <div class="mt-16">
                    <div class="bt_left">
                        <mat-form-field class="cambio-dato">
                            <input matInput formControlName="numeroRadicado" type="text" maxlength="30"
                                [placeholder]=placeholderNumeroRadicado oninput="this.value = this.value.toUpperCase()">
                        </mat-form-field>
                    </div>
                </div>

                <div class="mt-36 w-550 mb-100 contenedor botonGuardar">
                    <div class="display-online bt_center contenido">
                        <span>
                            <button type="submit"  class="bt-actions-red-guardar" color="primary" [class.botonGuardarGris]="dynamicForm.invalid" [disabled]="dynamicForm.invalid" (click)="guardarComite()">
                                <span
                                    class=" text text-15 color_white">{{'comiteNuevaEntrada.bt_guardar' | translate }}</span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>