.divTable {
    display: table;
    width: 100%;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}

.divTableBody {
    display: table-row-group;
}

.benef{
        width: 180%;
}

.cambio-dato{
  width: 155%;
}

.benefi{
  width: 96%;
}

.divTableCell,
.divTableHead {
    display: table-cell;
    /* padding: 2px 50px;*/
}

.bt_left {
    float: left;
    margin-right: 9rem;
  }
  .bt_center {
    display: inline-block;
  }
  .bt_right {
    float: right;
  }
  .mw-600 {
    min-width: 60rem;
  }
  
  .mb-100 {
    margin-bottom: 10rem;
  }
  
  .mt-100 {
    margin-top: 10rem;
  }
  
  .mt-10 {
    margin-top: 1rem;
  }
  
  .mt-15 {
    margin-top: 1.5rem;
  }
  
  .margin-neg11 {
    margin-right: -11rem;
  }
  
  .ml-40 {
    margin-left: 4rem;
  }
  
  .lugar-reunion {
    width: 31rem;
  }
  
  .w-32 {
    width: 32rem;
  }
  .orden-dia {
    min-height: 7rem;
  }

  .responsable{
        position: relative;
        left: 44px;
  }
  
  .textPlace{
    position: relative;
    left: 35px;
    bottom: 56px;
}
  .bt-cancelar-gray {
    width: 22rem;
    border-radius: 4px;
    box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--battleship-gray);
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 36px;
    color: white;
    font-weight: bold;
  }
  
  .bt-actions-red {
    width: 22rem;
    border-radius: 4px;
    box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--pinkish-red);
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 36px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .bt-actions-red-cargar-archivo {
    width: 32rem;
    border-radius: 4px;
    box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--pinkish-red);
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 36px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  .ubicacionTitulo{
    position: relative;
    left: 40px;
    bottom: 30px;
  }

  .ubicacionTituloAsistentes{
    position: relative;
    left: 3px;
    bottom: 24px;
}

.tablaAsistente{
    position: relative;
    bottom: 27px;
}

.mt-16{
  margin-top:1.6rem;
}


.mt-36{
  margin-top:3.6rem;
}

.bt-actions-red-guardar {
  padding: 5px 30px 5px 30px;
  width: 21rem;
  border-radius: 4px;
  box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--pinkish-red);
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 36px;
  color: white;
  font-weight: bold;
}

.botonGuardarGris{
  background-color:#77787B!important;
}

.SegundoTitulo {
    position: relative;
    left: 113px;
    bottom: 30px;
}

.adicionarDecision{
        top: 18px;
        right: 41px;
        padding-bottom: 30px;
        position: relative;
}

.botonGuardar{
  padding-top: 80px;
}

.adicionarAsistente {
  top: 18px;
  right: 25px;
  padding-bottom: 30px;
  position: relative;
}

.adicionarResponsable{
    top: 18px;
    right: 18px;
    position: relative;
    padding-bottom: 30px;
}
  
  .contenedor {
    display: flex;
    align-items: center;
  }
  
  .contenido {
    margin: 5px 25px;
    /* requerido para alineación horizontal */
  }
  
  .border-button {
    border-bottom-color: var(--battleship-gray);
    border-width: 1px;
    border-bottom-style: solid;
  }
  
  .param-gral-descrip-mesa-directiva {
    width: 40rem;
  }
  
  .ml-30 {
    margin-left: 3rem;
  }
  
  .mw-10 {
    min-width: 10rem;
  }
  
  .decisiones-tomadas {
    min-width: 10rem;
    display: inline-block;
  }
  .tareas-pendientes {
    min-width: 10rem;
    display: inline-block;
  }
  
  .div-table-mesa-expositor {
    display: table;
    width: 100%;
    border-spacing: 5px; /* cellspacing:poor IE support for  this */
    padding-bottom: 2rem;
  }
  .table_distribucion {
    padding-bottom: 0;
  }
  .div-table-row {
    display: table-row;
    width: 100%;
    clear: both;
  }
  .div-table-col {
    float: left; /* fix for  buggy browsers */
    display: table-column;
    width: 50%;
    /* background-color: #ccc;   */
  }
  
  .w-col-5p {
    width: 5%;
  }
  .w-col-65p {
    width: 65%;
  }
  
  .w-col-30p {
    width: 30%;
  }
  
  .param-mesa-directiva-descrip {
    width: 45.5rem;
  }
  
  .param-expositor-descrip {
    width: 45.5rem;
  }
  
  .div-table-col-right {
    float: right; /* fix for  buggy browsers */
  }

  /*.t-36{
    top:3.6rem;
  }
  */

  .mt-56{
    top:5.6rem;
  }
  
  