.bt-contenedor {
    line-height: 100%;
}

.bt-cancelar-gray {
    width: 13rem;
    border-radius: 4px;
    box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--battleship-gray);
    display: flex;
    justify-content: center;
    align-content: center;
    height: 36px;
    color: white;
    font-weight: bold;
}

.bt-actions-red {
    width: 13rem;
    border-radius: 4px;
    box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--pinkish-red);
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 36px;
    color: white;
    font-weight: bold;
}

.text-2lines {
    line-height: 1.2;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.text-15 {
    font-size: 1.5rem;
}

.text-20 {
    font-size: 2rem;
}

.text-align-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.contenedor {
    display: flex;
    align-items: center;
}

.contenido {
    margin: 0 auto;
    /* requerido para alineación horizontal */
}

.contenedor-titulo {
    display: flex;
    justify-content: space-around;
}

.color_white {
    color: white;
    font-weight: bold;
}

table {
    width: 100%;
}

.nombre {
    padding-left: 21px;
}

.tipodocumento {
    padding-left: 35px;
}

.numerodoc {
    padding-left: 62px;
}

.porcentaje {
    padding-left: 57px;
}

.separacionBoton {
    padding-right: 40px;
}

.conteniendoBoton {
    padding-bottom: 22px;
}

.checkbox {
    padding-bottom: 10px;
    padding-left: 12px;
}

.mensajeError {
    color: #DC051C;
    font-weight: 400;
    position: absolute;
    /* top: 124px;*/
    padding-left: 60px;
}

.mensajediferente {
    color: #DC051C;
    font-weight: 400;
    position: absolute;
    /* top: 124px;*/
    padding-left: 60px;
}

.posicionMensaje {
    padding-right: 726px;
}

.contenido-img {
    float: left;
    text-align: center;
}

.img-50 {
    padding-right: 19px;
    width: 36px;
    height: 36px;
    position: relative;
    top: 10px;
    left: 18px;
}

.mensajecien {
    right: 16px;
    bottom: 31px !important;
    position: relative !important;
    align-content: left!important;
    color: #DC051C !important;
}

.divCien {
    position: relative !important;
    right: 182px !important;
}