<div class="text">
    <div class="contenedor">
        <div class="contenido">
            <div class="contenedor-titulo">
                <mat-label mat-dialog-title class="text-20 text-bold">{{data.titulo}}</mat-label>
            </div>
            <p *ngIf="banderaMensajeError" class="mensajecien"><img class="img-50" src="assets/svg/icons/warning.svg" alt="warning" />La suma de porcentajes de giro no puede ser diferente a 100%</p>
            <p *ngIf="mensajeTres" class="mensajecien"><img class="img-50" src="assets/svg/icons/warning.svg" alt="warning" />La distribución automatica no es exacta. Calcule los valores de porcentaje de giro manualmente.</p>

        </div>
    </div>
    <!--aqui empieza el formulario-->
    <div class="contenedor">
        <div mat-dialog-content class="contenido text-align-center">
            <form [formGroup]="giroForm" (keydown.enter)="$event.preventDefault()">
                <div formArrayName="porcentajeGiro">
                    <table> <caption></caption>
                        <thead>
                            <div>
                                <div class="row">
                                    <tr>
                                        <th scope="col" class="col-md-3 nombre">Nombres y apellidos</th>
                                        <th scope="col" class="col-md-3 tipodocumento">Tipo de documento</th>
                                        <th scope="col" class="col-md-3 numerodoc">No. documento</th>
                                        <th scope="col" class="col-md-3 porcentaje">Porcentaje de giro</th>
                                    </tr>
                                </div>
                            </div>
                        </thead>
                        <tbody>
                            <div *ngFor="let itemCostoPago of PagoGiroFormArray.controls let i = index;">
                                <div [formGroupName]="i" class="container">
                                    <tr>
                                        <td class="tituloCodigo">
                                            <mat-form-field class="benef-cambio-dato">
                                                <input matInput maxlength="100" formControlName="beneficiario" readonly/>
                                            </mat-form-field>
                                        </td>
                                        <td class="tituloCodigo">
                                            <mat-form-field class="benef-cambio-dato">
                                                <input matInput maxlength="30" formControlName="tipoDocumento" readonly/>
                                            </mat-form-field>
                                        </td>
                                        <td class="tituloCodigo">
                                            <mat-form-field class="benef-cambio-dato">
                                                <input matInput maxlength="30" formControlName="numeroDocumento" readonly/>
                                            </mat-form-field>
                                        </td>


                                        <td class="tituloCodigo">
                                            <mat-form-field class="benef-cambio-dato">
                                                <input matInput type="text" formControlName="porcentajeGiro" (change)="validarSumatoriaGiro()"
                                                    OnlyNumber="true" decimal="true" maxLenth="6" maxValor="100.00" />
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                </div>
                            </div>
                        </tbody>
                    </table>
                </div>
                <mat-checkbox class="div-left checkbox" formControlName="checkParteIgual" (change)="repartirPorcentajeParteIgual()">Repartir porcentaje de giro en partes iguales</mat-checkbox>
            </form>
        </div>
    </div>

    <div mat-dialog-actions class="contenedor">
        <div class="bt-contenedor contenido conteniendoBoton">
            <div class="ml-10 mr-10 div-left separacionBoton">
                <button mat-button class="bt-cancelar-gray" mat-stroked-button [mat-dialog-close]="data.buttonCancelar" cdkFocusInitial>
                    <span class="text text-15 color_white text-2lines">{{ data.buttonCancelar }} </span>
                </button>
            </div>

            <div class="ml-10 mr-10 div-right">
                <button mat-button class="bt-actions-red" color="primary" mat-stroked-button cdkFocusInitial [disabled]="(banderaMensajeError || mensajeTres) || giroForm.invalid" (click)="continuar()">
                    <span class=" text text-15 color_white text-2lines ">{{ data.buttonContinuar }}</span>
                </button>
            </div>
        </div>
    </div>
</div>