<div class="main-contaniner text" *ngIf="roles_permisos">
    <div class="container-form">
        <mat-label>Roles y pemisos</mat-label>
        <hr>
      <table><caption></caption>
        <tr>
          <th scope="col">
            <div class="mt-56 div-left perfil-rol-descripcion">
              <mat-label>Nombre del rol</mat-label>
            </div>
          </th>
          <th scope="col">
            <div class="mt-56 div-center perfil-funcionalidad ml-50">
              <mat-label>Funcionalidades</mat-label>
            </div>
          </th>
          <th scope="col">
            <div class="mt-56 div-right perfil-permiso">
              <mat-label>Permiso</mat-label>
            </div>
          </th>
        </tr>
      </table>

        <!-- This is where we will insert the dynamic components -->
        <div #container></div>

        <div class="mt-200 contenedor-button">
            <div class="contenido-button" >
              <span *ngIf="roles_permisos_escribe">
              <button              
                class="bt-save-change"
                mat-stroked-button
                color="primary"                
                (click)="save()"
              >
                <span class="text text-content color_white">GUARDAR CAMBIOS</span>
              </button>
            </span>
            </div>
          </div>          
    </div>
</div>
