.ubicacionBoton {
    margin-top: 76px;
    margin-left: 314px;
    margin-bottom: 48px;
}

.bt-actions-red {
    width: 22rem;
    border-radius: 4px;
    box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--pinkish-red);
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 36px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.botonGuardarGris{
    background-color:#77787B;
}

.w-550 {
    width: 55rem;
}

.display-online {
    float: left;
    margin-right: 5rem;
}
.check-comite {
    margin-top: 7rem;
}

.container{
    text-align:center
}
.bt_left{
    float: left;
    margin-right: 9rem;
}
.bt_center{
    display:inline-block;
}
.bt_right{
    float: right;   
}

.tipoDocumento{
    padding-left: 47px;
    font-weight: bold;
  }

  .tituloNombre{
    font-weight: bold;
  }

  .numeroDocumento{
     padding-left: 48px;
     font-weight: bold;
  }

  .ubicacionpadding {
    padding-bottom: 24px;
}

.mt-26{
    margin-top: 2.6rem;
}