<div class="text">
    <div class="contenedor">
        <div class="contenido">
            <div class="contenedor-titulo">
             
                    <mat-progress-spinner
        class="example-margin"
        [color]="color"
        [mode]="mode"
        [value]="value"
        diameter= "50">
    </mat-progress-spinner>
    </div>
               
                <div class="contenedor-titulo">
                    <mat-label mat-dialog-title class="text-20 text-bold">{{data.titulo}}</mat-label>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor">
        <div mat-dialog-content class="contenido text-align-center">
            <mat-label class="text-15">
                {{data.contenido}}
            </mat-label>
        </div>
   
</div>