<mat-form-field>
    <input matInput
    [placeholder]=placeholderFecha
    [satDatepicker]="picker"
    readonly
    (dateChange)="emitDates(ref)">
    <sat-datepicker #picker [rangeMode]="true"> </sat-datepicker>
    <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
</mat-form-field>

