.btn-generar-certificados {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: center;
    color: white;
    width: 298.5px;
    height: 28px;
    background-color: #ed1c24;
  }

.todos{
  margin-left: 40px!important;
}

  .ubicacionBoton{
    margin-left: 253px;
}
  
  .boton{
    padding-left: 288px;
    padding-bottom: 44px;
  
  }
.text-center {
  text-align: center;
}