<div class="mt-56">
    <mat-button-toggle-group *ngIf="verMas" name="fontStyle" aria-label="Font Style" class="h-30">
        <mat-button-toggle disabled clase="h-30">{{nombreSeleccionado}}
        </mat-button-toggle>
        <mat-button-toggle disabled clase="h-30">{{tipoDocumentoSeleccionado + numeroDocumentoSeleccionado}}
        </mat-button-toggle>
        <mat-button-toggle disabled clase="h-30">{{periodoSeleccionado}}
        </mat-button-toggle>
        <mat-button-toggle disabled clase="h-30">{{certificadoSeleccionado}}
        </mat-button-toggle>
    </mat-button-toggle-group>
</div>

<div *ngIf=!verMas class="text ">

    <div class="container-form">
        <form [formGroup]="buscarNegociosForm" (ngSubmit)="enviarDatos()" novalidate>
            <div *ngIf="!subBusqueda">
                <mat-form-field class="mr-60">

                    <mat-label>{{'certificados.tipo_reporte' | translate }}</mat-label>
                    <mat-select formControlName="tiposCertificado" (selectionChange)="setTipoCertificado($event.value)">
                        <mat-option *ngFor="let t of tiposCertificado" [value]="t.value">
                            {{ t.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="mr-60">
                    <mat-label>{{'certificados.ano_grabable' | translate }}</mat-label>
                    <mat-select formControlName="anoGrabable" (selectionChange)="setAnoSeleccionado($event.value)">
                        <mat-option *ngFor="let year of listAnoSelect" [value]="year.value">
                            {{ year.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <mat-form-field class="mr-60">
                <mat-label>{{'negocio.filtrar_por' | translate }}</mat-label>
                <mat-select formControlName="selectCriterio" (selectionChange)="resetTables()">
                    <mat-option *ngFor="let criterio of selectCriterio" [value]="criterio.value">
                        {{ criterio.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="mw-400">
                <mat-label>{{'negocio.buscar' | translate }}</mat-label>
                <input matInput placeholder="Buscar" maxlength="100" formControlName="argumento" type="text" required
                    autocomplete="off" />
            </mat-form-field>
            <button mat-button type="submit">
                <mat-icon matSuffix svgIcon="search" type="submit"></mat-icon>
            </button>
        </form>
    </div>

    <div *ngIf="dataNotFound" id="dataNotFound">
        <img src="assets/svg/icons/warning.svg" alt="warning" />
        <mat-label class="text-error text-content text-warning">{{'negocio.sin_resultado' | translate }}</mat-label>
    </div>

    <div *ngIf="dataFound" id="dataFound">
        <div class="text">
            <table mat-table [dataSource]="dataSource" matSort>
                <caption></caption>
                <!-- Nombres y apellidos Column -->
                <ng-container matColumnDef="nombre">
                    <th scope="row " mat-header-cell *matHeaderCellDef mat-sort-header
                        class="text-list list-beneficiarie">
                        {{'certificados.titular' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.nombreCompleto }}</td>
                </ng-container>

                <!-- Tipo de documento Column -->
                <ng-container matColumnDef="tipoDocumento">
                    <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                        class="text-list list-beneficiarie">
                        {{'certificados.tipo_de_documento' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.tipoDocumento }}</td>
                </ng-container>

                <!-- Número de documento Column -->
                <ng-container matColumnDef="numeroDocumento">
                    <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                        class="text-list list-beneficiarie">
                        {{'certificados.numero_de_documento' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.numeroDocumento }}</td>
                </ng-container>

                <!-- Ver mas Column -->
                <ng-container matColumnDef="id">
                    <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header>
                        <mat-checkbox class="todos" (change)="$event ? masterToggle() : null; seleccionarTodos()"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                       >
          </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row" class="mat-cell-center">
                        <div *ngIf="true" class="text text-list buscar-detalle-benficiario">
                            <div (click)="mostrarSubbusqueda(row.nombreCompleto, row.tipoDocumento, row.numeroDocumento)"
                                *ngIf="subBusqueda==false">
                                <p><img class="img-buscar-beneficiario" src="assets/svg/icons/searchred.svg"
                                        alt="warning" /> {{'certificados.ver_negocios_asociados' | translate }}</p>

                            </div>
                            <div *ngIf="subBusqueda">
                                <p>
                                    <mat-checkbox 
                                    (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null ; administrarEscogidos(row)"
                    [checked]="selection.isSelected(row)"
                    >
                                        {{'certificados.generar' | translate }}</mat-checkbox>

                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

            <div class="mt-20">
                <app-pagination (paginaEmitter)="goToPage($event)" [page]="page" [totalPages]="totalPages"
                    [numElementos]="numElementos" [resultsLength]="resultsLength"></app-pagination>
            </div>
        </div>
    </div>
    <div *ngIf="selected()" class="boton">
        <button class="btn-generar-certificados" (click)="verificarSeleccion()">
            {{'certificados.generar_certificados' | translate }}</button>
    </div>
</div>
<div *ngIf="verMas">
    <app-certificados-negocios [subBusqueda]="verMas" [tipoDocumento]="tipoDocumentoSeleccionado"
        [numeroDocumento]="numeroDocumentoSeleccionado" [anoGrabable]="periodoSeleccionado"
        [tipoCertificado]="certificadoSeleccionado">
    </app-certificados-negocios>
</div>