.bt-contenedor {
  line-height: 100%;
}

.bt-cancelar-gray {
  width: 13rem;
  border-radius: 4px;
  box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--battleship-gray);
  display: flex;
  justify-content: center;
  align-content: center;
  height: 36px;
  color: white;
  font-weight: bold;
}

.bt-actions-red {
  width: 13rem;
  border-radius: 4px;
  box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--pinkish-red);
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 36px;
  color: white;
  font-weight: bold;
}

.text-2lines {
  line-height: 1.2;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text-15 {
  font-size: 1.5rem;
}

.text-20 {
  font-size: 2rem;
}

.text-align-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.contenedor {
  display: flex;
  align-items: center;
}

.contenido {
  margin: 0 auto;
  /* requerido para alineación horizontal */
}

.contenedor-titulo {
  display: flex;
  justify-content: space-around;
}

.contenido-img {
  float: left;
  text-align: center;
}

.img-50 {
  width: 50px;
  height: 50px;
}

.color_white {
  color: white;
  font-weight: bold;
}

.col-md-4 {
  padding-right: 80px;
}