<div class="text">
  <div class="contenedor">
    <div class="contenido">
      <div class="contenedor-titulo">
        <div *ngIf="data.urlimg" id="urlimg" class="img-50 contenido-img">
          <img src="assets/svg/icons/warning.svg" alt="warning" />
        </div>
        <div>
          <mat-label mat-dialog-title class="text-20 text-bold">{{data.titulo}}</mat-label>
        </div>
      </div>
    </div>
  </div>

  <div class="contenedor">
    <div *ngIf="filesNull" class="contenido w-28">
      <div>
        <mat-form-field id="file-label" class="w-28">
          <input matInput placeholder="Archivos admitidos .xlsx" value="">
        </mat-form-field>
      </div>
      <span id="file-label">
      </span>
      <input type="file" id="fileUpload" name="fileUpload" multiple="multiple" accept="{{accept}}"
        style="display:none;" />

    </div>

    <br />
    <div *ngIf="!filesNull" class="div-left" style="width: 32rem">
      <ul>
        <li *ngFor="let file of files" [@fadeInOut]="file.state">

          <div *ngIf="uploadResponse.status === 'progress'">
            <div role="progressbar" [style.width.%]="uploadResponse.message" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100">
              {{uploadResponse.message}}%
            </div>
          </div>

          <div>
            <mat-form-field id="file-label" class="w-28">
              <input matInput placeholder="Archivos admitidos .xlsx" value={{file.data.name}}>
            </mat-form-field>
          </div>
        </li>
      </ul>

      <input type="file" id="fileUpload" name="fileUpload" multiple="multiple" accept="{{accept}}"
        style="display:none;" />

    </div>

    <div class="div-right">
      <button mat-button class="bt-actions-red" color="primary" mat-stroked-button (click)="subirArchivo()">
        <span class="text text-15 color_white">{{ data.buttonBuscar }}</span>
      </button>
    </div>

  </div>



  <div mat-dialog-actions class="contenedor">
    <div class="bt-contenedor contenido">
      <div class="ml-10 mr-10 div-left">
        <button mat-button class="bt-cancelar-gray" mat-stroked-button [mat-dialog-close]="data.buttonCancelar"
          cdkFocusInitial>
          <span class="text text-15 color_white text-2lines">{{ data.buttonCancelar }} </span>
        </button>
      </div>
      <div class="ml-10 mr-10 div-right">
        <button mat-button class="bt-actions-red" color="primary" mat-stroked-button (click)="uploadFiles()"
          cdkFocusInitial>
          <span class="text text-15 color_white text-2lines">{{ data.buttonCargar }}</span>
        </button>
      </div>
    </div>
  </div>

</div>