<div class="main-contaniner text">
    <div class="container-form">
        
        <div class="contenido-button">
            <div>
                <div class="contenido-button mw-300">
                    <span (click)="openDialogSubirArchivo()" class="div-button">
                        <img class="bt-beneficiario-distribucion"
                            src="assets/svg/icons/bt_cargarTitularesCotitulares.svg" alt="warning" />
                    </span>
                </div>
            </div>
        </div>

        <div class="contenido-button">
            <div>
                <div class="contenido-button mw-300">
                    <span (click)="openDialogVerListadoTitulares()" class="div-button">
                        <img class="bt-beneficiario-distribucion" src="assets/svg/icons/bt_verTitularesCotitulares.svg"
                            alt="warning" />
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>