<div class="text">
    <div class="contenedor">
      <div class="contenido">
        <div class="contenedor-titulo">
          <div *ngIf="data.urlimg" id="urlimg" class="img-50 contenido-img">
            <img src="assets/svg/icons/warning.svg" alt="warning" />
          </div>
          <div>
            <mat-label mat-dialog-title class="text-20 text-bold">{{data.titulo}}</mat-label>
          </div>
        </div>
      </div>
    </div>
    <div class="contenedor">
      <div mat-dialog-content class="contenido text-align-center">
        <mat-label class="text-15">
          {{ data.contenido }}
        </mat-label>
      </div>
    </div>

    <div  class="contenedor">
      <div mat-dialog-content class="contenido text-align-center">
        <mat-label class="text-15">
          <div *ngFor="let item of data.listError; let i = index;">
            <pre>{{ item.beneficiario }}</pre>
        </div>
        </mat-label>
      </div>
    </div>

    <div mat-dialog-actions class="contenedor">
      <div class="bt-contenedor contenido">
        <button
          mat-button
          class="bt-aceptar"
          color="primary"
          mat-stroked-button
          [mat-dialog-close]="data.contenido"
          cdkFocusInitial>
          <span class="text text-15 color_white">{{ data.button }}</span>
        </button>
      </div>
    </div>
  </div>
  