<div class="container-form mt-63">

    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenStateCambios = true" (closed)="panelOpenStateCambios = false">
            <mat-expansion-panel-header>
                <mat-panel-title class="w-50">
                    {{'beneficiario_historial_modificaciones.historial_cambios_beneficiario' | translate }}
                </mat-panel-title>
                <mat-panel-description class="w-50">
                    {{'beneficiario_historial_modificaciones.historial_detallado_sobre_cambio_datos_aplicacion' | translate }}                    
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div>
                <form [formGroup]="buscarModificacionesTitularDynamicForm">
                    <div formArrayName="filtros">
                        <div *ngFor="let itemFiltro of filtrosFormArray.controls; let i = index;">
                            <div [formGroupName]="i" class="container">
                                <div class="div-left">
                                    <span *ngIf="checkFiltros()" class="align-icon">
                                        <mat-icon class="div-button material-icons color_gray"
                                            (click)="removeFromFiltrosFormArray(i,itemFiltro)">
                                            remove_circle</mat-icon>
                                    </span>
                                    <span class="sin-align-icon">
                                        <span *ngIf="!arrayFiltro[i]">
                                            <span class="mr-60">
                                                <mat-form-field>
                                                    <mat-label>
                                                        {{'beneficiario_historial_modificaciones.filtrar_por' | translate }}
                                                    </mat-label>
                                                    <mat-select formControlName="selectCriterio"
                                                        (selectionChange)="buscarListaXCriterioSeleccionado($event, i)">
                                                        <ng-container *ngFor="let criterio of listSelectCriterioNuevo">
                                                            <mat-option *ngIf="criterio.active"
                                                                [value]="criterio.value">
                                                                {{ criterio.viewValue }}
                                                            </mat-option>
                                                        </ng-container>
                                                    </mat-select>
                                                </mat-form-field>
                                            </span>
                                            <span class="mr-60">
                                                <mat-form-field>
                                                    <mat-label>
                                                        {{'beneficiario_historial_modificaciones.argumento' | translate }}
                                                    </mat-label>
                                                    <input matInput placeholder="Buscar" maxlength="100"
                                                        formControlName="argumento" type="text" />
                                                </mat-form-field>
                                            </span>
                                        </span>
                                    </span>

                                    <span>
                                        <span *ngIf="arrayFiltro[i]=='usuario'">
                                            <span class="mr-60">
                                                <mat-form-field>
                                                    <mat-label>
                                                        {{'beneficiario_historial_modificaciones.usuario' | translate }}
                                                    </mat-label>
                                                    <input matInput placeholder="" maxlength="100"
                                                        formControlName="argumento" type="text"
                                                        value="Usuario que Registro" />
                                                </mat-form-field>
                                            </span>
                                            <span class="mr-60">
                                                <app-select-multiple-usuarios
                                                    (emitUsuarioSeleccionado)="getUsuarios($event)">
                                                </app-select-multiple-usuarios>
                                            </span>
                                        </span>
                                        <span *ngIf="arrayFiltro[i]=='negocio'">
                                            <span class="mr-60">
                                                <mat-form-field>
                                                    <mat-label>
                                                        {{'beneficiario_historial_modificaciones.negocioVinculado' | translate }}
                                                    </mat-label>
                                                    <input matInput placeholder="" maxlength="100"
                                                        formControlName="argumento" type="text"
                                                        value="Negocio Asociado" />
                                                </mat-form-field>
                                            </span>
                                            <span class="mr-60">
                                                <app-select-multiple-negocio-asociado
                                                    (emitNegocioAsociado)="getNegocioAsociados($event)">
                                                </app-select-multiple-negocio-asociado>
                                            </span>
                                        </span>
                                        <span *ngIf="arrayFiltro[i]=='fecha'">
                                            <span class="mr-60">
                                                <mat-form-field>
                                                    <mat-label>
                                                        {{'beneficiario_historial_modificaciones.fechaCambio' | translate }}
                                                    </mat-label>
                                                    <input matInput placeholder="" maxlength="100"
                                                        formControlName="argumento" type="text"
                                                        value="Fecha de Cambio" />
                                                </mat-form-field>
                                            </span>
                                            <span class="mr-60">
                                                <app-date-range-picker (emitRange)="getDateRange($event)">
                                                </app-date-range-picker>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <span *ngIf="swAddFiltros" class="linea-completa">
                            <div *ngIf="true" class="div-button float-right" (click)="addToFiltrosFormArray()">
                                <div>
                                    <div class="div-left">
                                        <mat-icon class="div-button material-icons color_gray">add_circle</mat-icon>
                                    </div>
                                    <div class="div-right color_gray">
                                        {{'beneficiario_historial_modificaciones.bt_anadir_filtro' | translate }}
                                    </div>
                                </div>
                            </div>
                        </span>

                        <div class="text-right">
                            <span class="display-inline-block">
                                <span class="div-left">
                                    <button type="submit" class="bt-actions-red" color="primary"
                                        (click)="limpiarformulario()">
                                        <span
                                            class="text text-15 color_white">{{'beneficiario_historial_modificaciones.bt_limpiar' | translate }}
                                        </span>
                                    </button>
                                </span>
                                <span class="div-right">
                                    <span *ngIf="guardarBotton">
                                        <button type="submit" class="bt-actions-red" color="primary"
                                            (click)="enviarDatos(1)">
                                            <span
                                                class="text text-15 color_white">{{'beneficiario_historial_modificaciones.bt_buscar' | translate }}
                                            </span>
                                        </button>
                                    </span>
                                    <span *ngIf="!guardarBotton">
                                        <button type="submit" class="bt-actions-gray" color="primary">
                                            <span
                                                class="text text-15 color_white">{{'beneficiario_historial_modificaciones.bt_buscar' | translate }}
                                            </span>
                                        </button>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                </form>
            </div>

            <div id="dataNotFound" class="display-inline-block" style="display:none;">
                <mat-label class="text-error text-content text-warning">
                    {{'beneficiario_historial_modificaciones.sin_resultado' | translate }}
                </mat-label>
            </div>

            <div class="display-inline-block" id="dataFound" style="display:none;">
                <div class="container-form container-form-table mt-63">
                    <div class="table-contenido">
                        <div class="example-container mat-elevation-z8 text-align-center">
                            <table mat-table [dataSource]="dataSource">
                                <caption></caption>

                                <!-- codigoNegocioVinculado Column -->
                                <ng-container matColumnDef="codigoNegocioVinculado" sticky>
                                    <th scope="col" mat-header-cell *matHeaderCellDef>
                                        {{'beneficiario_historial_modificaciones.codigo_negocio_vinculado' | translate }}
                                    </th>
                                    <td mat-cell class="mat-td-left" *matCellDef="let element">
                                        {{element.codigoNegocioVinculado}} </td>
                                </ng-container>

                                <!-- nombreNegocioVinculado Column -->
                                <ng-container matColumnDef="negocioVinculado">
                                    <th scope="col" mat-header-cell class="mat-th-245" *matHeaderCellDef>
                                        {{'beneficiario_historial_modificaciones.nombre_negocio' | translate }} </th>
                                    <td mat-cell class="mat-td-left" *matCellDef="let element">
                                        {{element.negocioVinculado}}
                                    </td>
                                </ng-container>

                                <!-- fechaCambio Column -->
                                <ng-container matColumnDef="fechaCambio">
                                    <th scope="col" class="mat-th-100" mat-header-cell *matHeaderCellDef>
                                        {{'beneficiario_historial_modificaciones.fechaCambio' | translate }} </th>
                                    <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.fechaCambio}}
                                    </td>
                                </ng-container>

                                <!-- Registrado Por Column -->
                                <ng-container matColumnDef="usuario">
                                    <th scope="col" mat-header-cell class="mat-th-245" *matHeaderCellDef>
                                        {{'beneficiario_historial_modificaciones.usuario' | translate }}
                                    </th>
                                    <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.usuario}}
                                    </td>
                                </ng-container>

                                <!-- Registrado en IP Column -->
                                <ng-container matColumnDef="direccionIp">
                                    <th scope="col" mat-header-cell class="mat-th-245" *matHeaderCellDef>
                                        {{'beneficiario_historial_modificaciones.direccion_ip' | translate }} </th>
                                    <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.direccionIp}}
                                    </td>
                                </ng-container>

                                <!-- operacion Column -->
                                <ng-container matColumnDef="operacion">
                                    <th scope="col" mat-header-cell class="mat-th-245" *matHeaderCellDef>
                                        {{'beneficiario_historial_modificaciones.operacion' | translate }}
                                    </th>
                                    <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.operacion}}
                                    </td>
                                </ng-container>

                                <!-- CampoDeCambio Column -->
                                <ng-container matColumnDef="campo">
                                    <th scope="col" mat-header-cell class="mat-th-245" *matHeaderCellDef>
                                        {{'beneficiario_historial_modificaciones.campo' | translate }}
                                    </th>
                                    <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.campo}} </td>
                                </ng-container>

                                <!-- DatoNuevo Column -->
                                <ng-container matColumnDef="datoNuevo">
                                    <th scope="col" mat-header-cell class="mat-th-245" *matHeaderCellDef>
                                        {{'beneficiario_historial_modificaciones.dato_nuevo' | translate }} </th>
                                    <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.datoNuevo}}
                                    </td>
                                </ng-container>

                                <!-- DatoAnterior Column -->
                                <ng-container matColumnDef="datoAnterior">
                                    <th scope="col" mat-header-cell class="mat-th-245" *matHeaderCellDef>
                                        {{'beneficiario_historial_modificaciones.dato_anterior' | translate }} </th>
                                    <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.datoAnterior}}
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="mt-20">
                    <app-pagination (paginaEmitter)="goToPageCambios($event)" [page]="pageCambios"
                        [totalPages]="totalPagesCambios" [numElementos]="numElementosCambios"
                        [resultsLength]="resultsLengthCambios"></app-pagination>
                </div>
            </div>


        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenStateSolicitudCambios = true"
            (closed)="panelOpenStateSolicitudCambios = false">
            <mat-expansion-panel-header>
                <mat-panel-title class="w-50">
                    {{'beneficiario_historial_modificaciones.historial_solicitud_cambios' | translate }}
                </mat-panel-title>
                <mat-panel-description class="w-50">
                    Detalle de cambios solicitados por usuario
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div>
                <form [formGroup]="buscarModificacionesTitularDynamicForm">
                    <div formArrayName="filtros">
                        <div *ngFor="let itemFiltro of filtrosFormArray.controls; let i = index;">
                            <div [formGroupName]="i" class="container">
                                <div class="div-left">
                                    <span *ngIf="checkFiltros()" class="align-icon">
                                        <mat-icon class="div-button material-icons color_gray"
                                            (click)="removeFromFiltrosFormArray(i,itemFiltro)">
                                            remove_circle</mat-icon>
                                    </span>
                                    <span class="sin-align-icon">
                                        <span *ngIf="!arrayFiltro[i]">
                                            <span class="mr-60">
                                                <mat-form-field>
                                                    <mat-label>
                                                        {{'beneficiario_historial_modificaciones.filtrar_por' | translate }}
                                                    </mat-label>
                                                    <mat-select formControlName="selectCriterio"
                                                        (selectionChange)="buscarListaXCriterioSeleccionado($event, i)">
                                                        <ng-container *ngFor="let criterio of listSelectCriterioNuevo">
                                                            <mat-option *ngIf="criterio.active"
                                                                [value]="criterio.value">
                                                                {{ criterio.viewValue }}
                                                            </mat-option>
                                                        </ng-container>
                                                    </mat-select>
                                                </mat-form-field>
                                            </span>
                                            <span class="mr-60">
                                                <mat-form-field>
                                                    <mat-label>
                                                        {{'beneficiario_historial_modificaciones.argumento' | translate }}
                                                    </mat-label>
                                                    <input matInput placeholder="Buscar" maxlength="100"
                                                        formControlName="argumento" type="text" />
                                                </mat-form-field>
                                            </span>
                                        </span>
                                    </span>

                                    <span>
                                        <span *ngIf="arrayFiltro[i]=='usuario'">
                                            <span class="mr-60">
                                                <mat-form-field>
                                                    <mat-label>
                                                        {{'beneficiario_historial_modificaciones.usuario' | translate }}
                                                    </mat-label>
                                                    <input matInput placeholder="" maxlength="100"
                                                        formControlName="argumento" type="text"
                                                        value="Usuario que Registro" />
                                                </mat-form-field>
                                            </span>
                                            <span class="mr-60">
                                                <app-select-multiple-usuarios
                                                    (emitUsuarioSeleccionado)="getUsuarios($event)">
                                                </app-select-multiple-usuarios>
                                            </span>
                                        </span>
                                        <span *ngIf="arrayFiltro[i]=='negocio'">
                                            <span class="mr-60">
                                                <mat-form-field>
                                                    <mat-label>
                                                        {{'beneficiario_historial_modificaciones.negocioVinculado' | translate }}
                                                    </mat-label>
                                                    <input matInput placeholder="" maxlength="100"
                                                        formControlName="argumento" type="text"
                                                        value="Negocio Asociado" />
                                                </mat-form-field>
                                            </span>
                                            <span class="mr-60">
                                                <app-select-multiple-negocio-asociado
                                                    (emitNegocioAsociado)="getNegocioAsociados($event)">
                                                </app-select-multiple-negocio-asociado>
                                            </span>
                                        </span>
                                        <span *ngIf="arrayFiltro[i]=='fecha'">
                                            <span class="mr-60">
                                                <mat-form-field>
                                                    <mat-label>
                                                        {{'beneficiario_historial_modificaciones.fechaCambio' | translate }}
                                                    </mat-label>
                                                    <input matInput placeholder="" maxlength="100"
                                                        formControlName="argumento" type="text"
                                                        value="Fecha de Cambio" />
                                                </mat-form-field>
                                            </span>
                                            <span class="mr-60">
                                                <app-date-range-picker (emitRange)="getDateRange($event)">
                                                </app-date-range-picker>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <span *ngIf="swAddFiltros" class="linea-completa">
                            <div *ngIf="true" class="div-button float-right" (click)="addToFiltrosFormArray()">
                                <div>
                                    <div class="div-left">
                                        <mat-icon class="div-button material-icons color_gray">add_circle</mat-icon>
                                    </div>
                                    <div class="div-right color_gray">
                                        {{'beneficiario_historial_modificaciones.bt_anadir_filtro' | translate }}
                                    </div>
                                </div>
                            </div>
                        </span>

                        <div class="text-right">
                            <span class="display-inline-block">
                                <span class="div-left">
                                    <button type="submit" class="bt-actions-red" color="primary"
                                        (click)="limpiarformulario()">
                                        <span
                                            class="text text-15 color_white">{{'beneficiario_historial_modificaciones.bt_limpiar' | translate }}
                                        </span>
                                    </button>
                                </span>
                                <span class="div-right">
                                    <span *ngIf="guardarBotton">
                                        <button type="submit" class="bt-actions-red" color="primary"
                                            (click)="enviarDatos(2)">
                                            <span
                                                class="text text-15 color_white">{{'beneficiario_historial_modificaciones.bt_buscar' | translate }}
                                            </span>
                                        </button>
                                    </span>
                                    <span *ngIf="!guardarBotton">
                                        <button type="submit" class="bt-actions-gray" color="primary">
                                            <span
                                                class="text text-15 color_white">{{'beneficiario_historial_modificaciones.bt_buscar' | translate }}
                                            </span>
                                        </button>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                </form>
            </div>

            <div id="dataNotFoundChanges" class="display-inline-block" style="display:none;">
                <mat-label class="text-error text-content text-warning">
                    {{'beneficiario_historial_modificaciones.sin_resultado' | translate }}
                </mat-label>
            </div>

            <div class="display-inline-block" id="dataFoundChanges" style="display:none;">
                <div class="container-form container-form-table mt-63">
                    <div class="table-contenido">
                        <div class="example-container mat-elevation-z8 text-align-center">
                            <table mat-table [dataSource]="dataSourceChanges">
                                <caption></caption>

                                <!-- fechaCambio Column -->
                                <ng-container matColumnDef="fechaCambio" sticky>
                                    <th scope="col" class="mat-th-100" mat-header-cell *matHeaderCellDef>
                                        {{'beneficiario_historial_modificaciones.fechaCambio' | translate }} </th>
                                    <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.fechaCambio}}
                                    </td>
                                </ng-container>

                                <!-- Registrado Por Column -->
                                <ng-container matColumnDef="usuario">
                                    <th scope="col" class="mat-th-245" mat-header-cell *matHeaderCellDef>
                                        {{'beneficiario_historial_modificaciones.usuario' | translate }}
                                    </th>
                                    <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.usuario}}
                                    </td>
                                </ng-container>

                                <!-- CampoDeCambio Column -->
                                <ng-container matColumnDef="campo">
                                    <th scope="col" class="mat-th-245" mat-header-cell *matHeaderCellDef>
                                        {{'beneficiario_historial_modificaciones.campo' | translate }}
                                    </th>
                                    <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.campo}} </td>
                                </ng-container>

                                <!-- DatoNuevo Column -->
                                <ng-container matColumnDef="datoNuevo">
                                    <th scope="col" class="mat-th-245" mat-header-cell *matHeaderCellDef>
                                        {{'beneficiario_historial_modificaciones.dato_nuevo' | translate }} </th>
                                    <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.datoNuevo}}
                                    </td>
                                </ng-container>

                                <!-- DatoAnterior Column -->
                                <ng-container matColumnDef="datoAnterior">
                                    <th scope="col" class="mat-th-245" mat-header-cell *matHeaderCellDef>
                                        {{'beneficiario_historial_modificaciones.dato_anterior' | translate }} </th>
                                    <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.datoAnterior}}
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumnsChanges;sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsChanges;"></tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="mt-20">
                    <app-pagination (paginaEmitter)="goToPageSolicitudCambios($event)" [page]="pageSolicitudCambios"
                        [totalPages]="totalPagesSolicitudCambios" [numElementos]="numElementosSolicitudCambios"
                        [resultsLength]="resultsLengthSolicitudCambios"></app-pagination>
                </div>
            </div>

        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenStateCesiones = true" (closed)="panelOpenStateCesiones = false">
            <mat-expansion-panel-header>
                <mat-panel-title class="w-50">
                    {{'beneficiario_historial_modificaciones.historial_cambios_cesiones' | translate }}
                </mat-panel-title>
                <mat-panel-description class="w-50">
                    Detalle de Cesiones
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div>
                <form [formGroup]="buscarModificacionesTitularDynamicForm">
                    <div formArrayName="filtros">
                        <div *ngFor="let itemFiltro of filtrosFormArray.controls; let i = index;">
                            <div [formGroupName]="i" class="container">
                                <div class="div-left">
                                    <span *ngIf="checkFiltros()" class="align-icon">
                                        <mat-icon class="div-button material-icons color_gray"
                                            (click)="removeFromFiltrosFormArray(i,itemFiltro)">
                                            remove_circle</mat-icon>
                                    </span>
                                    <span class="sin-align-icon">
                                        <span *ngIf="!arrayFiltro[i]">
                                            <span class="mr-60">
                                                <mat-form-field>
                                                    <mat-label>
                                                        {{'beneficiario_historial_modificaciones.filtrar_por' | translate }}
                                                    </mat-label>
                                                    <mat-select formControlName="selectCriterio"
                                                        (selectionChange)="buscarListaXCriterioSeleccionado($event, i)">
                                                        <ng-container *ngFor="let criterio of listSelectCriterioNuevo">
                                                            <mat-option *ngIf="criterio.active"
                                                                [value]="criterio.value">
                                                                {{ criterio.viewValue }}
                                                            </mat-option>
                                                        </ng-container>
                                                    </mat-select>
                                                </mat-form-field>
                                            </span>
                                            <span class="mr-60">
                                                <mat-form-field>
                                                    <mat-label>
                                                        {{'beneficiario_historial_modificaciones.argumento' | translate }}
                                                    </mat-label>
                                                    <input matInput placeholder="Buscar" maxlength="100"
                                                        formControlName="argumento" type="text" />
                                                </mat-form-field>
                                            </span>
                                        </span>
                                    </span>

                                    <span>
                                        <span *ngIf="arrayFiltro[i]=='usuario'">
                                            <span class="mr-60">
                                                <mat-form-field>
                                                    <mat-label>
                                                        {{'beneficiario_historial_modificaciones.usuario' | translate }}
                                                    </mat-label>
                                                    <input matInput placeholder="" maxlength="100"
                                                        formControlName="argumento" type="text"
                                                        value="Usuario que Registro" />
                                                </mat-form-field>
                                            </span>
                                            <span class="mr-60">
                                                <app-select-multiple-usuarios
                                                    (emitUsuarioSeleccionado)="getUsuarios($event)">
                                                </app-select-multiple-usuarios>
                                            </span>
                                        </span>
                                        <span *ngIf="arrayFiltro[i]=='negocio'">
                                            <span class="mr-60">
                                                <mat-form-field>
                                                    <mat-label>
                                                        {{'beneficiario_historial_modificaciones.negocioVinculado' | translate }}
                                                    </mat-label>
                                                    <input matInput placeholder="" maxlength="100"
                                                        formControlName="argumento" type="text"
                                                        value="Negocio Asociado" />
                                                </mat-form-field>
                                            </span>
                                            <span class="mr-60">
                                                <app-select-multiple-negocio-asociado
                                                    (emitNegocioAsociado)="getNegocioAsociados($event)">
                                                </app-select-multiple-negocio-asociado>
                                            </span>
                                        </span>
                                        <span *ngIf="arrayFiltro[i]=='fecha'">
                                            <span class="mr-60">
                                                <mat-form-field>
                                                    <mat-label>
                                                        {{'beneficiario_historial_modificaciones.fechaCambio' | translate }}
                                                    </mat-label>
                                                    <input matInput placeholder="" maxlength="100"
                                                        formControlName="argumento" type="text"
                                                        value="Fecha de Cambio" />
                                                </mat-form-field>
                                            </span>
                                            <span class="mr-60">
                                                <app-date-range-picker (emitRange)="getDateRange($event)">
                                                </app-date-range-picker>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <span *ngIf="swAddFiltros" class="linea-completa">
                            <div *ngIf="true" class="div-button float-right" (click)="addToFiltrosFormArray()">
                                <div>
                                    <div class="div-left">
                                        <mat-icon class="div-button material-icons color_gray">add_circle</mat-icon>
                                    </div>
                                    <div class="div-right color_gray">
                                        {{'beneficiario_historial_modificaciones.bt_anadir_filtro' | translate }}
                                    </div>
                                </div>
                            </div>
                        </span>

                        <div class="text-right">
                            <span class="display-inline-block">
                                <span class="div-left">
                                    <button type="submit" class="bt-actions-red" color="primary"
                                        (click)="limpiarformulario()">
                                        <span
                                            class="text text-15 color_white">{{'beneficiario_historial_modificaciones.bt_limpiar' | translate }}
                                        </span>
                                    </button>
                                </span>
                                <span class="div-right">
                                    <span *ngIf="guardarBotton">
                                        <button type="submit" class="bt-actions-red" color="primary"
                                            (click)="enviarDatos(3)">
                                            <span
                                                class="text text-15 color_white">{{'beneficiario_historial_modificaciones.bt_buscar' | translate }}
                                            </span>
                                        </button>
                                    </span>
                                    <span *ngIf="!guardarBotton">
                                        <button type="submit" class="bt-actions-gray" color="primary">
                                            <span
                                                class="text text-15 color_white">{{'beneficiario_historial_modificaciones.bt_buscar' | translate }}
                                            </span>
                                        </button>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                </form>
            </div>

            <div id="dataNotFoundCesiones" class="display-inline-block" style="display:none;">
                <mat-label class="text-error text-content text-warning">
                    {{'beneficiario_historial_modificaciones.sin_resultado' | translate }}
                </mat-label>
            </div>

            <div class="display-inline-block" id="dataFoundCesiones" style="display:none;">
                <div class="container-form container-form-table mt-63">
                    <div class="table-contenido">
                        <div class="example-container mat-elevation-z8 text-align-center">
                            <table mat-table [dataSource]="dataSourceCesiones">
                                <caption></caption>

                                <!-- codigoNegocioVinculado Column -->
                                <ng-container matColumnDef="codigoNegocioVinculado" sticky>
                                    <th scope="col" class="mat-th-100" mat-header-cell *matHeaderCellDef>
                                        {{'beneficiario_historial_modificaciones.codigo_negocio_vinculado' | translate }}
                                    </th>
                                    <td mat-cell class="mat-td-left" *matCellDef="let element">
                                        {{element.codigoNegocio}}
                                    </td>
                                </ng-container>

                                <!-- nombreNegocioVinculado Column -->
                                <ng-container matColumnDef="negocioVinculado">
                                    <th scope="col" class="mat-th-245" mat-header-cell *matHeaderCellDef>
                                        {{'beneficiario_historial_modificaciones.nombre_negocio' | translate }} </th>
                                    <td mat-cell class="mat-td-left pr-2" *matCellDef="let element">
                                        {{element.nombreNegocio}} </td>
                                </ng-container>

                                <!-- fechaCambio Column -->
                                <ng-container matColumnDef="fechaCambio">
                                    <th scope="col" class="mat-th-100" mat-header-cell *matHeaderCellDef>
                                        {{'beneficiario_historial_modificaciones.fechaCambio' | translate }} </th>
                                    <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.fechaCambio}}
                                    </td>
                                </ng-container>

                                <!-- Porcentaje Actual Por Column -->
                                <ng-container matColumnDef="porcentajeActualCedente">
                                    <th scope="col" class="pr-2" mat-header-cell *matHeaderCellDef>
                                        {{'beneficiario_historial_modificaciones.porcentaje_actual_cedente' | translate }}
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.porcentajeActualCedente}} % </td>
                                </ng-container>

                                <!-- Porcentaje Nuevo Cedente Column -->
                                <ng-container matColumnDef="porcentajeNuevoCedente">
                                    <th scope="col" class="pr-2" mat-header-cell *matHeaderCellDef>
                                        {{'beneficiario_historial_modificaciones.porcentaje_nuevo_cedente' | translate }}
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.porcentajeNuevoCedente}} % </td>
                                </ng-container>

                                <!-- Diferencia Porcentaje Column -->
                                <ng-container matColumnDef="diferenciaPorcentaje">
                                    <th scope="col" class="pr-2" mat-header-cell *matHeaderCellDef>
                                        {{'beneficiario_historial_modificaciones.diferencia_porcentaje' | translate }}
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.diferenciaPorcentaje}} %</td>
                                </ng-container>

                                <!-- Propietario Nuevo Column -->
                                <ng-container matColumnDef="propietarioNuevo">
                                    <th scope="col" class="mat-th-245" mat-header-cell *matHeaderCellDef>
                                        {{'beneficiario_historial_modificaciones.nombre_propietario_nuevo' | translate }}
                                    </th>
                                    <td mat-cell class="mat-td-left pr-2" *matCellDef="let element">
                                        {{element.nombrePropietarioNuevo}} </td>
                                </ng-container>

                                <!-- Propietario Anterior Column -->
                                <ng-container matColumnDef="propietarioAnterior">
                                    <th scope="col" class="mat-th-245" mat-header-cell *matHeaderCellDef>
                                        {{'beneficiario_historial_modificaciones.nombre_propietario_anterior' | translate }}
                                    </th>
                                    <td mat-cell class="mat-td-left pr-2" *matCellDef="let element">
                                        {{element.nombrePropietarioAnterior}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumnsCesion;sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsCesion;"></tr>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="mt-20">
                    <app-pagination (paginaEmitter)="goToPageCesionCambios($event)" [page]="pageCesionCambios"
                        [totalPages]="totalPagesCesionCambios" [numElementos]="numElementosCesionCambios"
                        [resultsLength]="resultsLengthCesionCambios"></app-pagination>
                </div>
            </div>
        </mat-expansion-panel>

    </mat-accordion>
</div>