.bt-actions-red {
    width: 31rem;
    height: 7rem;
    border-radius: 4px;
    box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--pinkish-red);
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 36px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    align-self: center;
    padding-top: 16px;
}

.w-700 {
    width: 70rem;
}

.pl-50{
    padding-left: 5rem;
}

.display-online {
    float: left;
    margin-right: 5rem;
}

.container{
    text-align:center
}
.bt_left{
    float: left;
    margin-right: 9rem;
}
.bt_center{
    display:inline-block;
}
.bt_right{
    float: right;   
}
