<mat-form-field>
    <mat-select placeholder="Responsable a cargo" [formControl]="usuarioMultiCtrl"
      (selectionChange)="itemSeleccionado($event)" [multiple]="true">
      {{filteredUsuariosMulti}}
      <mat-select-search [formControl]="usuarioMultiFilterCtrl" autocomplete="off" ></mat-select-search>
      <mat-option *ngFor="let usuario of filteredUsuariosMulti  | async" [value]="usuario">
        {{usuario.nombre}}</mat-option>
    </mat-select>
  </mat-form-field>