<div class="container-form mt-63">
  <form [formGroup]="buscarPagosDynamicForm">

    <div formArrayName="filtros">
      <div *ngFor="let itemFiltro of filtrosFormArray.controls; let i = index;">
        <div [formGroupName]="i" class="container">
          <div class="div-left">
            <span *ngIf="checkFiltros()" class="align-icon">
              <mat-icon class="div-button material-icons color_gray" (click)="removeFromFiltrosFormArray(i,itemFiltro)">
                remove_circle</mat-icon>
            </span>

            <span class="sin-align-icon">
              <span *ngIf="!arrayFiltro[i]">
                <span class="mr-60">
                  <mat-form-field>
                    <mat-label>{{'beneficiario_historial_pagos.filtrar_por' | translate }}</mat-label>
                    <mat-select formControlName="selectCriterio"
                      (selectionChange)="buscarListaXCriterioSeleccionado($event, i)">
                      <ng-container *ngFor="let criterio of listSelectCriterioNuevo">
                        <mat-option *ngIf="criterio.active" [value]="criterio.value">
                          {{ criterio.viewValue }}
                        </mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </span>
                <span class="mr-60">
                  <mat-form-field>
                    <mat-label>{{'beneficiario_historial_pagos.argumento' | translate }}</mat-label>
                    <input matInput placeholder="Buscar" maxlength="100" formControlName="argumento" type="text" />
                  </mat-form-field>
                </span>
              </span>

            </span>
            <span>
              <span *ngIf="arrayFiltro[i]=='tipoPago'">
                <span class="mr-60">
                  <mat-form-field>
                    <mat-label>{{'beneficiario_historial_pagos.tipoPago' | translate }}</mat-label>
                    <input matInput placeholder="" maxlength="100" formControlName="argumento" type="text"
                      value="Tipo Pago" />
                  </mat-form-field>
                </span>
                <span class="mr-60">
                  <app-select-multiple-tipo-pago (emitTipoPago)="getTipoPagos($event)"></app-select-multiple-tipo-pago>
                </span>
              </span>
              <span *ngIf="arrayFiltro[i]=='estadoPago'">
                <span class="mr-60">
                  <mat-form-field>
                    <mat-label>{{'beneficiario_historial_pagos.estadoPago' | translate }}</mat-label>
                    <input matInput placeholder="" maxlength="100" formControlName="argumento" type="text"
                      value="Estado Pago" />
                  </mat-form-field>
                </span>
                <span class="mr-60">
                  <app-select-multiple-estado-pagos (emitEstadoPago)="getEstadoPago($event)">
                  </app-select-multiple-estado-pagos>
                </span>
              </span>
              <span *ngIf="arrayFiltro[i]=='negocioAsociado'">
                <span class="mr-60">
                  <mat-form-field>
                    <mat-label>{{'beneficiario_historial_pagos.negocioVinculado' | translate }}</mat-label>
                    <input matInput placeholder="" maxlength="100" formControlName="argumento" type="text"
                      value="Negocio Asociado" />
                  </mat-form-field>
                </span>
                <span class="mr-60">
                  <app-select-multiple-negocio-asociado (emitNegocioAsociado)="getNegocioAsociados($event)">
                  </app-select-multiple-negocio-asociado>
                </span>
              </span>
              <span *ngIf="arrayFiltro[i]=='fecha'">
                <span class="mr-60">
                  <mat-form-field>
                    <mat-label>{{'beneficiario_historial_pagos.fechaPago' | translate }}</mat-label>
                    <input matInput placeholder="" maxlength="100" formControlName="argumento" type="text"
                      value="Fecha" />
                  </mat-form-field>
                </span>
                <span class="mr-60">
                  <app-date-range-picker (emitRange)="getDateRange($event)"></app-date-range-picker>
                </span>
              </span>
            </span>

          </div>
        </div>
      </div>
      <span *ngIf="swAddFiltros" class="sin-align-icon">
        <div *ngIf="true" class="div-button float-right" (click)="addToFiltrosFormArray()">
          <div>
            <div class="div-left">
              <mat-icon class="div-button material-icons color_gray">add_circle</mat-icon>
            </div>
            <div class="div-right color_gray">
              {{'beneficiario_historial_pagos.bt_anadir_filtro' | translate }}
            </div>
          </div>
        </div>
      </span>

      <div class="text-right">
        <span class="display-inline-block">
          <span class="div-left">
            <button type="submit" class="bt-actions-red" color="primary" (click)="limpiarformulario()">
              <span class="text text-15 color_white">{{'beneficiario_historial_pagos.bt_limpiar' | translate }}
              </span>
            </button>
          </span>
          <span class="div-right">
            <button type="submit" class="bt-actions-red" color="primary" (click)="buscarDatos(true)">
              <span class="text text-15 color_white">{{'beneficiario_historial_pagos.bt_buscar' | translate }}
              </span>
            </button>
          </span>
        </span>
      </div>
    </div>
  </form>
</div>

<div id="dataNotFound" class="display-inline-block" style="display:none;">
  <img src="assets/svg/icons/warning.svg" alt="warning" />
  <mat-label class="text-error text-content text-warning">
    {{'beneficiario_historial_pagos.sin_resultado' | translate }}
  </mat-label>
</div>

<div class="display-inline-block" id="dataFound" style="display:none;">
  <div class="container-form container-form-table mt-63">
    <div class="table-contenido">
      <div class="example-container mat-elevation-z8 text-align-center">
        <table mat-table [dataSource]="dataSource">
          <caption></caption>

          <!-- fechaPago Column -->
          <ng-container matColumnDef="fechaPago" sticky>
            <th scope="col" mat-header-cell *matHeaderCellDef> {{'beneficiario_historial_pagos.fechaPago' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              <span class="bt-actions" (click)="vinculoDetalleNegocioPago(element.codigoNegocio)">
                <img class="img-buscar-negocio" src="assets/svg/icons/ojo-rojo.svg" alt="warning" />
                {{element.fechaPago}}
              </span>
              </td>
          </ng-container>

          <!-- negocioVinculado Column -->
          <ng-container matColumnDef="negocioVinculado">
            <th scope="col" mat-header-cell *matHeaderCellDef>
              {{'beneficiario_historial_pagos.negocioVinculado' | translate }}
            </th>
            <td mat-cell class="mat-td-left" *matCellDef="let element"> 
              <span id="codigoNegocio" class="bt-actions" (click)="vinculoDetalleNegocioPago(element.codigoNegocio)">{{element.negocioVinculado}}</span>
            </td>
          </ng-container>

          <!-- tipoNegocio Column -->
          <ng-container matColumnDef="tipoNegocio">
            <th scope="col" mat-header-cell *matHeaderCellDef>
              {{'beneficiario_historial_pagos.tipoNegocio' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.tipoNegocio}} </td>
          </ng-container>

          <!-- porcentajeParticipacion Column -->
          <ng-container matColumnDef="porcentajeParticipacion">
            <th scope="col" mat-header-cell *matHeaderCellDef>
              {{'beneficiario_historial_pagos.porcentajeParticipacion' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.porcentajeParticipacion}} </td>
          </ng-container>

          <!-- nombreBeneficiario Column -->
          <ng-container matColumnDef="nombreBeneficiario">
            <th scope="col" mat-header-cell *matHeaderCellDef>
              {{'beneficiario_historial_pagos.nombreBeneficiario' | translate }}
            </th>
            <td mat-cell *matCellDef="let element"> {{element.nombreBeneficiario}} </td>
          </ng-container>

          <!-- tipoDocumentoBeneficiario Column -->
          <ng-container matColumnDef="tipoDocumentoBeneficiario">
            <th scope="col" mat-header-cell *matHeaderCellDef>
              {{'beneficiario_historial_pagos.tipoDocumentoBeneficiario' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.tipoDocumentoBeneficiario}} </td>
          </ng-container>

          <!-- numeroDocumentoBeneficiario Column -->
          <ng-container matColumnDef="numeroDocumentoBeneficiario">
            <th scope="col" mat-header-cell *matHeaderCellDef>
              {{'beneficiario_historial_pagos.numeroDocumentoBeneficiario' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.numeroDocumentoBeneficiario}} </td>
          </ng-container>

          <!-- porcentajeGiro Column -->
          <ng-container matColumnDef="porcentajeGiro">
            <th scope="col" mat-header-cell *matHeaderCellDef>
              {{'beneficiario_historial_pagos.porcentajeGiro' | translate }}
            </th>
            <td mat-cell *matCellDef="let element"> {{element.porcentajeGiro}} </td>
          </ng-container>

          <!-- porcentajeDistribuido Column -->
          <ng-container matColumnDef="porcentajeDistribuido">
            <th scope="col" mat-header-cell *matHeaderCellDef>
              {{'beneficiario_historial_pagos.porcentajeDistribuido' | translate }}
            </th>
            <td mat-cell *matCellDef="let element"> {{element.porcentajeDistribuido}} </td>
          </ng-container>

          <!-- valorAGirar Column -->
          <ng-container matColumnDef="valorAGirar">
            <th scope="col" mat-header-cell *matHeaderCellDef>
              {{'beneficiario_historial_pagos.valorAGirar' | translate }} </th>
            <td mat-cell class="mat-cell-align-right" *matCellDef="let element"> {{element.valorAGirar}} </td>
          </ng-container>

          <!-- gravamentMovimientoFinanciero Column -->
          <ng-container matColumnDef="gravamentMovimientoFinanciero">
            <th scope="col" mat-header-cell *matHeaderCellDef>
              {{'beneficiario_historial_pagos.gravamentMovimientoFinanciero' | translate }} </th>
            <td mat-cell class="mat-cell-align-right" *matCellDef="let element"> {{element.gravamentMovimientoFinanciero}} </td>
          </ng-container>

          <!-- tipoPago Column -->
          <ng-container matColumnDef="tipoPago">
            <th scope="col" mat-header-cell *matHeaderCellDef> {{'beneficiario_historial_pagos.tipoPago' | translate }}
            </th>
            <td mat-cell *matCellDef="let element"> {{element.tipoPago}} </td>
          </ng-container>

          <!-- valorTipoPago Column -->
          <ng-container matColumnDef="valorTipoPago">
            <th scope="col" mat-header-cell *matHeaderCellDef>
              {{'beneficiario_historial_pagos.valorTipoPago' | translate }} </th>
            <td mat-cell class="mat-cell-align-right" *matCellDef="let element"> {{element.valorTipoPago}} </td>
          </ng-container>

          <!-- subtotalGirados Column -->
          <ng-container matColumnDef="subTotalGirados">
            <th scope="col" mat-header-cell *matHeaderCellDef>
              {{'beneficiario_historial_pagos.subtotalGirados' | translate }}
            </th>
            <td mat-cell class="mat-cell-align-right" *matCellDef="let element"> {{element.subTotalGirados}} </td>
          </ng-container>

          <!-- tipoCuenta Column -->
          <ng-container matColumnDef="tipoCuenta">
            <th scope="col" mat-header-cell *matHeaderCellDef>
              {{'beneficiario_historial_pagos.tipoCuenta' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.tipoCuenta}} </td>
          </ng-container>

          <!-- entidadBancariaFidecomiso Column -->
          <ng-container matColumnDef="entidadBancariaFidecomiso">
            <th scope="col" mat-header-cell *matHeaderCellDef>
              {{'beneficiario_historial_pagos.entidadBancariaFidecomiso' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.entidadBancariaFidecomiso}} </td>
          </ng-container>

          <!-- codigoEntidadBancaria Column -->
          <ng-container matColumnDef="codigoEntidadBancaria">
            <th scope="col" mat-header-cell *matHeaderCellDef>
              {{'beneficiario_historial_pagos.codigoEntidadBancaria' | translate }}
            </th>
            <td mat-cell *matCellDef="let element"> {{element.codigoEntidadBancaria}} </td>
          </ng-container>

          <!-- numeroCuentaEncargo Column -->
          <ng-container matColumnDef="numeroCuentaEncargo">
            <th scope="col" mat-header-cell *matHeaderCellDef>
              {{'beneficiario_historial_pagos.numeroCuentaEncargo' | translate }}
            </th>
            <td mat-cell *matCellDef="let element"> {{element.numeroCuentaEncargo}} </td>
          </ng-container>

          <!-- estadoPago Column -->
          <ng-container matColumnDef="estadoPago">
            <th scope="col" mat-header-cell *matHeaderCellDef>
              {{'beneficiario_historial_pagos.estadoPago' | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{element.estadoPago}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <span class="text-center">
        <app-pagination (paginaEmitter)="goToPage($event)" [page]="page" [totalPages]="totalPages"
          [numElementos]="numElementos" [resultsLength]="resultsLength"></app-pagination>
      </span>
    </div>
  </div>
</div>

<div id="dataFoundBoton" class="text-center mt-63 mb-110" style="display:none;">
  <button type="submit" class="descargarPago" color="primary" (click)="buscarDatos(false)">
    <span class="text text-15 color_white">{{'beneficiario_historial_pagos.bt_descargar' | translate }}
    </span>
  </button>
</div>