.btn-generar-certificados {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: center;
    color: white;
    width: 192.5px;
    height: 46px;
    background-color: #ed1c24;
  }
  
  .todos{
    margin-left:40px!important;
  }
  .boton{
    padding-left: 288px;
    padding-bottom: 44px;
  }
  
  .bt-actions-red {
    width: 15.5rem;
    height: 4rem;
    border-radius: 4px;
    box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--pinkish-red);
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 36px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding-top: 7px;
  }
  
  .display-inline-block {
    display: inline-block;
  }
  
  .text-right {
    text-align: -webkit-right;
  }
  .text-center {
    text-align: -webkit-center;
  }

  .w-40 {
    width: 40rem;
  }

  .div-table {
    display: table;         
    width: 100%;           
    border-spacing: 5px; /* cellspacing:poor IE support for  this */
    padding-bottom: 7rem;
  }

  .div-table-row {
    display: table-row;
    width: 100%;
    clear: both;
  }
  .div-table-col {
    float: left; /* fix for  buggy browsers */
    display: table-column;             
  }
  