<div class="text">
    <div class="contenedor">
        <div class="contenido">
            <div class="contenedor-titulo">
                <mat-label mat-dialog-title class="text-20 text-bold"> <span>{{'adicionarMiembroComite.adicionar_comite' | translate }}</span></mat-label>
            </div>
        </div>
        <div mat-dialog-content>
            <form [formGroup]="miembroForm">
                <div class="divTable">
                        <div class="divTableBody">
                            <div class="gastos">
                                <div class="divTableRow">
                                    <div class="divTableCell">
                                        <mat-form-field >
                                            <mat-label>{{'adicionarMiembroComite.nombre' | translate }}</mat-label>
                                            <input type="text" matInput formControlName="nombre" readonly/>
                                        </mat-form-field>
                                    </div>
                                    <div class="divTableCell tipoEvento">
                                        <mat-form-field >
                                            <mat-label>{{'adicionarMiembroComite.tipDocumento' | translate }}</mat-label>
                                            <input type="text" matInput formControlName="tipoDocumento"readonly/>
                                        </mat-form-field>
                                    </div>
                                    <div class="divTableCell fechaRegistro">
                                        <mat-form-field >
                                            <mat-label>{{'adicionarMiembroComite.NoDocumento' | translate }}</mat-label>
                                            <input type="text" matInput formControlName="numDocumento" readonly/>
                                        </mat-form-field>
                                    </div> 
                                </div>
                                <div class="divTableRow">
                                    <div class="divTableCell">
                                        <mat-form-field >
                                            <mat-label>{{'adicionarMiembroComite.rol' | translate }}</mat-label>
                                            <mat-select formControlName="rol" type="text" >
                                                <mat-option>
                                                    Seleccionar
                                                </mat-option>
                                                <mat-option *ngFor="let rol of roles" [value]="rol.id" >
                                                    {{ rol.descripcion }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="divTableCell tipoEvento">
                                        <mat-form-field >
                                            <mat-label>{{'adicionarMiembroComite.fecha_vigencia' | translate }}</mat-label>
                                            <input matInput [matDatepicker]="ir" [min]="fechaMinimaIngreso" formControlName="fecVigenciaRol" readonly >
                                            <mat-datepicker-toggle matSuffix [for]="ir">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #ir></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="divTableCell fechaRegistro">
                                        <mat-form-field >
                                            <mat-label>{{'adicionarMiembroComite.radicado_comision' | translate }}</mat-label>
                                            <input type="text" minlength="1" maxlength="18" matInput formControlName="radicado"/>
                                        </mat-form-field>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    
                    </div>
            </form>
        </div>
    </div> 
    <div mat-dialog-actions class="contenedor">
        <div class="bt-contenedor contenido ubicacionpadding">
            <div class="ml-10 mr-10 div-left gray">
                <button mat-button class="bt-cancelar-gray" mat-stroked-button [mat-dialog-close]="data.buttonCancelar"
                    cdkFocusInitial>
                    <span class="text text-15 color_white">{{ data.buttonCancelar }}</span>
                </button>
            </div>

            <div class="ml-10 mr-10 div-right">
                <span>
                <button mat-button class="bt-actions-red" mat-stroked-button color="primary" (click)="adicionarMiembro()" [disabled]="miembroForm.invalid" [class.botonGuardarGris]="miembroForm.invalid"
                [mat-dialog-close]="data.buttonAceptar" cdkFocusInitial>
                    <span class="text text-15 color_white">AÑADIR</span>
                </button>
              </span>             
            </div>
        </div>
    </div>
</div>    