.bt-actions-red {
  width: 30.5rem;
  height: 4rem;
  border-radius: 4px;
  box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 36px;
  color: white;
  font-weight: bold;
  background-color: var(--pinkish-red);
  cursor: pointer;
}

.bt-actions-gray {
  width: 30.5rem;
  height: 4rem;
  border-radius: 4px;
  box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 36px;
  color: white;
  font-weight: bold;
  background-color: var(--battleship-gray);
}

.div-left {
  float: left;
}
.div-right {
  float: right;
}
.div-center {
  margin: 0 auto;
  display: inline-block;
}

.mt-40 {
  margin-top: 4rem;
}
.mb-50 {
  margin-bottom: 5rem;
}

.botonGuardarGris{
  background-color:#77787B;
}


.ml-10 {  
  margin-left: 1rem;
}

.mr-10 {  
  margin-right: 1rem;
}

.ubicacionBoton {
  margin-top: 7.6rem;
  margin-left: 20rem;
  margin-bottom: 5rem;
}
