<div *ngIf="datos_distribucion">
    <div class="mt-40 text">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="h-30">
            <mat-button-toggle disabled clase="h-30">{{ codigoNegocio }}</mat-button-toggle>
            <mat-button-toggle disabled clase="h-30">{{ nombreNegocio }}</mat-button-toggle>
        </mat-button-toggle-group>
        <div class="container-form">
            <form [formGroup]="distribucionForm">

                <div class="mt-40 mb-10">
                    <div class="div-table table_distribucion">
                        <div class="div-table-row">
                            <div class="div-table-col">

                                <mat-form-field class="mw-300">
                                    <mat-label>{{'beneficiario_distribucion.asesor_vinculacion' | translate }}
                                    </mat-label>
                                    <input matInput [placeholder]=placeholderAsesor
                                        [readonly]="!beneficiario_distribucion_permisos_escribe"
                                        formControlName="asesor" type="text"
                                        (change)="bt_changeInput()"
                                        />
                                </mat-form-field>
                            </div>
                            <div class="div-table-col">
                                <mat-form-field class="mw-300">
                                    <mat-label>{{'beneficiario_distribucion.numero_radicado_vinculacion' | translate }}
                                    </mat-label>
                                    <input matInput [placeholder]=placeholderRadicadoVinculacion
                                        [readonly]="!beneficiario_distribucion_permisos_escribe"
                                        formControlName="radicadoVinculacion" type="text"
                                        maxlength="18"
                                        (change)="bt_changeInput()"
                                        />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="div-table-row">
                            <div class="div-table-col">
                                <div class="mt-20 div-left">
                                    <mat-label>{{'beneficiario_distribucion.datos_distribucion' | translate }}
                                    </mat-label>
                                </div>
                            </div>
                        </div>
                        <div class="div-table-row">
                            <div class="div-table-col">
                                <mat-form-field class="mt-20 mw-300">
                                    <mat-label>{{'beneficiario_distribucion.derechos_fiduciarios' | translate }}
                                    </mat-label>
                                    <input matInput placeholder="placeholderDerechos" formControlName="derechos"
                                        type="text"  readonly />
                                </mat-form-field>
                            </div>
                            <div class="div-table-col">
                                <mat-form-field class="mt-20 mw-300">
                                    <mat-label>{{'beneficiario_distribucion.porcentaje_participacion' | translate }}
                                    </mat-label>
                                    <input matInput placeholder="placeholderDerechos"
                                        formControlName="porcentajeParticipacion" type="text"  readonly />
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="div-table-row">
                            <div class="div-table-col">
                                <mat-form-field class="mw-300 mt-20 ">
                                    <mat-label>{{'beneficiario_distribucion.tipo_titularidad' | translate }}</mat-label>
                                    <input matInput placeholder="placeholderDerechos" formControlName="tipoTitularidad"
                                        type="text"  readonly />
                                </mat-form-field>
                            </div>
                            <div class="div-table-col">
                                <mat-form-field class="mw-300 mt-10">
                                    <mat-label>{{'beneficiario_distribucion.tipo_naturaleza' | translate }}</mat-label>
                                    <mat-select placeholder="" name="idTipoNaturaleza"
                                        [disabled]="!beneficiario_distribucion_permisos_escribe"
                                        (selectionChange)="bt_changeButtonSave(tipoNaturaleza)" formControlName="idTipoNaturaleza"
                                        #tipoNaturaleza
                                        >
                                        <mat-option *ngFor="let item of listTipNatJur" [value]="item.id">
                                            {{ item.descripcion }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="contenido-button div-center">
                        <div *ngIf=beneficiario_distribucion_permisos_escribe>
                            <div class="contenido-button mw-300">
                                <button type="submit" class="bt-actions-red" color="primary"
                                    (click)="administrarCotitular()">
                                    <span
                                        class="text text-15 color_white">{{'beneficiario_distribucion.bt_administrar_titular' | translate }}
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div #container></div>

                    <div class="mt-40" #vistaRetencionTipoNegocio></div>
                </div>


            <div class="ubicacionBoton">
               
                <span >
                    <button type="submit" class="bt-actions-red " color="primary"  (click)="guardarCambios()"  [class.botonGuardarGris]="distribucionForm.invalid" [disabled]="distribucionForm.invalid">
                        <span
                            class="text text-15 color_white">{{'beneficiario_distribucion.bt_guardar_cambios' | translate }}
                        </span>
                    </button>
                </span>
            </div>

            </form>
        </div>
    </div>
</div>