.posicionamiento{
    position: relative;
    right: 15px;
}

.hidden-date-input {
    width: 0;
    border: none;
    padding: 0;
  }

  #square {
    width: 0;
    border: none;
    padding: 0;
  }

  #squareDos{
    width: 0;
    border: none;
    padding: 0;
  }