

                                <mat-form-field class="posicionamiento">
                                    <input matInput id="square" [matDatepicker]="dp" placeholder="Periodo inicial" [formControl]="date" [max]="todayDate" >
                                    <mat-datepicker-toggle  matSuffix [for]="dp"></mat-datepicker-toggle>
                                    <mat-datepicker #dp
                                                    startView="multi-year"
                                                    (yearSelected)="chosenYearHandler($event)"
                                                    (monthSelected)="chosenMonthHandler($event, dp)"
                                                    panelClass="example-month-picker">
                                    </mat-datepicker>
                                  </mat-form-field>
                                  

                                  <mat-form-field>
                                    <input matInput id="squareDos" [matDatepicker]="de" placeholder="Periodo Final" [formControl]="dateFin" [max]="todayDate" >
                                    <mat-datepicker-toggle matSuffix [for]="de"></mat-datepicker-toggle>
                                    <mat-datepicker #de
                                                    startView="multi-year"
                                                    (yearSelected)="chosenYearHandler2($event)"
                                                    (monthSelected)="chosenMonthHandler2($event, de)"
                                                    panelClass="example-month-picker">
                                    </mat-datepicker>
                                  </mat-form-field>

                                