<div class="main-contaniner text">
    <mat-tab-group>
        <mat-tab *ngIf="ver_reportes_viculados">
            <ng-template mat-tab-label>
                <img class="mr-tab-icon" src="assets/svg/icons/infoGeneral.svg" alt="warning" />
                {{'reportes.informacion_de_vinculados' | translate }}
            </ng-template>
            <div class="container-form mt-63">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="w-50">
                            {{'reportes.informacion_de_vinculados' | translate }}
                        </mat-panel-title>
                        <mat-panel-description class="w-50">
                            {{'reportes.conteo_de_solicitudes_de_cambio_de_datos' | translate}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>


                    <app-reporte-vinculados></app-reporte-vinculados>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="w-50">
                            {{'reportes.informacion_de_cesiones_sucesiones' | translate }}
                        </mat-panel-title>
                        <mat-panel-description class="w-50">
                            {{'reportes.conteo_de_cesiones_sucesiones' | translate}} 
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="display-inline-block">
                        <app-reportes-cesiones></app-reportes-cesiones>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="w-50">
                            {{'reportes.informacion_de_titularidad_y_naturaleza' | translate }}
                        </mat-panel-title>
                        <mat-panel-description class="w-50">
                            {{'reportes.conteo_de_cambios_de_titularidad_naturaleza_y_retenciones' | translate }}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="display-inline-block">
                        <app-reportes-distribucion></app-reportes-distribucion>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="w-50">
                            {{'reportes.informacion_financiera' | translate }}
                        </mat-panel-title>
                        <mat-panel-description class="w-50">
                            {{'reportes.cambios_de_porcentajes_tipos_de_pago_y_beneficiarios' | translate }}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="display-inline-block">
                        <app-reportes-beneficiarios></app-reportes-beneficiarios>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        </mat-tab>
        <mat-tab *ngIf="ver_reportes_negocios">
            <ng-template mat-tab-label>
                <mat-icon matSuffix svgIcon="upmoney" class="mr-tab-icon"></mat-icon>

                {{'reportes.informacion_de_negocios' | translate }}
            </ng-template>
            <div class="container-form mt-63">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="w-50">
                            {{'reportes.informacion_de_proyecto' | translate }}
                        </mat-panel-title>
                        <mat-panel-description class="w-50">
                            {{'reportes.estados_y_valores' | translate }}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-reportes-proyectos></app-reportes-proyectos>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="w-50">
                            {{'reportes.informacion_de_tipos_de_negocio' | translate }}
                        </mat-panel-title>
                        <mat-panel-description class="w-50">
                            {{'reportes.tipos_de_negocio_por_fecha' | translate }}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-reportes-tipo-negocio></app-reportes-tipo-negocio>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        </mat-tab>
        <mat-tab *ngIf="ver_reportes_pagos">
            <ng-template mat-tab-label>
                <mat-icon matSuffix svgIcon="people" class="mr-tab-icon"></mat-icon>
                <span>{{'reportes.informacion_de_pagos' | translate }}</span>
            </ng-template>
            <app-informe-info-pagos></app-informe-info-pagos>
        </mat-tab>
    </mat-tab-group>
</div>