<div *ngIf="ver_historial_pagos_distribucion" class="container-form mt-40">
    <mat-label>{{'negocioPagosDistribucion.historial_pagos' | translate }}</mat-label>
</div>

<div *ngIf="ver_historial_pagos_distribucion" class="mt-26">
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>{{'negocio_historial_pagos_distribucion.encargo_debitado' | translate }}:</mat-label>
            <input matInput disabled [value]="tipoNegocio">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>{{'negocio_historial_pagos_distribucion.perido_pago' | translate }}:</mat-label>
            <input matInput disabled [value]="periodo">
        </mat-form-field>
    </form>
</div>


<div id="dataNotFound" class="display-inline-block" style="display:none;">
    <div *ngIf="ver_historial_pagos_distribucion">
        <img src="assets/svg/icons/warning.svg" alt="warning" />
        <mat-label class="text-error text-content text-warning">
            {{'negocio_historial_pagos_distribucion.sin_resultado' | translate }}
        </mat-label>
    </div>
</div>


<div class="display-inline-block" id="dataFound" style="display:none;">
    <div *ngIf="ver_historial_pagos_distribucion">
        <div class="container-form container-form-table mt-63 mb-46">
            <div class="table-contenido">
                <div class="example-container mat-elevation-z8 text-align-center">

                    <table mat-table [dataSource]="dataSourceIngreso">
                        <caption></caption>

                        <!-- Header row first group -->
                        <ng-container matColumnDef="header-row-first-group">
                            <th scope="col" mat-header-cell *matHeaderCellDef 
                                [attr.colspan]="3">
                                INGRESOS
                            </th>
                        </ng-container>

                        <!-- Concepto Column -->
                        <ng-container matColumnDef="concepto">
                            <th scope="col" mat-header-cell *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.concepto' | translate }} </th>
                            <td mat-cell *matCellDef="let element"> {{element.concepto}} </td>
                        </ng-container>

                        <!-- Fecha Column -->
                        <ng-container matColumnDef="fecha">
                            <th scope="col" mat-header-cell *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.fecha' | translate }}
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                        </ng-container>

                        <!-- Valor Column -->
                        <ng-container matColumnDef="valor">
                            <th scope="col" mat-header-cell *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.valor' | translate }} </th>
                            <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
                        </ng-container>


                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-header-row *matHeaderRowDef="['header-row-first-group']"></tr>
                    </table>

                    <table mat-table [dataSource]="dataSourceEgreso">
                        <caption></caption>
                        <tr mat-header-row *matHeaderRowDef="['header-row-first-group']"></tr>
                        <!-- Header row first group -->
                        <ng-container matColumnDef="header-row-first-group">
                            <th scope="col" mat-header-cell *matHeaderCellDef
                                [attr.colspan]="3">
                                EGRESOS
                            </th>
                        </ng-container>

                        <!-- Concepto Column -->
                        <ng-container matColumnDef="concepto">
                            <th scope="col" mat-header-cell *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.concepto' | translate }} </th>
                            <td mat-cell *matCellDef="let element"> {{element.concepto}} </td>
                        </ng-container>

                        <!-- Fecha Column -->
                        <ng-container matColumnDef="fecha">
                            <th scope="col" mat-header-cell *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.fecha' | translate }}
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                        </ng-container>

                        <!-- Valor Column -->
                        <ng-container matColumnDef="valor">
                            <th scope="col" mat-header-cell *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.valor' | translate }} </th>
                            <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
                        </ng-container>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <table mat-table [dataSource]="dataSourceTotal">
                        <caption></caption>
                        <tr mat-header-row *matHeaderRowDef="['header-row-first-group']"></tr>
                        <!-- Header row first group -->
                        <ng-container matColumnDef="header-row-first-group">
                            <th scope="col" mat-header-cell *matHeaderCellDef 
                                [attr.colspan]="3">
                            </th>
                        </ng-container>

                        <!-- Concepto Column -->
                        <ng-container matColumnDef="concepto">
                            <th scope="col" mat-header-cell *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.concepto' | translate }} </th>
                            <td mat-cell *matCellDef="let element"> {{element.concepto}} </td>
                        </ng-container>

                        <!-- Fecha Column -->
                        <ng-container matColumnDef="fecha">
                            <th scope="col" mat-header-cell *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.fecha' | translate }}
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                        </ng-container>

                        <!-- Valor Column -->
                        <ng-container matColumnDef="valor">
                            <th scope="col" mat-header-cell *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.valor' | translate }} </th>
                            <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
                        </ng-container>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="dataFoundBoton" class="text-center" style="display:none;">
    <div class="posicionBotonBeneficiarios" *ngIf="ver_historial_pagos_distribucion">
        <button type="submit" class="mt-63 mb-46 bt-descargar-actions-red" color="primary"
            (click)="ver_beneficiarios_pagos()">
            <span
                class="text text-15 color_white">{{'negocio_historial_pagos_distribucion.bt_ver_beneficiario_pago' | translate }}
            </span>
        </button>
    </div>
</div>