<div>
    <div class="contenedor">
        <div class="contenido">
            <div class="contenedor-titulo">
                <div *ngIf="data.urlimg" id="urlimg" class="img-50 contenido-img">
                    <img src="assets/svg/icons/warning.svg" alt="warning" />
                </div>
                <div>
                    <mat-label mat-dialog-title class="text-20 text-bold">{{data.titulo}}</mat-label>
                </div>
            </div>
        </div>
    </div>
<div class="example-container">
    <table mat-table [dataSource]="dataSource" matSort>
        <caption></caption>
        <!-- Nombres completos titular Column -->
        <ng-container matColumnDef="titular">
            <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                class="text-list list-beneficiarie valor ">
                <strong>{{'pagos_rechazados.titular' | translate}}</strong>
            </th>
            <td mat-cell *matCellDef="let row">{{ row.nombreTitular }}</td>
        </ng-container>

        <!-- Tipo de documento Column -->
        <ng-container matColumnDef="tipoDoc">
            <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                class="text-list list-beneficiarie valor ">
                <strong>{{'pagos_rechazados.tipoDoc' | translate}}</strong>
            </th>
            <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.tipoDocumentoTitular }}</td>
            <td mat-footer-cell *matFooterCellDef class="mat-cell-center"></td>
        </ng-container>

        <!-- Número de documento Column -->
        <ng-container matColumnDef="NumDoc">
            <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                class="text-list list-beneficiarie valor ">
                <strong> {{'pagos_rechazados.NumDoc' | translate}}</strong>
            </th>
            <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.numeroDocumentoTitular }}</td>

        </ng-container>

        <!-- Porcentaje de participación Column -->
        <ng-container matColumnDef="porcentajeP">
            <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                class="text-list list-beneficiarie valor ">
                <strong> {{'pagos_rechazados.porcentajeP' | translate}}</strong>
            </th>
            <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.porcentajeParticipacionTitular }} %</td>

        </ng-container>


        <!-- Beneficiario Column -->
        <ng-container matColumnDef="benef">
            <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                class="text-list list-beneficiarie valor ">
                <strong> {{'pagos_rechazados.benef' | translate}}</strong>
            </th>
            <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.nombreBeneficiario }}</td>

        </ng-container>

        <!--Tipo de documento benefiario Column -->
        <ng-container matColumnDef="tipoDocB">
            <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                class="text-list list-beneficiarie valor ">
                <strong> {{'pagos_rechazados.tipoDocB' | translate}}</strong>
            </th>
            <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.tipoDocumentoBeneficiario }}</td>

        </ng-container>


        <!--Número de documento benefiario Column -->
        <ng-container matColumnDef="noDocB">
            <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                class="text-list list-beneficiarie valor ">
                <strong> {{'pagos_rechazados.noDocB' | translate}}</strong>
            </th>
            <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.numeroDocumentoBeneficiario }}</td>

        </ng-container>


        <!--Porcentaje de giro Column -->
        <ng-container matColumnDef="PocentajeG">
            <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                class="text-list list-beneficiarie valor ">
                <strong> {{'pagos_rechazados.PocentajeG' | translate}}</strong>
            </th>
            <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.porcentajeGiro }}</td>

        </ng-container>

        <!-- Resumen datos cambiados Column -->
        <ng-container matColumnDef="actualizar">
            <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                class="text-list list-beneficiarie valor distribucionColumna">
                <strong></strong>
            </th>

            <td mat-cell *matCellDef="let row" class="mat-cell-center" (click)="llamarModalDetalleCambios(row)">
                <div *ngIf="actualizado===false" class="mensajeDetalle">
                    <div *ngIf="data.urlimg" id="urlimg" class="img-50 contenido-img">
                        <img src="src\assets\img\actualizar.png" alt="warning" />
                    </div>Actualizar</div>
                <div *ngIf="actualizado===true" class="mensajeDetalle">Actualizado</div>
            </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
  

</div>
<div mat-dialog-actions class="contenedor">
    <div class="bt-contenedor contenido">
        <div class="ml-10 mr-10 div-left">
            <button mat-button class="bt-cancelar-gray" mat-stroked-button [mat-dialog-close]="data.buttonCancelar"
                cdkFocusInitial>
                <span class="text text-15 color_white text-2lines">{{ data.buttonCancelar }} </span>
            </button>
        </div>

        <div class="ml-10 mr-10 div-right">
            <button *ngIf="actualizado===true" mat-button class="bt-actions-red" color="primary" mat-stroked-button
                [mat-dialog-close]="data.informacionPago" cdkFocusInitial>
                <span class="text text-15 color_white text-2lines">{{ data.buttonAceptar }}</span>
            </button>
        </div>
    </div>

</div>