<div class="text">
    <div class="contenedor">
        <div class="contenido">
            <div class="contenedor-titulo">
                <div *ngIf="data.urlimg" id="urlimg" class="img-50 contenido-img">
                    <img src="assets/svg/icons/warning.svg" alt="warning" />
                </div>
                <div>
                    <mat-label mat-dialog-title class="text-20 text-bold">{{data.titulo}}</mat-label>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor">
        <div mat-dialog-content class="contenido">
            <mat-label class="text-15">
               <p>{{ data.contenido }} </p> 
            </mat-label>
        </div>
    </div>
    <div class="text">
        <table mat-table [dataSource]="dataSource" matSort>
            <caption></caption>
            <!-- Nombres completos Column -->
            <ng-container matColumnDef="nombreApellido">
                <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                    class="text-list list-beneficiarie valor ">
                   <strong>{{'titular_cambio.nombreApellido' | translate}}</strong> 
                </th>
                <td mat-cell *matCellDef="let row">{{ row.nombreCompleto }}</td>
            </ng-container>
    
            <!-- Tipo de documento Column -->
            <ng-container matColumnDef="tipoDocumento">
                <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                    class="text-list list-beneficiarie valor ">
                   <strong>{{'titular_cambio.tipoDocumento' | translate}}</strong> 
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.tipoDocumento }}</td>
                <td mat-footer-cell *matFooterCellDef class="mat-cell-center"></td>
            </ng-container>
    
            <!-- Número de documento Column -->
            <ng-container matColumnDef="numDocumento">
                <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header class="text-list list-beneficiarie valor ">
                  <strong>  {{'titular_cambio.numDocumento' | translate}}</strong>
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.numeroDocumento }}</td>
            
            </ng-container>
    
            <!-- Resumen datos cambiados Column -->
            <ng-container matColumnDef="resumenDatosCambiados">
                <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header class="text-list list-beneficiarie valor distribucionColumna">
                  <strong>  {{'titular_cambio.resumenDatosCambiados' | translate}}</strong>
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center" (click)="llamarModalDetalleCambios(row.detalleDatosCambiados)"><div class="mensajeDetalle">{{ row.resumenDatosCambiados }}</div></td>
              
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>
    <div mat-dialog-actions class="contenedor botonCentrar">
        <div class="bt-contenedor contenido">
            <div class="ml-10 mr-10 div-right ubicacionBottom">
                <button mat-button class="bt-actions-red" color="primary" mat-stroked-button [mat-dialog-close]="data.buttonAceptar" cdkFocusInitial>
                    <span class="text text-15 color_white text-2lines"> {{data.buttonAceptar}}</span>
                </button>
            </div>
        </div>
    </div>
</div>
