.tipoNegocios, .retenciones, .gastos, p{
    margin: 10px;
   }
   
   input{
     margin: 10px;
   }
   
   input[type="button"], p{
     margin-top: 0px;
   }
   
   
   .tipoNegocios{
     border: red solid 1px;
     background-color: #ff7f7f;
   }
   
   .retenciones{
     border: green solid 1px;
       background-color: #7fbf7f;
   }
   
   .gastos{
     border: blue solid 1px;
       background-color: #7f7fff;
   }
   
   input[value="Añadir Negocio"]{
     background-color: #ff7f7f;
   }
   
   input[value="Añadir Retencion"]{
       background-color: #7fbf7f;
   }
   
   input[value="Añadir Gasto"]{
        background-color: #7f7fff;
   }
   
   