<form [formGroup]="form">
	<!-- X -->
	<div formArrayName="tipoNegocios">
		<div *ngFor="let X of form['controls'].tipoNegocios['controls']; let ix=index">
			<div [formGroupName]="ix" class="tipoNegocios">
				<input type="button" (click)="deleteTipoNegocio(ix)" value="Borrar Negocio">
				<mat-form-field>
					<mat-label>Favorite food</mat-label>
					<mat-select formControlName="XtipoNegocios">
						<mat-option *ngFor="let food of foods" [value]="food.value">
							{{food.viewValue}}
						</mat-option>
					</mat-select>
				</mat-form-field>


				<!-- Retenciones -->
				<div formArrayName="retenciones">
					<div *ngFor="let Y of X['controls'].retenciones['controls']; let iy=index">
						<div [formGroupName]="iy" class="retenciones">
							<input type="button" (click)="deleteRetenciones(ix,iy)" value="BorrarRetencion">
							<input type="text" formControlName="campo1retencion">
							<p> {{ formErrors.tipoNegocios[ix].retenciones[iy].campo1retencion }}</p>

						</div>

					</div>
					<input type="button" (click)="addRetenciones(ix)" value="Añadir Retencion">
				</div>

				<!-- Retenciones End-->

				<!-- Gastos -->
				<div formArrayName="gastos">
					<div *ngFor="let Z of X['controls'].gastos['controls']; let iz=index">
						<div [formGroupName]="iz" class="gastos">
							<input type="button" (click)="deleteGastos(ix,iz)" value="BorrarGasto">
							<input type="text" formControlName="campo1gastos">
							<p> {{ formErrors.tipoNegocios[ix].gastos[iz].campo1gastos }}</p>
						</div>
					</div>
					<input type="button" (click)="addGastos(ix)" value="Añadir Gasto">
				</div>

				<!-- Gastos End-->

			</div>

		</div>
		<input type="button" (click)="addTipoNegocio()" value="Añadir Un Negocio">

	</div>
	<!-- tipo Negocio End -->
</form>

<h5>Field Values</h5>
<pre style="font-size:15px">{{ form.value | json }}</pre>