<div *ngIf="!detalleBeneficiario && consultar_vinculado" class="main-contaniner text">
    <div class="container-form">
        <form [formGroup]="buscarBeneficiarioForm" (ngSubmit)="enviarDatos()" novalidate>
            <mat-form-field class="mr-60">
                <mat-label>{{'beneficiario.filtrar_por' | translate }}</mat-label>
                <mat-select formControlName="selectCriterio" (selectionChange)="resetTables()">
                    <mat-option *ngFor="let criterio of selectCriterio" [value]="criterio.value">
                        {{ criterio.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="mw-400">
                <mat-label>{{'beneficiario.buscar' | translate }}</mat-label>
                <input matInput autocomplete="off" placeholder="Buscar" maxlength="100" formControlName="argumento" type="text" required />
            </mat-form-field>
            <button mat-button type="submit">
                <mat-icon matSuffix svgIcon="search" type="submit"></mat-icon>
            </button>
        </form>
        <div *ngIf="dataNotFound" id="dataNotFound">
            <img src="assets/svg/icons/warning.svg" alt="warning" />
            <mat-label class="text-error text-content text-warning">{{'beneficiario.sin_resultado' | translate }}
            </mat-label>
        </div>
        <div *ngIf="errorServer != null" id="dataError" class="mt-40">                       
            <img src="assets/svg/icons/warning.svg" alt="warning" />
            <mat-label class="text-error text-content text-warning">{{ errorServer }}</mat-label>
        </div>
        <div *ngIf="dataFound" id="dataFound">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro:" />
            </mat-form-field>

            <div class="text">
                <table mat-table [dataSource]="dataSource" matSort>
                    <caption></caption>
                    <!-- Nombres y apellidos Column -->
                    <ng-container matColumnDef="name">
                        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header class="text-list list-beneficiarie">
                            {{'beneficiario.nombres_apellidos' | translate }}
                        </th>
                        <td mat-cell *matCellDef="let row">{{ row.nombreCompleto }}</td>
                    </ng-container>

                    <!-- Tipo de documento Column -->
                    <ng-container matColumnDef="documentType">
                        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header class="text-list list-beneficiarie">
                            {{'beneficiario.tipo_documento' | translate }}
                        </th>
                        <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.tipoDocumento }}</td>
                    </ng-container>

                    <!-- Número de documento Column -->
                    <ng-container matColumnDef="documentNumber">
                        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header class="text-list list-beneficiarie">
                            {{'beneficiario.numero_documento' | translate }}
                        </th>
                        <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.numeroDocumento }}</td>
                    </ng-container>


                    <!-- Ver mas Column -->
                    <ng-container matColumnDef="id">
                        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header></th>
                        <td mat-cell *matCellDef="let row" class="mat-cell-center">
                            <div *ngIf="verPestanas()" class="text text-list buscar-detalle-benficiario"
                                (click)="getBeneficiarioDetalle(row.numeroDocumento)">
                                <img class="img-buscar-beneficiario" src="assets/svg/icons/searchred.svg"
                                    alt="warning" /> {{'beneficiario.ver_mas' | translate }}
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>

                <div class="mt-20">
                    <app-pagination (paginaEmitter)="goToPage($event)" [page]="page" [totalPages]="totalPages"
                        [numElementos]="numElementos" [resultsLength]="resultsLength"></app-pagination>
                </div>
            </div>
        </div>
    </div>
</div>