
.text-warning {
    margin-left: 7.98rem;
  }
  
  #dataError img {
    vertical-align: middle;
    width: 8.12rem;
    height: 7.29rem;
    padding-right: 7.98rem;
  }
  
  #dataError {
    line-height: 3rem;
    font-size: 1.5rem;
    width: 68rem;
    text-align: justify;
  }
  