<div *ngIf="!historial_pagos_distribucion && !anadir_pagos_distribucion">    
    <div class="container-form">
        <div class="mt-56 w-700 pl-50">
            <div *ngIf="ver_anadir_pagos_distribucion" class="display-online">
                
                <button type="submit" class="bt-actions-red" color="primary" 
                    [class.botonGuardarGris]="!infoNegocioCompleta"
                    [disabled]="!infoNegocioCompleta"
                    (click)="anadirEntradaPago()">
                    <span
                        class=" text text-15 color_white">{{'negocioPagosDistribucion.bt_ver_anadir_entrada_pago' | translate }}
                    </span>
                </button>
            </div>
            <div *ngIf="ver_historial_pagos_distribucion" class="">
                <button type="submit" class="bt-actions-red" color="primary" (click)="verHistorialPagosDistribucion()">
                    <span
                        class=" text text-15 color_white">{{'negocioPagosDistribucion.bt_ver_historial_pagos' | translate }}
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>    
