<div>
    <div class="mt-36">
        <mat-label>{{'beneficiario_distribucion.retenciones_naturaleza_juridica' | translate }}</mat-label>
    </div>

</div>
<ng-container [formGroup]="dynamicForm">
    <ng-container formArrayName="distribucionFormArray">
        <div class="divTable">

            <div class="divTableBody" *ngFor="let item of dynamicForm.get('distribucionFormArray')['controls']; 
                    let i = index; let last = last">

                <div [formGroupName]="i" class="container">
                    <span *ngIf="item.value.id!='0'; else retencionNueva">
                        <div class="divTableRow">
                            <div class="divTableCell">
                                <span class="align-icon" *ngIf="editing">
                                    <mat-icon class="div-button material-icons color_gray"
                                        (click)="removeFromDistribucionFormArray(i, item.value)">
                                        remove_circle</mat-icon>
                                </span>
                            </div>
                            <div class="divTableCell">
                                <mat-form-field class="w-350x">
                                    <input matInput type="text" [readonly]="true" formControlName="descripcion"
                                        maxlength="30" placeholder="Retenciones">
                                </mat-form-field>
                            </div>
                            <div class="divTableCell">
                                <mat-form-field class="w-250x ml-20">
                                    <input matInput type="text" [readonly]="true" appTwoDigitDecimaNumber
                                        formControlName="valor" maxlength="30" placeholder="">
                                </mat-form-field>
                            </div>
                        </div>
                    </span>

                    <ng-template #retencionNueva>
                        <div class="divTableRow">
                            <div class="divTableCell">
                                <span class="align-icon" *ngIf="editing">
                                    <mat-icon class="div-button material-icons color_gray"
                                        (click)="removeFromDistribucionFormArray(i, item.value)">
                                        remove_circle</mat-icon>
                                </span>
                            </div>
                            <div class="divTableCell">

                                <mat-form-field class="w-350x">
                                    <mat-label>{{'beneficiario_distribucion.retenciones' | translate }}</mat-label>
                                    <mat-select placeholder="" name="descripcion" formControlName="descripcion"
                                        (selectionChange)="almacenarMemoria()">
                                        <mat-option *ngFor="let item of arrayRenciones" [value]="item.descripcion">
                                            {{ item.descripcion }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="divTableCell">
                                <mat-form-field class="w-250x ml-20">
                                    <input matInput type="text" [readonly]="true" appTwoDigitDecimaNumber
                                        formControlName="valor" maxlength="30" placeholder="">
                                </mat-form-field>
                            </div>                            
                        </div>
                    </ng-template>

                    <div *ngIf="showListRentencion">
                        <label *ngIf="editing">
                            <div class="div-button float-right" *ngIf="last" (click)="addRetencion()">
                                <div>
                                    <div class="div-left">
                                        <mat-icon class="div-button material-icons color_gray">add_circle</mat-icon>
                                    </div>
                                    <div class="div-right">
                                        {{'beneficiario_distribucion.anadir_mas' | translate }}
                                    </div>
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </ng-container>
</ng-container>

<div *ngIf="!showListRentencion" class="w-41">
    <div class="div-button float-right" (click)="addRetencion()">
        <div class="div-left">
            <mat-icon class="div-button material-icons color_gray">add_circle</mat-icon>
        </div>
        <div class="div-right">
            {{'beneficiario_distribucion.anadir_retencion' | translate }}
        </div>
    </div>
</div>