.mt-36 {
    margin-top: 3.6rem;
}

.w-250x {
  width: 25rem;
}

.w-350x {
  width: 35rem;
}

.ml-20 {
  margin-left: 2rem;
}

.divTable {
  display: table;
  width: 100%;
}

.divTableRow {
  display: table-row;
}

.divTableCell,
.divTableHead {
  display: table-cell;
}

.divTableHeading {
  background-color: #eee;
  display: table-header-group;
  font-weight: bold;
}

.divTableFoot {
  background-color: #eee;
  display: table-footer-group;
  font-weight: bold;
}

.divTableBody {
  display: table-row-group;
}
