<mat-form-field>
  <mat-select placeholder="Usuarios que hacen cambios" [formControl]="usuarioMultiCtrl"
    (selectionChange)="itemSeleccionado($event)" [multiple]="true" #selecTodo>
    {{filteredUsuariosMulti}}
    <mat-select-search [formControl]="usuarioMultiFilterCtrl" autocomplete="off" ></mat-select-search>
    <mat-option (click)="selectAll( selecTodo )">{{'negocio_detalle.seleccionar_todo' | translate }}</mat-option> 
    <mat-option (click)="deselectAll( selecTodo )" >{{'negocio_detalle.quitar_todo' | translate }}</mat-option> 
    <mat-option *ngFor="let usuario of filteredUsuariosMulti  | async" [value]="usuario">
      {{usuario.nombreCompleto}}</mat-option>
  </mat-select>
</mat-form-field>