<mat-form-field>
    <mat-select
        placeholder="Estado de Pagos"
        [formControl]="estadoPagoForm"
        (selectionChange)="itemSeleccionado($event)"
        multiple>
      <mat-option *ngFor="let item of estadoPagosPagosList" [value]="item.codigo">{{item.descripcion}}</mat-option>
    </mat-select>
  </mat-form-field>