.mt-63 {
    margin-top: 6.3rem;
  }
  .mb-110 {
      margin-bottom: 11rem;
  }
  
  .sin-align-icon {
    margin-left: 3.5rem;
  }
  .bt-actions-red {
    width: 15.5rem;
    height: 4rem;
    border-radius: 4px;
    box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--pinkish-red);
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 36px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
    
  .display-inline-block {
    display: inline-block;
  }
  
  .text-right {
    text-align: -webkit-right;
  }
  .text-center {
    text-align: -webkit-center;
  }
  
  .container-form-table{
    max-width: 82rem;
  }
  
  .table-container {
    display: flex;
    flex-direction: column;
    max-height: auto;
  }
  .table-contenido {
    border-radius: 10px;
    text-align: left;
    
  }
  .mat-table {
    overflow: auto;
    max-height: auto;
  }

  .mat-cell-align-right {
    text-align: right;
    padding-right: 5rem;
    padding-left: 20px;
  }
  
  .mat-header-cell,
  .mat-cell {
    min-width: 10rem;
  }
  .mat-form-field-underline {
    background-color: transparent;
  }
  
  .mat-form-field-flex {
    font-size: 14px;
    line-height: 1em;
    color: #555;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 8px;
    padding: 2px;
  }
  .mat-form-field-wrapper {
    padding-bottom: 1.25em;
    padding-top: 1.25em;
  }
  .mat-form-field-infix {
    border: 0px;
  }
  .mat-paginator {
    background-color: white;
  }
  
  
  
  .example-container {
    min-height: 10rem;
    width: 82rem;
    overflow: auto;
  }
  
  table {
    width: 82rem;
  }
  
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }
  
  .mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }

  .mat-td-left {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: normal;
  }  