<div *ngIf="ver_negocios_historial_pagos" class="container-form mt-40">
    <mat-label>{{'negocioPagosDistribucion.historial_pagos' | translate }}</mat-label>
</div>

<div *ngIf="ver_negocios_historial_pagos" class="container-form mt-40">
    <form [formGroup]="buscarPagosDynamicForm">

        <div formArrayName="filtros">
            <div *ngFor="let itemFiltro of filtrosFormArray.controls; let i = index;">
                <div [formGroupName]="i" class="container">
                    <div class="div-left">
                        <span *ngIf="checkFiltros()" class="align-icon">
                            <mat-icon class="div-button material-icons color_gray"
                                (click)="removeFromFiltrosFormArray(i,itemFiltro)">
                                remove_circle</mat-icon>
                        </span>

                        <span class="sin-align-icon">
                            <span *ngIf="!arrayFiltro[i]">
                                <span class="mr-60">
                                    <mat-form-field>
                                        <mat-label>{{'negocio_historial_pagos_distribucion.filtrar_por' | translate }}
                                        </mat-label>
                                        <mat-select formControlName="selectCriterio"
                                            (selectionChange)="buscarListaXCriterioSeleccionado($event, i)">
                                            <ng-container *ngFor="let criterio of listSelectCriterioNuevo">
                                                <mat-option *ngIf="criterio.active" [value]="criterio.value">
                                                    {{ criterio.viewValue }}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                </span>
                                <span class="mr-60">
                                    <mat-form-field>
                                        <mat-label>{{'negocio_historial_pagos_distribucion.argumento' | translate }}
                                        </mat-label>
                                        <input matInput placeholder="Buscar" maxlength="100" formControlName="argumento"
                                            type="text" />
                                    </mat-form-field>
                                </span>
                            </span>
                        </span>

                        <span *ngIf="arrayFiltro[i]=='fecha'">
                            <span class="mr-60">
                                <mat-form-field>
                                    <mat-label>{{'negocio_historial_pagos_distribucion.fecha_pago' | translate }}
                                    </mat-label>
                                    <input matInput placeholder="" maxlength="100" readonly formControlName="argumento"
                                        type="text" value="Fecha" />
                                </mat-form-field>
                            </span>
                            <span class="mr-60">
                                <app-date-range-periodo (emitRange)="getDateRange($event)" (emitRangeFin)="getDateRangeFin($event)"></app-date-range-periodo>
                            </span>
                        </span>

                        <span *ngIf="arrayFiltro[i]=='tipoNegocio'">
                            <span class="mr-60">
                                <mat-form-field>
                                    <mat-label>{{'negocio_historial_pagos_distribucion.tipo_negocio' | translate }}
                                    </mat-label>
                                    <input matInput placeholder="" maxlength="100" readonly formControlName="argumento"
                                        type="text" value="Tipo Negocio" />
                                </mat-form-field>
                            </span>
                            <span class="mr-60">
                                <app-select-multiple-tipnegocio-neg [codigoNegocio]="codigoNegocioEspecifico" (emitTipoNegocio)="getTipoNegocio($event)">
                                </app-select-multiple-tipnegocio-neg>
                            </span>
                        </span>

                        <span *ngIf="arrayFiltro[i]=='numeroEncargo'">
                            <span class="mr-60">
                                <mat-form-field>
                                    <mat-label>{{'negocio_historial_pagos_distribucion.numero_encargo' | translate }}
                                    </mat-label>
                                    <input matInput placeholder="Encargo debitado" maxlength="100"
                                        formControlName="argumento" type="text" value="Encargo debitado" readonly />
                                </mat-form-field>
                            </span>
                            <span class="mr-60">
                                <mat-form-field>
                                    <mat-label>{{'negocio_historial_pagos_distribucion.numero_encargo' | translate }}
                                    </mat-label>
                                    <input matInput placeholder="Número de encargo" maxlength="100"
                                        formControlName="numeroEncargo" type="text" />
                                </mat-form-field>
                            </span>
                        </span>

                    </div>
                </div>
            </div>
            <span *ngIf="swAddFiltros" class="sin-align-icon">
                <div *ngIf="true" class="div-button float-right" (click)="addToFiltrosFormArray()">
                    <div>
                        <div class="div-left">
                            <mat-icon class="div-button material-icons color_gray">add_circle</mat-icon>
                        </div>
                        <div class="div-right color_gray">
                            {{'negocio_historial_pagos_distribucion.bt_anadir_filtro' | translate }}
                        </div>
                    </div>
                </div>
            </span>

            <div class="text-right">
                <span class="display-inline-block">
                    <span class="div-left">
                        <button type="submit" class="bt-actions-red" color="primary" (click)="limpiarformulario()">
                            <span
                                class="text text-15 color_white">{{'negocio_historial_pagos_distribucion.bt_limpiar' | translate }}
                            </span>
                        </button>
                    </span>
                    <span class="div-right">
                        <button type="submit" class="bt-actions-red" color="primary" (click)="enviarDatos(true)">
                            <span
                                class="text text-15 color_white">{{'negocio_historial_pagos_distribucion.bt_buscar' | translate }}
                            </span>
                        </button>
                    </span>
                </span>
            </div>
        </div>
    </form>
</div>

<div id="dataNotFound" class="display-inline-block" style="display:none;">
    <div *ngIf="ver_negocios_historial_pagos">
        <img src="assets/svg/icons/warning.svg" alt="warning" />
        <mat-label class="text-error text-content text-warning">
            {{'negocio_historial_pagos_distribucion.sin_resultado' | translate }}
        </mat-label>
    </div>
</div>

<div class="display-inline-block" id="dataFound" style="display:none;">
    <div *ngIf="ver_negocios_historial_pagos">
        <div class="container-form container-form-table mt-63">
            <div class="table-contenido">
                <div class="example-container mat-elevation-z8 text-align-center">
                    <table mat-table [dataSource]="dataSource">
                        <caption></caption>

                        <!-- Período Pago Column -->
                        <ng-container matColumnDef="periodoPago">
                            <th scope="col" mat-header-cell *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.perido_pago' | translate }} </th>
                            <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.periodoPago}} </td>
                        </ng-container>

                        <!-- Tipo Negocio Column -->
                        <ng-container matColumnDef="tipoNegocio">
                            <th scope="col" mat-header-cell *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.tipo_negocio' | translate }}
                            </th>
                            <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.tipoNegocio}} </td>
                        </ng-container>

                        <!-- Encargo Debitado Column -->
                        <ng-container matColumnDef="encargoDebitado">
                            <th scope="col" mat-header-cell *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.encargo_debitado' | translate }} </th>
                            <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.encargoDebitado}} </td>
                        </ng-container>

                        <!-- Valor ingreso Column -->
                        <ng-container matColumnDef="valorIngreso">
                            <th scope="col" mat-header-cell *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.valor_ingreso' | translate }} </th>
                            <td mat-cell class="mat-cell-align-right" *matCellDef="let element"> {{element.valorIngreso}} </td>
                        </ng-container>

                        <!-- Valor distribuido Column -->
                        <ng-container matColumnDef="valorDistribuido">
                            <th scope="col" mat-header-cell *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.valor_distribuido' | translate }}
                            </th>
                            <td mat-cell class="mat-cell-align-right" *matCellDef="let element"> {{element.valorDistribuido}} </td>
                        </ng-container>

                        <!-- Ver mas Column -->
                        <ng-container matColumnDef="verMas">
                            <th scope="col" mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element" class="mat-cell-center">
                                <div class="text text-list buscar-detalle-benficiario"
                                    (click)="getNegocioHistorialIngresoEgreso(element)">
                                    <img class="img-buscar-beneficiario" src="assets/svg/icons/searchred.svg"
                                        alt="warning" /> {{'negocio_historial_pagos_distribucion.ver_mas' | translate }}
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <span class="text-center">
                    <app-pagination (paginaEmitter)="goToPage($event)" [page]="page" [totalPages]="totalPages"
                        [numElementos]="numElementos" [resultsLength]="resultsLength"></app-pagination>
                </span>
            </div>
        </div>
    </div>
</div>