<div class="container-form mt-63">
    <mat-label class="bold-text">{{'reportes.datos_generales' | translate }}</mat-label>

    <form [formGroup]="buscarPagosDynamicForm">
        <div formArrayName="filtros">

            <div *ngFor="let itemFiltro of filtrosFormArray.controls; let i = index;">

                <div [formGroupName]="i" class="container">
                    <div class="div-left">
                        <span *ngIf="checkFiltros()" class="align-icon">
                            <mat-icon class="div-button material-icons color_gray"
                                (click)="removeFromFiltrosFormArray(i,itemFiltro)">
                                remove_circle</mat-icon>
                        </span>

                        <span class="sin-align-icon">
                            <span *ngIf="!arrayFiltro[i]">
                                <span class="mr-60">
                                    <mat-form-field>
                                        <mat-label>{{'reportes.filtrar_por' | translate }}
                                        </mat-label>
                                        <mat-select formControlName="selectCriterio"
                                            (selectionChange)="buscarListaXCriterioSeleccionado($event, i)">
                                            <ng-container *ngFor="let criterio of listSelectCriterioNuevo">
                                                <mat-option *ngIf="criterio.active" [value]="criterio.value">
                                                    {{ criterio.viewValue }}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                </span>
                                <span class="mr-60">
                                    <mat-form-field>
                                        <mat-label>{{'negocio_historial_pagos_distribucion.argumento' | translate }}
                                        </mat-label>
                                        <input matInput placeholder="Buscar" maxlength="100" formControlName="argumento"
                                            type="text" />
                                    </mat-form-field>
                                </span>
                            </span>
                        </span>

                        <span *ngIf="arrayFiltro[i]=='fecha'">
                            <span class="mr-60">
                                <mat-form-field>
                                    <mat-label>{{'negocio_historial_pagos_distribucion.fecha_pago' | translate }}
                                    </mat-label>
                                    <input matInput placeholder="" maxlength="100" readonly formControlName="argumento"
                                        type="text" value="Fecha" />
                                </mat-form-field>
                            </span>
                            <span class="mr-60">
                                <app-date-range-picker (emitRange)="getDateRange($event)"></app-date-range-picker>
                            </span>
                        </span>
                        <span *ngIf="arrayFiltro[i]=='usuarios'">
                            <span class="mr-60">
                                <mat-form-field>
                                    <mat-label> {{'reportes.usuarios' | translate }}
                                    </mat-label>
                                    <input matInput placeholder="" maxlength="100" readonly formControlName="argumento"
                                        type="text" value="Usuarios" />
                                </mat-form-field>
                            </span>
                            <span class="mr-60">

                                <app-select-multiple-usuarios (emitUsuarioSeleccionado)="getUsuario($event)">
                                </app-select-multiple-usuarios>
                            </span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <span class="div-left">
                    <span *ngIf="swAddFiltros">
                        <div *ngIf="true" class="div-button" (click)="addToFiltrosFormArray()">
                            <div>
                                <div class="div-left">
                                    <mat-icon class="div-button material-icons color_gray">add_circle</mat-icon>
                                </div>
                                <div class="div-right color_gray">
                                    {{'negocio_historial_pagos_distribucion.bt_anadir_filtro' | translate }}
                                </div>
                            </div>
                        </div>
                    </span>

                    <div class="text-right">
                        <span class="display-inline-block">
                            <span class="div-left">
                                <button type="submit" class="bt-actions-red" color="primary"
                                    (click)="limpiarformulario()">
                                    <span
                                        class="text text-15 color_white">{{'informacion_pago.bt_limpiar' | translate }}
                                    </span>
                                </button>
                            </span>
                            <span class="div-right">
                                <button type="submit"
                                    [ngClass]="{'bt-actions-red' :filtroEscogido, 'bt-actions-gray':!filtroEscogido}"
                                    [disabled]="!filtroEscogido" color="primary" (click)="enviarDatos(true)">
                                    <span class="text text-15 ">{{'reportes.buscar' | translate }}
                                    </span>
                                </button>
                            </span>
                        </span>
                    </div>
                </span>
            </div>
        </div>
    </form>
</div>


<div class="divTable">

    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableCell label-dato">
                {{'reportes.solicitud_de_cambios_datos_generales' | translate }}
            </div>
            <div class="divTableCell valor-dato"> {{total}}</div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell label-dato ">
                {{'reportes.solicitud_de_cambios_datos_generales_mensual' | translate }}
            </div>
            <div class="divTableCell valor-dato">
                {{mensual}}
            </div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell label-dato">{{'reportes.solicitud_de_cambios_datos_generales_anual' | translate }}
            </div>
            <div class="divTableCell valor-dato">{{anual}}</div>
        </div>
    </div>
</div>