.container {
  display: block;
  min-width: 100%;
  width: 100%;
}
.mt-63 {
  margin-top: 6.3rem;
}
.mb-110 {
  margin-bottom: 11rem;
}

.ubicacionDatosGenerales {
  padding: 17px 0 0 33px !important;
}

.titulosInterfaz {
  position: relative;
  bottom: 27px;
}

.sin-align-icon {
  margin-left: 3.5rem;
}
.bt-actions-red {
  width: 15.5rem;
  height: 4rem;
  border-radius: 4px;
  box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--pinkish-red);
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 36px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.display-inline-block {
  display: inline-block;
}
.display-block {
  display: block;
}

.text-right {
  text-align: -webkit-right;
}
.text-center {
  text-align: -webkit-center;
}

.container-form-table {
  max-width: 80rem;
}

.table-container {
  display: flex;
  flex-direction: column;
  max-height: auto;
}
.table-contenido {
  border-radius: 10px;
  text-align: center;
}
.mat-table {
  overflow: auto;
  max-height: auto;
}

.mat-header-cell,
.mat-cell {
  min-width: 150px;
}
.mat-form-field-underline {
  background-color: transparent;
}

.mat-form-field-flex {
  font-size: 14px;
  line-height: 1em;
  color: #555;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 8px;
  padding: 2px;
}
.mat-form-field-wrapper {
  padding-bottom: 1.25em;
  padding-top: 1.25em;
}
.mat-form-field-infix {
  border: 0px;
}
.mat-paginator {
  background-color: white;
}

.example-container {
  min-height: 10rem;
  width: 80rem;
  overflow: auto;
}

table {
  width: 120rem;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position,
td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}

/* DivTable.com */
.divTable {
  display: table;
  width: 100%;
  margin-top: 15px;
}
.divTableRow {
  margin-top: 10px;
}

.botonFiltro {
  position: relative;
  top: 35px;
  right: 39px;
}

.benef-cambio {
  width: 230px;
}

.divTableCell,
.divTableHead {
  display: table-cell;
  padding: 3px 12px;
}
.divTableHeading {
  background-color: #eee;
  display: table-header-group;
  font-weight: bold;
}
.divTableFoot {
  background-color: #eee;
  display: table-footer-group;
  font-weight: bold;
}
.divTableBody {
  display: table-row-group;
}

.main-divTable {
  border: none;
}
.valor-dato {
  text-align: center;
  vertical-align: middle;
  width: 114px;
  height: 40px;
  border-radius: 5px;
  border: solid 1px #d1d3d4;
  background-color: #d1d3d4;
  font-weight: 100;
}
.label-dato {
  width: 400px;
}
.clear-left {
  clear: left;
}

.bt-actions-gray {
  width: 15.5rem;
  height: 4rem;
  border-radius: 4px;
  box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #d1d3d4;
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 36px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.bold-text {
  font-weight: 700;
}
