<mat-form-field>
  <mat-select placeholder="Medios de Pagos"
      [formControl]="medioPagoForm"
      (selectionChange)="itemSeleccionado($event)"
      multiple [(ngModel)]="selected">
    <mat-option *ngFor="let item of mediosPagosList" [value]="item.id">{{item.descripcion}}</mat-option>
  </mat-select>
</mat-form-field>