<div class="text">
    <div class="contenedor">
        <div class="contenido">
            <div class="contenedor-titulo">
                <div id="urlimg" class="img-50 contenido-img">
                    <img src="assets/svg/icons/warning.svg" alt="warning" />
                </div>
                <div>
                    <mat-label mat-dialog-title class="text-20 text-bold">{{'cerrarSesion.titulo' | translate }}</mat-label>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor">
        <div mat-dialog-content class="contenido text-align-center">
            <mat-label class="text-15">
                {{'cerrarSesion.contenido' | translate }}
            </mat-label>
        </div>
    </div>

    <div mat-dialog-actions class="contenedor">
        <div class="bt-contenedor contenido">
            <div class="ml-10 mr-10 div-right">
                <button mat-button class="bt-actions-red" color="primary" mat-stroked-button [mat-dialog-close]="cerrarSesion" cdkFocusInitial>
                    <span class="text text-15 color_white text-2lines"> {{'cerrarSesion.bt_aceptar' | translate }}</span>
                </button>
            </div>
        </div>
    </div>
</div>