<div class="text">
  <div class="contenedor">
    <div class="contenido">
      <div class="contenedor-titulo">
        <div *ngIf="data.urlimg" id="urlimg" class="img-50 contenido-img">
          <img src="assets/svg/icons/warning.svg" alt="warning" />
        </div>
        <div>
          <mat-label mat-dialog-title class="text-20 text-bold">{{data.titulo}}</mat-label>
        </div>
      </div>
    </div>
  </div>
  <div class="contenedor">
    
    <div mat-dialog-content class="contenido">
      <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar">
      </mat-form-field>
  
      <div class="example-container mat-elevation-z8 text-align-center">
        <table mat-table [dataSource]="dataSource"><caption></caption>

          <!-- tipoTitularidad Column -->
          <ng-container matColumnDef="tipoTitularidad">
            <th scope="row" mat-header-cell *matHeaderCellDef> Tipo de titularidad </th>
            <td mat-cell *matCellDef="let element">
              <span class="bt-actions" (click)="vinculoDetalleBeneficiarios(element.tipoDocumentoTitular, element.documentoTitular)">
                <img class="img-buscar-negocio" src="assets/svg/icons/ojo-rojo.svg" alt="warning" />
                {{element.tipoTitularidad}} 
              </span>
            </td>
          </ng-container>

          <!-- nombreTitular Column -->
          <ng-container matColumnDef="nombreTitular">
            <th scope="row" mat-header-cell *matHeaderCellDef> Titulares/Cotitulares </th>
            <td mat-cell *matCellDef="let element"> <span id="codigoBeneficiario" class="bt-actions" (click)="vinculoDetalleBeneficiarios(element.tipoDocumentoTitular, element.documentoTitular)">{{element.nombreTitular}}</span></td>
          </ng-container>

          <!-- tipoDocumentoTitular Column -->
          <ng-container matColumnDef="tipoDocumentoTitular">
            <th scope="row" mat-header-cell *matHeaderCellDef> Tipo de documento </th>
            <td mat-cell *matCellDef="let element"> {{element.tipoDocumentoTitular}} </td>
          </ng-container>

          <!-- documentoTitular Column -->
          <ng-container matColumnDef="documentoTitular">
            <th scope="row" mat-header-cell *matHeaderCellDef> No. documento </th>
            <td mat-cell *matCellDef="let element"> {{element.documentoTitular}} </td>
          </ng-container>

          <!-- numeroEncargoInd Column -->
          <ng-container matColumnDef="numeroEncargoInd">
            <th scope="row" mat-header-cell *matHeaderCellDef> Nombre del titular </th>
            <td mat-cell *matCellDef="let element"> {{element.numeroEncargoInd}} </td>
          </ng-container>

          <!-- tipoCuenta Column -->
          <ng-container matColumnDef="tipoCuenta">
            <th scope="row" mat-header-cell *matHeaderCellDef> Tipo de cuenta </th>
            <td mat-cell *matCellDef="let element"> {{element.tipoCuenta}} </td>
          </ng-container>

          <!-- porcentajeParticipacion Column -->
          <ng-container matColumnDef="porcentajeParticipacion">
            <th scope="row" mat-header-cell *matHeaderCellDef> Porcentaje de participación </th>
            <td mat-cell *matCellDef="let element"> {{element.porcentajeParticipacion}} </td>
          </ng-container>

          <!-- numeroDerechosFiduciarios Column -->
          <ng-container matColumnDef="numeroDerechosFiduciarios">
            <th scope="row" mat-header-cell *matHeaderCellDef> No. derechos fiduciarios </th>
            <td mat-cell *matCellDef="let element"> {{element.numeroDerechosFiduciarios}} </td>
          </ng-container>

          <!-- beneficiario Column -->
          <ng-container matColumnDef="beneficiario">
            <th scope="row" mat-header-cell *matHeaderCellDef> Beneficiarios </th>
            <td mat-cell *matCellDef="let element"> {{element.beneficiario}} </td>
          </ng-container>

          <!-- tipoDocumentoBeneficiario Column -->
          <ng-container matColumnDef="tipoDocumentoBeneficiario">
            <th scope="row" mat-header-cell *matHeaderCellDef> Tipo de documento </th>
            <td mat-cell *matCellDef="let element"> {{element.tipoDocumentoBeneficiario}} </td>
          </ng-container>

          <!-- numeroDocumentoBeneficiario Column -->
          <ng-container matColumnDef="numeroDocumentoBeneficiario">
            <th scope="row" mat-header-cell *matHeaderCellDef> No. documento Beneficiario </th>
            <td mat-cell *matCellDef="let element"> {{element.numeroDocumentoBeneficiario}} </td>
          </ng-container>

          <!-- numeroCuenta Column -->
          <ng-container matColumnDef="numeroCuenta">
            <th scope="row" mat-header-cell *matHeaderCellDef> Número cuenta / Fideicomiso </th>
            <td mat-cell *matCellDef="let element"> {{element.numeroCuenta}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </div>
    </div>
  </div>


  <div mat-dialog-actions class="contenedor">
    <div class="bt-contenedor contenido">
      <button mat-button class="bt-aceptar" color="primary" mat-stroked-button [mat-dialog-close]="data.codigoSFC"
        cdkFocusInitial>
        <span class="text text-15 color_white">{{ data.button }}</span>
      </button>
    </div>
  </div>
</div>