.bt-contenedor {
    line-height: 100px;
  }
  .bt-aceptar {
    width: 10rem;
    height: 2.8rem;
    border-radius: 4px;
    box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--pinkish-red);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  
  .text-15 {
    font-size: 1.5rem;
  }
  
  .text-20 {
    font-size: 2rem;
  }
  
  .text-align-center {
      text-align: center;
  }
  
  .text-bold{
      font-weight: bold;
  }
  
  .contenedor {
    display: flex;
    align-items: center;
  }
  .contenido {
    margin: 0 auto; /* requerido para alineación horizontal */
  }
  .contenedor-titulo{
      display: flex;
      justify-content: space-around;
  }
  .contenido-img{
      float: left;
      text-align: center;
  }
  .img-50{
      width: 50px;
      height: 50px;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
  }

  .container{
      background-color: white;
      border: 1.5px solid black;
      border-radius: 10px;
      text-align: center;
  }
  .mat-table{
      background-color: rgba(255, 255, 255, 0.959);     
      overflow: auto;
      max-height: 500px;
  }

  .mat-form-field-underline{
      background-color:transparent;
  }
  
  .mat-form-field-flex{
      font-size: 14px;
      line-height: 1em;
      color: #555;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-top: 8px;
      padding: 2px;
  }
  .mat-form-field-wrapper{
      padding-bottom: 1.25em;
      padding-top: 1.25em;
  }
  .mat-form-field-infix{
      border:0px;
  }
  .mat-paginator{
      background-color: white;
  }

  .mat-th-50 {
    min-width: 50px;
  }
  
  .mat-th-100 {
    min-width: 100px;
  }
  
  .mat-td-left {
    text-align: left;
    font-weight: normal;
  }

  .bt-actions {    
    display: flex;
    cursor: pointer;
  }

  #codigoBeneficiario:hover {
    text-decoration: underline;
    color: red;
  }
  
  #codigoBeneficiario:active {
    color: black;
  }
  
  #codigoBeneficiario:visited {
    color: gray;
  }

  .img-buscar-negocio {
    width: 1.4rem;
    margin-right: 1.4rem;
  }