<div class="container-form mt-63">
    <form [formGroup]="buscarHistorialAsambleasDynamicForm">
        <div formArrayName="filtros">
            <div *ngFor="let itemFiltro of filtrosFormArray.controls; let i = index;">
                <div [formGroupName]="i" class="container">
                    <div class="div-left">
                        <span *ngIf="checkFiltros()" class="align-icon">
                            <mat-icon class="div-button material-icons color_gray"
                                (click)="removeFromFiltrosFormArray(i,itemFiltro)">
                                remove_circle</mat-icon>
                        </span>

                        <span class="sin-align-icon">
                            <span *ngIf="!arrayFiltro[i]">
                                <span class="mr-60">
                                    <mat-form-field>
                                        <mat-label>{{'negocio_asambleas_historial.filtrar_por' | translate }}
                                        </mat-label>
                                        <mat-select formControlName="selectCriterio"
                                            (selectionChange)="buscarListaXCriterioSeleccionado($event, i)">
                                            <ng-container *ngFor="let criterio of listSelectCriterioNuevo">
                                                <mat-option *ngIf="criterio.active" [value]="criterio.value">
                                                    {{ criterio.viewValue }}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                </span>
                                <span class="mr-60">
                                    <mat-form-field>
                                        <mat-label>{{'negocio_asambleas_historial.argumento' | translate }}
                                        </mat-label>
                                        <input matInput placeholder="Buscar" maxlength="100" formControlName="argumento"
                                            type="text" />
                                    </mat-form-field>
                                </span>
                            </span>
                        </span>

                        <span>
                            <span *ngIf="arrayFiltro[i]=='usuario'">
                                <span class="mr-60">
                                    <mat-form-field>
                                        <mat-label>{{'negocio_asambleas_historial.usuario' | translate }}
                                        </mat-label>
                                        <input matInput  maxlength="100" formControlName="argumento"
                                            type="text" value="Usuario que Registro" />
                                    </mat-form-field>
                                </span>
                                <span class="mr-60">
                                    <app-select-multiple-usuarios (emitUsuarioSeleccionado)="getUsuarios($event)"></app-select-multiple-usuarios>
                                </span>
                            </span>
                            
                            <span *ngIf="arrayFiltro[i]=='fecha'">
                                <span class="mr-60">
                                    <mat-form-field>
                                        <mat-label>{{'negocio_asambleas_historial.fecha' | translate }}
                                        </mat-label>
                                        <input matInput  maxlength="100" formControlName="argumento"
                                            type="text" value="Fecha" />
                                    </mat-form-field>
                                </span>
                                <span class="mr-60">
                                    <app-date-range-picker (emitRange)="getDateRange($event)"></app-date-range-picker>
                                </span>
                            </span>

                            <span *ngIf="arrayFiltro[i]=='numeroRadicado'">
                                <span class="mr-60">
                                    <mat-form-field>
                                        <mat-label>{{'negocio_asambleas_historial.numeroRadicado' | translate }}
                                        </mat-label>
                                        <input matInput  maxlength="100" formControlName="argumento"
                                            type="text" value="Número de Radicado" />
                                    </mat-form-field>
                                </span>
                                <span class="mr-60">
                                    <mat-form-field>
                                        <mat-label>{{'negocio_asambleas_historial.numeroRadicado' | translate }}
                                        </mat-label>
                                        <input matInput placeholder="Palabra de Búsqueda" maxlength="100" formControlName="argumento"
                                            type="text"/>
                                    </mat-form-field>
                                </span>
                            </span>

                            <span *ngIf="arrayFiltro[i]=='decision'">
                                <span class="mr-60">
                                    <mat-form-field>
                                        <mat-label>{{'negocio_asambleas_historial.decision' | translate }}
                                        </mat-label>
                                        <input matInput  maxlength="100" formControlName="argumento"
                                            type="text" value="Decisiones" />
                                    </mat-form-field>
                                </span>
                                <span class="mr-60">
                                    <mat-form-field>
                                        <mat-label>{{'negocio_asambleas_historial.decision' | translate }}
                                        </mat-label>
                                        <input matInput placeholder="Palabra de Busqueda" maxlength="100" formControlName="argumento"
                                            type="text" />
                                    </mat-form-field>
                                </span>
                            </span>

                            <span *ngIf="arrayFiltro[i]=='pendiente'">
                                <span class="mr-60">
                                    <mat-form-field>
                                        <mat-label>{{'negocio_asambleas_historial.pendiente' | translate }}
                                        </mat-label>
                                        <input matInput maxlength="100" formControlName="argumento"
                                            type="text" value="Tareas Pendientes" />
                                    </mat-form-field>
                                </span>
                                <span class="mr-60">
                                    <mat-form-field>
                                        <mat-label>{{'negocio_asambleas_historial.pendiente' | translate }}
                                        </mat-label>
                                        <input matInput placeholder="Palabra de Busqueda" maxlength="100" formControlName="argumento"
                                            type="text" />
                                    </mat-form-field>
                                </span>
                            </span>

                        </span>

                    </div>
                </div>

            </div>

            <span *ngIf="swAddFiltros" class="linea-completa">
                <div *ngIf="true" class="div-button float-right" (click)="addToFiltrosFormArray()">
                    <div>
                        <div class="div-left">
                            <mat-icon class="div-button material-icons color_gray">add_circle</mat-icon>
                        </div>
                        <div class="div-right color_gray">
                            {{'negocio_asambleas_historial.bt_anadir_filtro' | translate }}
                        </div>
                    </div>
                </div>
            </span>


            <div class="text-right">
                <span class="display-inline-block">
                    <span class="div-left">
                        <button type="submit" class="bt-actions-red" color="primary" (click)="limpiarformulario()">
                            <span
                                class="text text-15 color_white">{{'negocio_asambleas_historial.bt_limpiar' | translate }}
                            </span>
                        </button>
                    </span>
                    <span class="div-right">
                        <button type="submit" class="bt-actions-red" color="primary" (click)="enviarDatos(true)">
                            <span
                                class="text text-15 color_white">{{'negocio_asambleas_historial.bt_buscar' | translate }}
                            </span>
                        </button>
                    </span>
                </span>
            </div>


        </div>
    </form>
</div>
<div id="dataNotFound" class="display-inline-block" style="display:none;">
    <img src="assets/svg/icons/warning.svg" alt="warning" />
    <mat-label class="text-error text-content text-warning">
        {{'negocio_asambleas_historial.sin_resultado' | translate }}
    </mat-label>
</div>

<div class="display-inline-block mb-110 mt-63" id="dataFound" style="display:none;">

    <div class="container-form container-form-table mb-110">
        <div class="table-contenido">

            <div class="example-container mat-elevation-z8 text-align-center ">
                <table mat-table [dataSource]="dataSource">
                    <caption></caption>

                    <!-- fecha Column -->
                    <ng-container matColumnDef="fecha">
                        <th scope="col" class="mat-th-100" *matHeaderCellDef>
                            {{'negocio_asambleas_historial.fecha' | translate }} </th>
                        <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.fechaReunion}} </td>
                    </ng-container>

                    <!-- Registrado Por Column -->
                    <ng-container matColumnDef="usuario">
                        <th scope="col" class="mat-th-100" *matHeaderCellDef>
                            {{'negocio_asambleas_historial.usuario' | translate }}
                        </th>
                        <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.usuario}} </td>
                    </ng-container>

                    <!-- Numero de Radicado Column -->
                    <ng-container matColumnDef="numeroRadicado">
                        <th scope="col" class="mat-th-100" mat-header-cell *matHeaderCellDef>
                            {{'negocio_asambleas_historial.numeroRadicado' | translate }} </th>
                        <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.numeroRadicado}} </td>
                    </ng-container>

                    <!-- Detalle Column -->
                   <ng-container matColumnDef="opciones">
                    <th scope="col" class="mat-th-100" mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell  class="mat-td-left"  *matCellDef="let element" class="mat-cell-center">
                            <div  class="text text-list buscar-detalle-benficiario" (click)="obtenerInformacionReunion(element.codigoSFC, element.fechaReunion, element.numeroRadicado)">
                                    <p><img class="img-buscar-beneficiario" src="assets/svg/icons/searchred.svg"
                                            alt="warning" /> {{'negocio_asambleas_historial.ver_detalle' | translate }}</p>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>

    </div>
</div>
