<div class="text">
    <div class="contenedor">
        <div class="contenido">
            <div class="contenedor-titulo">
                <div *ngIf="data.urlimg" id="urlimg" class="img-50 contenido-img">
                    <img src="assets/svg/icons/warning.svg" alt="warning" />
                </div>
                <div>
                    <mat-label mat-dialog-title class="text-20 text-bold">{{data.titulo}}</mat-label>
                </div>
            </div>
        </div>
    </div>
    <div class="text">
        <table mat-table [dataSource]="dataSource" matSort>
            <caption></caption>
            <!-- dato Column -->
            <ng-container matColumnDef="dato">
                <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                    class="text-list list-beneficiarie valor ">
                   <strong>{{'resumen_datos_cambiados.dato' | translate}}</strong> 
                </th>
                <td mat-cell *matCellDef="let row">{{ row.dato }}</td>
            </ng-container>
    
            <!-- Dato Nuevo Column -->
            <ng-container matColumnDef="datoNuevo">
                <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                    class="text-list list-beneficiarie valor datoNuevo">
                   <strong>{{'resumen_datos_cambiados.datoNuevo' | translate}}</strong> 
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.datoNuevo }}</td>
                <td mat-footer-cell *matFooterCellDef class="mat-cell-center "></td>
            </ng-container>
    
            <!-- Dato Anterior Column -->
            <ng-container matColumnDef="datoAnterior">
                <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header class="text-list list-beneficiarie valor datoAnterior">
                  <strong>  {{'resumen_datos_cambiados.datoAnterior' | translate}}</strong>
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center ">{{ row.datoAnterior }}</td>
            
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>
    <div mat-dialog-actions class="contenedor botonCentrar">
        <div class="bt-contenedor contenido">
            <div class="ml-10 mr-10 div-right ubicacionBottom">
                <button mat-button class="bt-actions-red" color="primary" mat-stroked-button [mat-dialog-close]="data.buttonAceptar" cdkFocusInitial>
                    <span class="text text-15 color_white text-2lines"> {{data.buttonAceptar}}</span>
                </button>
            </div>
        </div>
    </div>
</div>

