.mt-46 {
  margin-top: 4.6rem;
}

.mb-46 {
  margin-bottom: 4.6rem;
}

.botonRegresar {
  padding-left: 160px;
}

.botonContinuar {
  padding-right: 210px;
}

.posPaginator {
  padding-right: 1px;
}

.mt-36 {
  margin-top: 3.6rem;
}

.mt-26 {
  margin-top: 2.6rem;
}

.mt-16 {
  margin-top: 1.6rem;
}


.tabla {
  overflow-x: scroll;
}

table {
  width: 100%;
  padding: 10px 50px 10px 50px;
}

.bt-contenedor {
  line-height: 100%;
}

.bt-cancelar-gray {
  width: 13rem;
  border-radius: 4px;
  box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--battleship-gray);
  display: flex;
  justify-content: center;
  align-content: center;
  height: 36px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 7px 0 7px 0;
}

.bt-actions-red {
  width: 13rem;
  border-radius: 4px;
  box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--pinkish-red);
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 7px 0 7px 0;  
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.ubicacionBottom {
  padding-bottom: 30px;
}

.botonCentrar {
  padding-top: 20px;
}

.text-2lines {
  line-height: 1.2;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text-15 {
  font-size: 1.5rem;
}

.text-20 {
  font-size: 2rem;
}

.text-align-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.contenedor {
  display: flex;
  align-items: center;
}

.contenido {
  margin: 0 auto;
  /* requerido para alineación horizontal */
}

.contenedor-titulo {
  display: flex;
  justify-content: space-around;
}

.contenido-img {
  float: left;
  text-align: center;
}

.img-50 {
  width: 50px;
  height: 50px;
}

.posicionConstantes {
  position: relative;
  left: 234px;
  top: 23px;
}

.columnaPrincipal {
  position: relative;
  right: 60px;
  bottom: 22px;
}

p {
  text-align: justify;
}

.checkbox-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.checkbox-margin {
  margin: 0 10px;
}

.distribucionColumna {
  padding-left: 38px;
}

.mat-column-nombreApellido {
  width: 105px;
}

.mat-column-tipoDocumento {
  width: 105px;
}

.mat-column-numDocumento {
  width: 93px;
}

.mat-column-resumenDatosCambiados {
  width: 10px;
}

.mensajeDetalle {
  color: var(--pinkish-red);
  font-weight: bold;
  cursor: pointer;
}

.datoNuevo {
  padding-left: 37px;
}

.datoAnterior {
  padding-left: 47px;
}
