<div *ngIf="!vistaListarTitulares && listaIngresoPagosIngresos">
    <div class="mt-26">
        <div class="mt-16">
            <span>{{listaConceptoDos.nombreTipoNegocio}}</span>
        </div>
        <div class="mt-16">
            <mat-form-field>
                <mat-label>Periodo de ingreso</mat-label>
                <input matInput type="text" [(ngModel)]="periodoElegido" readonly>
                <button mat-button matSuffix mat-icon-button disabled>
                  <mat-icon>event</mat-icon>
                </button>
              </mat-form-field>
        </div>
        <div class="mt-26">
            <span>Ingresos</span>
        </div>
        <table mat-table [dataSource]="dataSource" matSort>
            <caption></caption>
            <!-- Conceptos Column -->
            <ng-container matColumnDef="concepto">
                <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                    class="text-list list-beneficiarie labelTipoEvento">
                    Concepto
                </th>
                <td mat-cell *matCellDef="let row">{{ row.concepto }}</td>
                <td mat-footer-cell *matFooterCellDef> subtotal ingresos </td>
            </ng-container>

            <!-- Fecha de Ingreso Column -->
            <ng-container matColumnDef="fecha">
                <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                    class="text-list list-beneficiarie fechaIngreso">
                    Fecha
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.fecha }}</td>
                <td mat-footer-cell *matFooterCellDef class="mat-cell-center"></td>
            </ng-container>

            <!-- Valor Ingreso -->
            <ng-container matColumnDef="valor">
                <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                    class="text-list list-beneficiarie valor">
                    Valor
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.valor | currency  }}</td>
                <td mat-footer-cell *matFooterCellDef class="mat-cell-center">{{getTotalCost() | currency}}</td>
            </ng-container>

            <!-- Ver mas Column -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
    </div>
    <div class="mt-36">
        <div class="mt-16">
            <span>Egresos</span>
        </div>
        <table mat-table [dataSource]="dataSource2" matSort>
            <caption></caption>
            <!-- Conceptos Column -->
            <ng-container matColumnDef="concepto">
                <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                    class="text-list list-beneficiarie labelTipoEvento">
                    Concepto
                </th>
                <td mat-cell *matCellDef="let row">{{ row.concepto }}</td>
                <td mat-footer-cell *matFooterCellDef> subtotal egresos </td>
            </ng-container>

            <!-- Fecha de Ingreso Column -->
            <ng-container matColumnDef="fecha">
                <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                    class="text-list list-beneficiarie fechaIngreso">
                    Fecha
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.fecha }}</td>
                <td mat-footer-cell *matFooterCellDef class="mat-cell-center"></td>
            </ng-container>

            <!-- Valor Ingreso -->
            <ng-container matColumnDef="valor">
                <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                    class="text-list list-beneficiarie valor">
                    Valor
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.valor | currency  }}</td>
                <td mat-footer-cell *matFooterCellDef class="mat-cell-center">{{getTotalGasto() | currency}}</td>
            </ng-container>

            <!-- Ver mas Column -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns2"></tr>
        </table>
    </div>


    <div class="mt-26">
        <span>Total a distribuir: {{listaConceptoDos.totalDistribuir | currency }}</span>
    </div>


    <div class="contenedor mt-26">
        <div class="bt-contenedor contenido botonRegresar">
            <div class="div-left mb-46">
                <button mat-button class="bt-cancelar-gray" (click)="regresar()">
                    <span class="text text-15 color_white text-2lines">REGRESAR</span>
                </button>
            </div>
            <div class="div-right mb-46 botonContinuar">
                <button mat-button class="bt-actions-red" color="primary" (click)="AceptarContinuar()">
                    <span class="text text-15 color_white text-2lines">ACEPTAR Y CONTINUAR</span>
                </button>
            </div>
        </div>
    </div>

</div>



<div class="mt-26" *ngIf="vistaListarTitulares && !listaIngresoPagosIngresos">
    <!-- <app-pago-listar-titulares-ben (propagar)="recicibirInfoComponenteTres($event)"-->
     <app-pago-listar-titulares-ben
         [informacionQueLlegoServicio]="informacionQueLlegoServicio">
     </app-pago-listar-titulares-ben>
 </div>


<div class="mt-26" *ngIf="!vistaListarTitulares && !listaIngresoPagosIngresos">
    <app-pagos-distribucion> </app-pagos-distribucion>
</div>