<div  class="container-form mt-40">
    <form [formGroup]="buscarPagosDynamicForm">

        <div formArrayName="filtros">
            <div *ngFor="let itemFiltro of filtrosFormArray.controls; let i = index;">
                <div [formGroupName]="i" class="container">
                    <div class="div-left">
                        <span *ngIf="checkFiltros()" class="align-icon">
                            <mat-icon class="div-button material-icons color_gray"
                                (click)="removeFromFiltrosFormArray(i,itemFiltro)">
                                remove_circle</mat-icon>
                        </span>

                        <span class="sin-align-icon">
                            <span *ngIf="!arrayFiltro[i]">
                                <span class="mr-60">
                                    <mat-form-field>
                                        <mat-label>{{'informacion_pago.filtrar_por' | translate }}
                                        </mat-label>
                                        <mat-select formControlName="selectCriterio"
                                            (selectionChange)="buscarListaXCriterioSeleccionado($event, i)">
                                            <ng-container *ngFor="let criterio of listSelectCriterioNuevo">
                                                <mat-option *ngIf="criterio.active" [value]="criterio.value">
                                                    {{ criterio.viewValue }}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                </span>
                                <span class="mr-60">
                                    <mat-form-field>
                                        <mat-label>{{'informacion_pago.argumento' | translate }}
                                        </mat-label>
                                        <input matInput placeholder="Buscar" maxlength="100" formControlName="argumento"
                                            type="text" />
                                    </mat-form-field>
                                </span>
                            </span>
                        </span>

                        <span *ngIf="arrayFiltro[i]=='fecha'">
                            <span class="mr-60">
                                <mat-form-field>
                                    <mat-label>{{'informacion_pago.fecha_solicitud' | translate }}
                                    </mat-label>
                                    <input matInput placeholder="" maxlength="100" readonly formControlName="argumento"
                                        type="text" value="Fecha" />
                                </mat-form-field>
                            </span>
                            <span class="mr-60">
                                <app-date-range-periodo (emitRange)="getDateRange($event)" (emitRangeFin)="getDateRangeFin($event)"></app-date-range-periodo>
                            </span>
                        </span>

                        <span *ngIf="arrayFiltro[i]=='tipoNegocio'">
                            <span class="mr-60">
                                <mat-form-field>
                                    <mat-label>{{'informacion_pago.tipo_negocio' | translate }}
                                    </mat-label>
                                    <input matInput placeholder="" maxlength="100" readonly formControlName="argumento"
                                        type="text" value="Tipo Negocio" />
                                </mat-form-field>
                            </span>
                            <span class="mr-60">
                                <app-select-multiple-tipo-negocio (emitTipoNegocio)="getTipoNegocio($event)">
                                </app-select-multiple-tipo-negocio>
                                
                            </span>
                        </span>
                        <span *ngIf="arrayFiltro[i]=='negocio'">
                            <span class="mr-60">
                                <mat-form-field>
                                    <mat-label>{{'informacion_pago.negocio' | translate }}
                                    </mat-label>
                                    <input matInput placeholder="" maxlength="100" readonly formControlName="argumento"
                                        type="text" value="negocio" />
                                </mat-form-field>
                            </span>
                            <span class="mr-60">
                            <app-select-multiple-negocio-search 
                            (emitNegocioSeleccionado)="getNegocios($event)">    
                        </app-select-multiple-negocio-search>
                            </span>
                        </span>
                       

                    </div>
                </div>
            </div>
            <span *ngIf="swAddFiltros" class="sin-align-icon">
                <div *ngIf="true" class="div-button float-right" (click)="addToFiltrosFormArray()">
                    <div>
                        <div class="div-left">
                            <mat-icon class="div-button material-icons color_gray">add_circle</mat-icon>
                        </div>
                        <div class="div-right color_gray">
                            {{'informacion_pago.bt_anadir_filtro' | translate }}
                        </div>
                    </div>
                </div>
            </span>

            <div class="text-right">
                <span class="display-inline-block">
                    <span class="div-left">
                        <button type="submit" class="bt-actions-red" color="primary" (click)="limpiarformulario()">
                            <span
                                class="text text-15 color_white">{{'informacion_pago.bt_limpiar' | translate }}
                            </span>
                        </button>
                    </span>
                    <span class="div-right">
                        <button type="submit" class="bt-actions-red" color="primary" (click)="enviarDatos()">
                            <span
                                class="text text-15 color_white">{{'informacion_pago.bt_buscar' | translate }}
                            </span>
                        </button>
                    </span>
                </span>
            </div>
            <div class="divTable tablita">
                <div class="divTableBody">
                <div class="divTableRow">
                <div class="divTableCell titulosFilas">Ingresos</div>
                <div class="divTableCell titulosFilas">Obligaciones</div>
                </div>
                <div class="divTableRow">
                <div class="divTableCell titulosFilas">Total Ingresos {{ingresos | currency }}</div>
                <div class="divTableCell titulosFilas">Total Obligaciones {{obligaciones | currency }}</div>
                </div>
                 <div class="divTableRow">
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
                </div>
                <div class="divTableRow">
                <div class="divTableCell titulosFilas">Distribuciones</div>
                <div class="divTableCell titulosFilas">Retenciones</div>
                </div>
                <div class="divTableRow">
                <div class="divTableCell">Total Distribuciones {{distribuciones | currency }}</div>
                <div class="divTableCell">Total Retenciones {{retenciones | currency }} </div>
                </div>
                </div>
                </div>
             
          
            </div>
