
.mt-46 {
margin-top: 4.6rem;
}

.mb-46 {
margin-bottom: 4.6rem;
}

.botonRegresar {
padding-left: 160px;
}

.botonContinuar {
padding-right: 210px;
}

.posPaginator{
  padding-right: 1px;
}


.mt-36 {
margin-top: 3.6rem;
}

.mt-26 {
margin-top: 2.6rem;
}

.mt-16 {
margin-top: 1.6rem;
}

.bt-contenedor {
line-height: 100%;
}

.bt-cancelar-gray {
width: 20rem;
border-radius: 4px;
box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
background-color: var(--battleship-gray);
display: flex;
justify-content: center;
align-content: center;
height: 36px;
color: white;
font-weight: bold;
cursor: pointer;
align-self: center;
padding-top: 7px;
}

.bt-actions-red {
width: 20rem;
border-radius: 4px;
box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
background-color: var(--pinkish-red);
display: flex;
justify-content: center;
align-content: center;
min-height: 36px;
color: white;
font-weight: bold;
cursor: pointer;
align-self: center;
padding-top: 7px;
}

.text-2lines {
line-height: 1.2;
white-space: normal;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}

.tabla {
    width: 82rem;
    overflow-x: scroll;
  }


  .mat-sort-header-arrow {
    color: #ffffff;
}
 

 
