<div class="mt-26" *ngIf="vistaListarTitulares">
    <div class="mt-16">
        <span>{{listaConceptoDos.nombreTipoNegocio}}</span>
    </div>
    <div class="mt-16">
        <mat-form-field>
            <mat-label>Periodo de ingreso</mat-label>
            <input matInput type="text" [(ngModel)]="periodoElegido" readonly>
            <button mat-button matSuffix mat-icon-button disabled>
              <mat-icon>event</mat-icon>
            </button>
          </mat-form-field>
    </div>
    <div class="tabla mt-26">
        <table mat-table [dataSource]="dataSource" matSort>
            <caption></caption>
            <!-- Conceptos Column -->
            <ng-container matColumnDef="nombreTitular">
                <th scope="row" mat-header-cell *matHeaderCellDef 
                    class="text-list list-beneficiarie labelTipoEvento">
                    Titulares
                </th>
                <td mat-cell *matCellDef="let row">{{ row.nombreTitular }}</td>
            </ng-container>

            <!-- Fecha de Ingreso Column -->
            <ng-container matColumnDef="tipoDocumentoTitular">
                <th scope="row" mat-header-cell *matHeaderCellDef 
                    class="text-list list-beneficiarie fechaIngreso">
                    Tipo de documento
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.tipoDocumentoTitular }}</td>
            </ng-container>

            <!-- Valor Ingreso -->
            <ng-container matColumnDef="documentoTitular">
                <th scope="row" mat-header-cell *matHeaderCellDef 
                    class="text-list list-beneficiarie valor">
                    No. de documento
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.documentoTitular }}</td>
            </ng-container>

            <!-- Valor Ingreso -->
            <ng-container matColumnDef="porcentajeParticipacion">
                <th scope="row" mat-header-cell *matHeaderCellDef 
                    class="text-list list-beneficiarie valor">
                    Porcentaje de participación
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.porcentajeParticipacion}} %</td>
            </ng-container>

            <!-- Valor Ingreso -->
            <ng-container matColumnDef="numeroDerechos">
                <th scope="row" mat-header-cell *matHeaderCellDef 
                    class="text-list list-beneficiarie valor">
                    No. de derechos fiduciarios
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.numeroDerechos }}</td>
            </ng-container>

            <!-- Valor Ingreso -->
            <ng-container matColumnDef="nombreBeneficiario">
                <th scope="row" mat-header-cell *matHeaderCellDef 
                    class="text-list list-beneficiarie valor">
                    Beneficiario
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.nombreBeneficiario }}</td>
            </ng-container>

            <!-- Valor Ingreso -->
            <ng-container matColumnDef="tipoDocumento">
                <th scope="row" mat-header-cell *matHeaderCellDef 
                    class="text-list list-beneficiarie valor">
                    Tipo de documento
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.tipoDocumento }}</td>
            </ng-container>

            <!-- Valor Ingreso -->
            <ng-container matColumnDef="documento">
                <th scope="row" mat-header-cell *matHeaderCellDef 
                    class="text-list list-beneficiarie valor">
                    No. de documento
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.documento }}</td>
            </ng-container>

            <!-- Valor Ingreso -->
            <ng-container matColumnDef="porcentajeGiro">
                <th scope="row" mat-header-cell *matHeaderCellDef 
                    class="text-list list-beneficiarie valor">
                    Porcentaje de giro
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.porcentajeGiro}} %</td>
            </ng-container>

            <!-- Valor Ingreso -->
            <ng-container matColumnDef="porcentajedistribuido">
                <th scope="row" mat-header-cell *matHeaderCellDef 
                    class="text-list list-beneficiarie valor">
                    Porcentaje distribuido
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.porcentajedistribuido}} %</td>
            </ng-container>

            <!-- Valor Ingreso -->
            <ng-container matColumnDef="valorGiro">
                <th scope="row" mat-header-cell *matHeaderCellDef 
                    class="text-list list-beneficiarie valor">
                    Valor de giro
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.valorGiro | currency }}</td>
            </ng-container>

            <!-- Valor Ingreso -->
            <ng-container matColumnDef="porcentajeParticipacionDistribuido">
                <th scope="row" mat-header-cell *matHeaderCellDef 
                    class="text-list list-beneficiarie valor">
                    Porcentaje de participación distribuido
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.porcentajeParticipacionDistribuido}} %
                </td>
            </ng-container>

            <!-- Valor Ingreso -->
            <ng-container matColumnDef="subtotalPago">
                <th scope="row" mat-header-cell *matHeaderCellDef 
                    class="text-list list-beneficiarie valor">
                    Subtotal de pago
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.subtotalPago | currency }}</td>
            </ng-container>

            <!-- Valor Ingreso -->
            <ng-container matColumnDef="gravamenMovimientoFinanciero">
                <th scope="row" mat-header-cell *matHeaderCellDef 
                    class="text-list list-beneficiarie valor">
                    Gravamen movimiento financiero
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">
                    {{ row.gravamenMovimientoFinanciero | currency }}</td>
            </ng-container>

            <!-- Valor Ingreso -->
            <ng-container matColumnDef="tipoPago">
                <th scope="row" mat-header-cell *matHeaderCellDef 
                    class="text-list list-beneficiarie valor">
                    Tipo de pago
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.tipoPago }}</td>
            </ng-container>

            <!-- Valor Ingreso -->
            <ng-container matColumnDef="valorTipoPago">
                <th scope="row" mat-header-cell *matHeaderCellDef 
                    class="text-list list-beneficiarie valor">
                    Valor tipo de pago
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.valorTipoPago | currency }}</td>
            </ng-container>

            <!-- Valor Ingreso -->
            <ng-container matColumnDef="subtotalGirado">
                <th scope="row" mat-header-cell *matHeaderCellDef 
                    class="text-list list-beneficiarie valor">
                    Subtotal girado
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.subtotalGirado | currency }}</td>
            </ng-container>

            <!-- Valor Ingreso -->
            <ng-container matColumnDef="tipoCuenta">
                <th scope="row" mat-header-cell *matHeaderCellDef 
                    class="text-list list-beneficiarie valor">
                    Tipo de cuenta
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.tipoCuenta }}</td>
            </ng-container>

            <!-- Valor Ingreso -->
            <ng-container matColumnDef="cuentaEncargo">
                <th scope="row" mat-header-cell *matHeaderCellDef 
                    class="text-list list-beneficiarie valor">
                    Número de cuenta / Encargo
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.cuentaEncargo }}</td>
            </ng-container>

            <!-- Valor Ingreso -->
            <ng-container matColumnDef="entidadBancariaFideicomiso">
                <th scope="row" mat-header-cell *matHeaderCellDef 
                    class="text-list list-beneficiarie valor">
                    Entidad bancaria / Fideicomiso
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.entidadBancariaFideicomiso }}</td>
            </ng-container>

            <!-- Valor Ingreso -->
            <ng-container matColumnDef="codigoBanco">
                <th scope="row" mat-header-cell *matHeaderCellDef 
                    class="text-list list-beneficiarie valor">
                    Código de banco
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.codigoBanco }}</td>
            </ng-container>

            <!-- Ver mas Column -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>
    <div class="mt-20">
       <app-pagination (paginaEmitter)="goToPage($event)" [page]="page" [totalPages]="totalPages"
            [numElementos]="numElementos" [resultsLength]="resultsLength"></app-pagination>
    </div>            

    <div class="contenedor mt-26">
        <div class="bt-contenedor contenido botonRegresar">
            <div class="div-left mb-46">
                <button mat-button class="bt-cancelar-gray" (click)="regresar()">
                    <span class="text text-15 color_white text-2lines">REGRESAR</span>
                </button>
            </div>

            <div class="div-right mb-46 botonContinuar">
                <button mat-button class="bt-actions-red" color="primary" (click)="generarArchivo()">
                    <span class="text text-15 color_white text-2lines">ACEPTAR Y CONTINUAR</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="mt-26" *ngIf="!vistaListarTitulares">
    <app-pago-lista-ingresos-gastos></app-pago-lista-ingresos-gastos>
</div>