.bt-cancelar-gray {
    width: 13rem;
    border-radius: 4px;
    box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--battleship-gray);
    display: flex;
    justify-content: center;
    align-content: center;
    height: 36px;
    color: white;
    font-weight: bold;
}

.text-2lines {
    line-height: 1.2;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.text-15 {
    font-size: 1.5rem;
}

.text-20 {
    font-size: 2rem;
}

.text-align-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.contenedor {
    /*display: flex;*/
    align-items: center;
}

.contenido {
    margin: 0 auto;
    /* requerido para alineación horizontal */
}

.contenedor-titulo {
    display: flex;
    justify-content: space-around;
}

.color_white {
    color: white;
    font-weight: bold;
}

table {
    width: 100%;
}

.nombre {
    padding-left: 21px;
}

.tipodocumento {
    padding-left: 35px;
}

.numerodoc {
    padding-left: 62px;
}

.porcentaje {
    padding-left: 57px;
}

.separacionBoton {
    padding-right: 40px;
}

.conteniendoBoton {
    padding-bottom: 22px;
    padding-left: 7px;
    padding-top: 5px;
}

.checkbox {
    padding-bottom: 10px;
    padding-left: 12px;
}

.mensajeError {
    color: #DC051C;
    font-weight: 400;
    position: absolute;
    /* top: 124px;*/
    padding-left: 60px;
}

.mensajediferente {
    color: #DC051C;
    font-weight: 400;
    position: absolute;
    /* top: 124px;*/
    padding-left: 60px;
}

.posicionMensaje {
    padding-right: 726px;
}

.contenido-img {
    float: left;
    text-align: center;
}

.img-50 {
    padding-right: 19px;
    width: 36px;
    height: 36px;
    position: relative;
    top: 10px;
    left: 18px;
}

.mensajecien {
    right: 155px;
    bottom: 31px !important;
    position: relative !important;
    align-content: left!important;
    color: #DC051C !important;
}

.divCien {
    position: relative !important;
    right: 182px !important;
}

.bt-contenedor {
    line-height: 100px;
}

.paddingCampo {
    padding-left: 186px;
}

.mt-56 {
    margin-top: 6.6rem;
}

.mt-46 {
    margin-top: 4.6rem;
}

.mt-36{
    margin-top: 3.6rem;
}

.mt-26{
    margin-top: 2.6rem;
}

.mt-16{
    margin-top: 1.6rem;
}

.ubicacionRetencion{
        position: relative;
        left: 36px;
}

.botonRojo {
    position: relative;
    left: 167px;
    bottom: 54px;
}

.bt-actions-red-buscar {
    border-radius: 4px;
    box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--pinkish-red);
    justify-content: center;
    align-content: center;
    min-height: 36px;
    color: white;
    font-weight: bold;
}

.bt-actions-red {
    width: 13rem;
    border-radius: 4px;
    box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--pinkish-red);
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 36px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.ubicacionBoton {
    margin-top: 76px;
    margin-left: 314px;
    margin-bottom: 48px;
}

.nombreNegocioLabel {
    position: relative;
    top: 27px;
}

.organizacionForm {
    margin: 0px 30px 0px 30px;
}

.divTable {
    display: table;
    width: 100%;
}

.divTableRow {
    display: table-row;
}

.divTableCell,
.divTableHead {
    display: table-cell;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.tipoNegocio {
    width: 50%!important;
}

.divTableBody {
    display: table-row-group;
}

.mat-dialog-content {
    display: block;
    margin: 0 24px;
    padding: 0 24px 24px 0;
    /* max-height: 65vh; */
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.nombreApellido{
        padding-left: 32px;
        padding-right: 39px;
}

.tipoDocumento {
    padding-left: 5px;
    padding-right: 8px;
}

.numeroDocumento{
    padding-right: 45px;
    padding-left: 18px;
}

.tipoTercero{
        padding-right: 67px;
}

.valorComision{
    padding-left: 65px;
    padding-right: 53px;
}

.numeroRadicado{
     padding-left: 43px;
}

.botonAgregar{
    padding-right: 11px;
    padding-top: 33px;
}


.botonEliminacion{
    position: relative;
    left: 3px;
}

.campoTipoNegocio {
    position: relative;
    right: 121px;
}


.ubicacionBotonAñadir {
    padding-left: 283px;
    position: relative;
    bottom: 18px;
}

.ubicacionBotonGastos {
    position: relative;
    left: 3px;
    bottom: 33px;
}

.botonTipoNegocio{
    position: relative;
    bottom: 26px;
    left: 3px;
}

.costoUbicacion{
        position: relative;
        right: 537px;
}

.retencionUbicacion{
        position: relative;
        left: 83px;
}

.elTituloNegocio{
    position: relative;
    left: 7px;
    bottom: 7px;
}

.gastosNegocio {
    position: relative;
    left: 6px;
    bottom: 25px;
}

.nombreCampoGasto{
    position: relative;
}
.campoGasto {
    position: relative;
    left: 100px;
}

.campoGastoEspecial{
    position: relative;
    left: 50px;
    /*right:26px;*/
}

.periodicidad {
    position: relative;
    left: 29px;
}

.fechaPago{
    position: relative;
    left: 78px;
}


.tipoEvento {
    position: relative;
    left: 30px;
}

.fechaRegistro {
    position: relative;
    left: 58px;
}

.fechaInicial {
    position: relative;
    left: 85px;
}

.elBotonDeAceptar{
        position: relative;
        bottom: 25px;
}

.fic{
    position: relative;
    left: 130px;
}

.valor{
    position: relative;
    left: 30px;  
}