<div class="text">
    <div class="contenedor">
        <div class="contenido">
            <div class="contenedor-titulo">
                <mat-label mat-dialog-title class="text-20 text-bold"> <span>Evento jurídico</span></mat-label>
            </div>
        </div>
        <div mat-dialog-content>
            <form [formGroup]="eventoForm">
                <div class="divTable">
                        <div class="divTableBody">
                            <div class="gastos">
                                <div class="divTableRow">
                                    <div class="divTableCell">
                                        <mat-form-field >
                                            <mat-label>Código del evento</mat-label>
                                            <input type="text" matInput formControlName="codigoEvento" readonly/>
                                        </mat-form-field>
                                    </div>
                                    <div class="divTableCell tipoEvento">
                                        <mat-form-field >
                                            <mat-label>Tipo de Evento</mat-label>
                                            <input type="text" matInput formControlName="tipoEvento"readonly/>
                                        </mat-form-field>
                                    </div>
                                    <div class="divTableCell fechaRegistro">
                                        <mat-form-field >
                                            <mat-label>Fecha de registro</mat-label>
                                            <input type="text" matInput formControlName="fechaRegistro" readonly/>
                                        </mat-form-field>
                                    </div> 
                                    <div class="divTableCell fechaInicial">
                                        <mat-form-field >
                                            <mat-label>Fecha inicial</mat-label>
                                            <input type="text" matInput formControlName="fechaInicial" readonly/>
                                        </mat-form-field>
                                    </div>  
                                </div>
                                <div class="divTableRow">
                                    <div class="divTableCell">
                                        <mat-form-field >
                                            <mat-label>Fecha final</mat-label>
                                            <input type="text" matInput formControlName="fechaFinal" readonly/>
                                        </mat-form-field>
                                    </div>
                                    <div class="divTableCell tipoEvento">
                                        <mat-form-field >
                                            <mat-label>Usuario que registra</mat-label>
                                            <input type="text" matInput formControlName="usuarioRegistro"readonly/>
                                        </mat-form-field>
                                    </div>
                                    <div class="divTableCell fechaRegistro">
                                        <mat-form-field >
                                            <mat-label>Oficina de registro</mat-label>
                                            <input type="text" matInput formControlName="oficinaRegistro" readonly/>
                                        </mat-form-field>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    
                    </div>
            </form>
        </div>
    </div> 
  <div mat-dialog-actions class="contenedor elBotonDeAceptar">
        <div class="bt-contenedor contenido">
            <div class="ml-10 mr-10 div-right">
                <button mat-button class="bt-cancelar-gray" mat-stroked-button [mat-dialog-close]="data.buttonCancelar"
                cdkFocusInitial>
                <span class="text text-15 color_white">{{ data.buttonAceptar }}</span>
            </button>
            </div>
        </div>
    </div>  
</div>    