<div *ngIf="!historial_modificaciones">    
    <div class="container-form">
        <div class="mt-56 w-700 pl-50">
            <div *ngIf="ver_historial_modificaciones" class="display-online">
                <button type="submit" class="bt-actions-red" color="primary" (click)="verHistorialModificaciones()">
                    <span
                        class=" text text-15 color_white">{{'negocio_historial.bt_historial_modificaciones' | translate }}
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>    

