<div class="text">
    <div class="contenedor">
        <div class="contenido">
            <div class="contenedor-titulo">
                <span  class="material-icons checkDone">
                    check_circle_outline
                </span>
            </div>
            <div class="contenedor-titulo">
                <mat-label mat-dialog-title class="text-20 text-bold">{{'sincronizacion_exitosa.exito' | translate }}
                </mat-label>
            </div>
        </div>
    </div>
    <div mat-dialog-actions class="contenedor botonCentrar">
        <div class="bt-contenedor contenido">
            <div class="ml-10 mr-10 div-right ubicacionBottom">
                <button mat-button class="bt-actions-red" color="primary" mat-stroked-button
                    [mat-dialog-close]="data.buttonAceptar" cdkFocusInitial>
                    <span class="text text-15 color_white text-2lines"> {{data.buttonAceptar}}</span>
                </button>
            </div>
        </div>
    </div>
</div>