<div *ngIf="iniciarPestanaVinculado != 1">        
    <div class="mt-56">
        <div *ngIf="iniciarPestanaVinculado == 2">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="h-30">
            <mat-button-toggle disabled clase="h-30">{{tipoDocumento}} {{numeroDocumento}}
            </mat-button-toggle>
            <mat-button-toggle disabled clase="h-30">{{inAnoGrabable}}
            </mat-button-toggle>
            <mat-button-toggle disabled clase="h-30">{{inTipoCertificado}}
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>

<div *ngIf="!verMas" class="text ">

    <div class="container-form">
        <form [formGroup]="buscarNegociosForm" novalidate>
            <div *ngIf="!subBusqueda">
            <mat-form-field class="mr-60">

                <mat-label>{{'certificados.tipo_reporte' | translate }}</mat-label>
                <mat-select formControlName="tiposCertificado" (selectionChange)="setTipoCertificado($event.value)">
                    <mat-option *ngFor="let t of tiposCertificado" [value]="t.value">
                        {{ t.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        
            <mat-form-field class="mr-60">
                <mat-label>{{'certificados.ano_grabable' | translate }}</mat-label>                  
                <mat-select formControlName="anoGrabable" (selectionChange)="setAnoSeleccionado($event.value)">
                    <mat-option *ngFor="let year of listAnoSelect" [value]="year.value">
                        {{ year.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
            <mat-form-field class="mr-60">
                <mat-label>{{'negocio.filtrar_por' | translate }}</mat-label>
                <mat-select formControlName="selectCriterio" (selectionChange)="resetTables()">
                    <mat-option *ngFor="let criterio of selectCriterio" [value]="criterio.value">
                        {{ criterio.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="mw-400">
                <mat-label>{{'negocio.buscar' | translate }}</mat-label>
                <input matInput placeholder="Buscar" maxlength="100" formControlName="argumento" type="text" required
                    autocomplete="off" />
            </mat-form-field>

            <div class="text-right">
                <span class="display-inline-block">
                    <span class="div-left">
                        <button type="submit" class="bt-actions-red" color="primary" (click)="limpiarformulario()">
                            <span
                                class="text text-15 color_white">{{'beneficiario_historial_pagos.bt_limpiar' | translate }}
                            </span>
                        </button>
                    </span>
                    <span class="div-right">
                        <button type="submit" class="bt-actions-red" color="primary" (click)="enviarDatos()">
                            <span
                                class="text text-15 color_white">{{'beneficiario_historial_pagos.bt_buscar' | translate }}
                            </span>
                        </button>
                    </span>
                    <span class="div-right" *ngIf="iniciarPestanaVinculado==2">
                        <button type="submit" class="bt-actions-red" color="primary" (click)="Regresar()">
                            <span
                                class="text text-15 color_white">Regresar
                            </span>
                        </button>
                    </span>
                </span>
            </div>
        </form>
    </div>

    <div *ngIf="dataNotFound" id="dataNotFound">
        <img src="assets/svg/icons/warning.svg" alt="warning" />
        <mat-label class="text-error text-content text-warning">{{'negocio.sin_resultado' | translate }}</mat-label>
    </div>

    <div *ngIf="dataFound" id="dataFound">

        <div class="text">
            <table mat-table [dataSource]="dataSource" matSort>
                <caption></caption>
                <!-- Nombres y apellidos Column -->
                <ng-container matColumnDef="nombre">
                    <th scope="row " mat-header-cell *matHeaderCellDef mat-sort-header
                        class="text-list list-beneficiarie">
                        {{'negocio.nombre_negocio' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
                </ng-container>

                <!-- Tipo de documento Column -->
                <ng-container matColumnDef="codigoSFC">
                    <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                        class="text-list list-beneficiarie">
                        {{'negocio.codigo_sfc' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.codSFC }}</td>
                </ng-container>

                <!-- Número de documento Column -->
                <ng-container matColumnDef="codigoInterno">
                    <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                        class="text-list list-beneficiarie">
                        {{'negocio.codigo_interno' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.codigoInterno }}</td>
                </ng-container>

                <!-- Ver mas Column -->
                <ng-container matColumnDef="id">
                    <th scope="row" mat-header-cell *matHeaderCellDef>
                        <span *ngIf="iniciarPestanaVinculado==2">

                        <mat-checkbox class="todos" (change)="$event ? masterToggle() : null; seleccionarTodos()"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                      > {{'certificados.seleccionar_todos' | translate }}
                    </mat-checkbox>
                    </span>
                    </th>
                    <td mat-cell *matCellDef="let row" class="mat-cell-center">
                        <div *ngIf="true" class="text text-list buscar-detalle-benficiario"
                            (click)="mostrarSubbusqueda(row.codSFC, row.nombre)">

                            <div *ngIf="!subBusqueda">
                                <p><img class="img-buscar-beneficiario" src="assets/svg/icons/searchred.svg"
                                        alt="warning" /> {{'negocio.ver_mas' | translate }}</p>

                            </div>
                        </div>
                        <div *ngIf="subBusqueda">
                            <p>
                                <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null ; administrarEscogidos(row)"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                                    {{'certificados.generar' | translate }}</mat-checkbox>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

            <div class="mt-20">
                <app-pagination (paginaEmitter)="goToPage($event)" [page]="page" [totalPages]="totalPages"
                    [numElementos]="numElementos" [resultsLength]="resultsLength"></app-pagination>
            </div>
        </div>
    </div>
    <div *ngIf="selected()" class="boton">
        <button class="btn-generar-certificados" (click)="verificarSeleccion()">
            {{'certificados.generar_certificados' | translate }}</button>
    </div>

</div>
<div *ngIf="verMas">
    <app-certificados-vinculados 
    [subBusqueda]="verMas" 
    [codNegocio]="negocioDetalle"
    [anoGrabable]="periodoSeleccionado"
    [tipoCertificado]="certificadoSeleccionado"></app-certificados-vinculados>
</div>

</div>

<div *ngIf="iniciarPestanaVinculado == 1">
    <app-certificados-vinculados></app-certificados-vinculados>
</div>
