<div class="mt-40 input-disabled">{{itemRol.rol}}</div>
<form [formGroup]="dynamicForm">
  <div formGroupName="listaFuncionalidades">
    <div formArrayName="funcionalidades">
      <table>
        <caption></caption>
        <div *ngFor="
            let itemPerfil of dynamicForm.get(
              'listaFuncionalidades.funcionalidades'
            )['controls'];
            let i = index
          ">
          <div [formGroupName]="i" class="container">
            <tr>
              <td>
                <div class="w-30"></div>
              </td>
              <td class="w-40p">
                <div class="perfil-funcionalidad ml-50">
                  <span class="align-icon" *ngIf="editing">
                    <mat-icon class="div-button material-icons color_gray"
                      (click)="removeFromPerfilFormArray(i, itemRol.idRol)">
                      remove_circle</mat-icon>
                  </span>
                  <span>
                    <mat-form-field class="perfil-funcionalidad capitalize" *ngIf="!editing">
                      <input class="capitalize" matInput formControlName="funcionalidad" placeholder="" readonly />
                    </mat-form-field>
                    <mat-form-field class="perfil-funcionalidad capitalize" *ngIf="editing">
                      <mat-select placeholder="" name="funcionalidad" formControlName="idFuncionalidad"
                        (selectionChange)="almacenarMemoria()">
                        <mat-option>Selecciona</mat-option>
                        <mat-optgroup *ngFor="let group of menuGroup" [label]="group.opcion"
                          [disabled]="group.disabled">
                          <mat-option *ngFor="let item of group.funcionalidades" [value]="item.idFuncionalidad">
                            <span class="capitalize">{{item.funcionalidad}}</span>
                          </mat-option>
                        </mat-optgroup>
                      </mat-select>
                    </mat-form-field>

                  </span>
                </div>
              </td>
              <td class="w-30p">
                <div class="pl-5">
                  <mat-form-field class="perfil-permiso">
                    <mat-select placeholder="" [disabled]="!editing" name="permiteEscribir"
                      formControlName="permiteEscribir" (selectionChange)="almacenarMemoria()">
                      <mat-option *ngFor="let item of permisoList" [value]="item.value">
                        {{ item.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </td>
            </tr>
          </div>
        </div>
        <table>
          <caption></caption>
          <tr>
            <td>
              <div class="w-28"></div>
            </td>
            <td>
              <div class="w-28"></div>
            </td>
            <td>
              <div class="w-28">
                <label *ngIf="editing">
                  <div class="div-button float-right" (click)="addToPerfilFormArray(itemRol.idRol, itemRol.rol)">
                    <div>
                      <div class="div-left">
                        <mat-icon class="div-button material-icons color_gray">add_circle</mat-icon>
                      </div>
                      <div class="div-right">
                        Añadir funcionalidad
                      </div>
                    </div>
                  </div>
                </label>
              </div>
            </td>
          </tr>
        </table>
      </table>
    </div>
  </div>
</form>