<div class="text">
  <div class="contenedor">
    <div class="contenido">
      <div class="contenedor-titulo">
        <div>
          <mat-label mat-dialog-title class="text-20 text-bold">
            {{data.titulo}}
          </mat-label>
        </div>
      </div>
    </div>
  </div>
  <div class="contenedor">
    <div mat-dialog-content class="contenido text-align-center">
      <form [formGroup]="buscarDirectivoForm" (ngSubmit)="enviarDatos()" novalidate>
        <mat-form-field class="mr-60">
          <mat-label>{{'buscarDirectiva.filtrar_por' | translate }}</mat-label>
          <mat-select formControlName="selectCriterio" (selectionChange)="resetTables()">
            <mat-option *ngFor="let criterio of selectCriterio" [value]="criterio.value">
              {{ criterio.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="mw-400">
          <mat-label>{{'buscarDirectiva.buscar' | translate }}</mat-label>
          <input matInput placeholder="Buscar" maxlength="100" formControlName="argumento" type="text" required />
        </mat-form-field>
        <button mat-button type="submit">
          <mat-icon matSuffix svgIcon="search" type="submit"></mat-icon>
        </button>
      </form>
      <div *ngIf="dataNotFound" id="dataNotFound_directivo">
        <img class="w-5" src="assets/svg/icons/warning.svg" alt="warning" />
        <mat-label class="text-error text-content text-warning">{{'buscarDirectiva.sin_resultado' | translate }}
        </mat-label>
      </div>

      <div *ngIf="dataFound" id="dataFound">

        <div class="text">
          <table mat-table [dataSource]="dataSource" matSort class="w-100"><caption></caption>
            <!-- Nombres y apellidos Column -->
            <ng-container matColumnDef="name">
              <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header class="text-list list-beneficiarie">
                {{'buscarDirectiva.nombres_apellidos' | translate }}
              </th>
              <td mat-cell *matCellDef="let row">{{ row.nombreCompleto }}</td>
            </ng-container>

            <!-- Tipo de documento Column -->
            <ng-container matColumnDef="documentType">
              <th scope="row" row mat-header-cell *matHeaderCellDef mat-sort-header class="text-list list-beneficiarie">
                {{'buscarDirectiva.tipo_documento' | translate }}
              </th>
              <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.tipoDocumento }}</td>
            </ng-container>

            <!-- Número de documento Column -->
            <ng-container matColumnDef="documentNumber">
              <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header class="text-list list-beneficiarie">
                {{'buscarDirectiva.numero_documento' | translate }}
              </th>
              <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.numeroDocumento }}</td>
            </ng-container>

            <!-- rol Column -->
            <ng-container matColumnDef="rolTercero">
              <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header class="text-list list-beneficiarie">
                {{'buscarDirectiva.rol_tercero' | translate }}
              </th>
              <td mat-cell *matCellDef="let row" class="mat-cell-center">
                <mat-form-field class="benef-cambio-campo top-1rem ">
                  <mat-select placeholder="" name="rolDirectivo" (selectionChange)="agregarRol($event, row)">
                    <mat-option *ngFor="let rol of listRoles" [value]="rol.descripcion">{{ rol.descripcion }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </ng-container>

            <ng-container matColumnDef="isDirectivo">
              <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header></th>
              <td mat-cell *matCellDef="let row" class="mat-cell-center">
                <section>
                  <mat-checkbox class="text text-list checkbox-margin" (click)="$event.stopPropagation()"
                    (change)="agregarMesaDirectiva(row)" [checked]="row.isDirectivo" [(ngModel)]="row.isDirectivo">
                    <span *ngIf="tipoRolMesaDirectiva">{{'buscarDirectiva.mesa_directiva' | translate }}</span>
                    <span *ngIf="tipoRolExplositor">{{'buscarDirectiva.expositor' | translate }}</span>
                  </mat-checkbox>
                </section>
              </td>
            </ng-container>

            <ng-container matColumnDef="id">
              <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header></th>
              <td mat-cell *matCellDef="let row" class="mat-cell-center">

              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <div class="mt-20">
            <app-pagination (paginaEmitter)="goToPage($event)" [page]="page" [totalPages]="totalPages"
              [numElementos]="numElementos" [resultsLength]="resultsLength"></app-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div mat-dialog-actions class="contenedor">
    <div class="bt-contenedor contenido">
      <div class="ml-10 mr-10 div-left">
        <button mat-button class="bt-cancelar-gray" mat-stroked-button cdkFocusInitial>
          <span class="text text-15 color_white text-2lines"
            (click)="cerrarDialog()">{{'buscarDirectiva.bt_cancelar' | translate }} </span>
        </button>
      </div>
      <span *ngIf="guardarBotton">
        <div class="ml-10 mr-10 div-right">
          <button mat-button class="bt-actions-red" color="primary" mat-stroked-button (click)="guardarDirectivo()"
            cdkFocusInitial>
            <span class="text text-15 color_white text-2lines">{{'buscarDirectiva.bt_anadir' | translate }}</span>
          </button>
        </div>
      </span>
      <span *ngIf="!guardarBotton">
        <div class="ml-10 mr-10 div-right">
          <button mat-button [disabled]="true" class="bt-cancelar-gray" color="primary" mat-stroked-button
            cdkFocusInitial>
            <span class="text text-15 color_white text-2lines">{{'buscarDirectiva.bt_anadir' | translate }}</span>
          </button>
        </div>
      </span>
    </div>
  </div>
</div>