.bt-contenedor {
  line-height: 100px;
}
.bt-aceptar {
  width: 10rem;
  height: 2.8rem;
  border-radius: 4px;
  box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--pinkish-red);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.bt-cancelar-gray {
  width: 13rem;
  border-radius: 4px;
  box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--battleship-gray);
  display: flex;
  justify-content: center;
  align-content: center;
  height: 36px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.bt-actions-red {
  width: 13rem;
  border-radius: 4px;
  box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--pinkish-red);
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 36px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.text-15 {
  font-size: 1.5rem;
}

.text-20 {
  font-size: 2rem;
}

.text-align-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.contenedor {
  display: flex;
  align-items: center;
}
.contenido {
  margin: 0 auto; /* requerido para alineación horizontal */
}
.contenedor-titulo {
  display: flex;
  justify-content: space-around;
}
.contenido-img {
  float: left;
  text-align: center;
}
.img-50 {
  width: 50px;
  height: 50px;
}

#dataNotFound_directivo img {
  vertical-align: middle;
  width: 8.12rem;
  height: 7.29rem;
  padding-right: 7.98rem;
}
.w-5 {
  width: 5rem;
  margin-right: 2rem;
}

.w-100 {
  width: 100rem;
}