<div *ngIf="ver_negocios_historial_pagos">
    <div class="container-form mt-40">
        <mat-label>{{'negocioPagosDistribucion.historial_pagos' | translate }}</mat-label>
    </div>

    <div class="mt-26">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>{{'negocio_historial_pagos_distribucion.encargo_debitado' | translate }}:</mat-label>
                <input matInput disabled [value]="tipoNegocio">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>{{'negocio_historial_pagos_distribucion.perido_pago' | translate }}:</mat-label>
                <input matInput disabled [value]="periodo">
            </mat-form-field>
        </form>
    </div>

    <div id="dataNotFound" class="display-inline-block" style="display:none;">
        <img src="assets/svg/icons/warning.svg" alt="warning" />
        <mat-label class="text-error text-content text-warning">
            {{'negocio_historial_pagos_distribucion.sin_resultado' | translate }}
        </mat-label>
    </div>


    <div class="display-inline-block" id="dataFound" style="display:none;">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro:" />
        </mat-form-field>

        <div class="container-form container-form-table mt-63 mb-46">
            <div class="table-contenido">
                <div class="example-container mat-elevation-z8 text-align-center">
                    <table mat-table [dataSource]="dataSource">
                        <caption></caption>

                        <!-- nombreTitular Column -->
                        <ng-container matColumnDef="nombreTitular">
                            <th scope="col" mat-header-cell class="mat-th-titular" *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.nombreTitular' | translate }} </th>
                            <td class="mat-td-titular" *matCellDef="let element"> {{element.nombreTitular}} </td>
                        </ng-container>

                        <!-- tipoDocumentoTitular Column -->
                        <ng-container matColumnDef="tipoDocumentoTitular">
                            <th scope="col" mat-header-cell *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.tipoDocumentoTitular' | translate }}
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.tipoDocumentoTitular}} </td>
                        </ng-container>

                        <!-- numeroDocumentoTitular Column -->
                        <ng-container matColumnDef="numeroDocumentoTitular">
                            <th scope="col" mat-header-cell *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.numeroDocumentoTitular' | translate }} </th>
                            <td mat-cell *matCellDef="let element"> {{element.numeroDocumentoTitular}} </td>
                        </ng-container>

                        <!-- porcentajeParticipacionTitular Column -->
                        <ng-container matColumnDef="porcentajeParticipacionTitular">
                            <th scope="col" mat-header-cell *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.porcentajeParticipacionTitular' | translate }}
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.porcentajeParticipacionTitular}} </td>
                        </ng-container>

                        <!-- numeroDerechoFiduciarios Column -->
                        <ng-container matColumnDef="numeroDerechoFiduciarios">
                            <th scope="col" mat-header-cell *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.numeroDerechoFiduciarios' | translate }}
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.numeroDerechoFiduciarios}} </td>
                        </ng-container>

                        <!-- nombreBeneficiario Column -->

                        <ng-container matColumnDef="nombreBeneficiario">
                            <th scope="col" mat-header-cell class="mat-th-titular" *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.nombreBeneficiario' | translate }} </th>
                            <td class="mat-td-titular" *matCellDef="let element"> {{element.nombreBeneficiario}}
                            </td>
                        </ng-container>

                        <!-- tipoDocumentoBeneficiario Column -->
                        <ng-container matColumnDef="tipoDocumentoBeneficiario">
                            <th scope="col" mat-header-cell *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.tipoDocumentoBeneficiario' | translate }}
                            </th>
                            <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.tipoDocumentoBeneficiario}} </td>
                        </ng-container>

                        <!-- numeroDocumentoBeneficiario Column -->
                        <ng-container matColumnDef="numeroDocumentoBeneficiario">
                            <th scope="col" mat-header-cell *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.numeroDocumentoBeneficiario' | translate }}
                            </th>
                            <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.numeroDocumentoBeneficiario}} </td>
                        </ng-container>

                        <!-- fechaGiro Column -->
                        <ng-container matColumnDef="fechaGiro">
                            <th scope="col" mat-header-cell *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.fechaGiro' | translate }}
                            </th>
                            <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.fechaGiro}} </td>
                        </ng-container>

                        <!-- porcentajeGiro Column -->
                        <ng-container matColumnDef="porcentajeGiro">
                            <th scope="col" mat-header-cell *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.porcentajeGiro' | translate }}
                            </th>
                            <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.porcentajeGiro}} </td>
                        </ng-container>

                        <!-- porcentajeDistribuido Column -->
                        <ng-container matColumnDef="porcentajeDistribuido">
                            <th scope="col" mat-header-cell *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.porcentajeDistribuido' | translate }}
                            </th>
                            <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.porcentajeDistribuido}} </td>
                        </ng-container>

                        <!-- valorAGirar Column -->
                        <ng-container matColumnDef="valorAGirar">
                            <th scope="col" mat-header-cell *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.valorAGirar' | translate }} </th>
                            <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.valorAGirar}} </td>
                        </ng-container>

                        <!-- tipoPago Column -->
                        <ng-container matColumnDef="tipoPago">
                            <th scope="col" mat-header-cell *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.tipoPago' | translate }} </th>
                            <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.tipoPago}} </td>
                        </ng-container>

                        <!-- valorTipoPago Column -->
                        <ng-container matColumnDef="valorTipoPago">
                            <th scope="col" mat-header-cell *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.valorTipoPago' | translate }} </th>
                            <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.valorTipoPago}} </td>
                        </ng-container>

                        <!-- subTotalGirados Column -->
                        <ng-container matColumnDef="subTotalGirados">
                            <th scope="col" mat-header-cell *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.subtotalGirados' | translate }}
                            </th>
                            <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.subTotalGirados}} </td>
                        </ng-container>

                        <!-- tipoCuenta Column -->
                        <ng-container matColumnDef="tipoCuenta">
                            <th scope="col" mat-header-cell *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.tipoCuenta' | translate }} </th>
                            <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.tipoCuenta}} </td>
                        </ng-container>

                        <!-- entidadBancariaFidecomiso Column -->
                        <ng-container matColumnDef="entidadBancariaFidecomiso">
                            <th scope="col" mat-header-cell *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.entidadBancariaFidecomiso' | translate }}
                            </th>
                            <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.entidadBancariaFidecomiso}} </td>
                        </ng-container>

                        <!-- codigoEntidadBancaria Column -->
                        <ng-container matColumnDef="codigoEntidadBancaria">
                            <th scope="col" mat-header-cell *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.codigoEntidadBancaria' | translate }}
                            </th>
                            <td mat-cell class="mat-td-left" *matCellDef="let element"> {{element.codigoEntidadBancaria}} </td>
                        </ng-container>

                        <!-- estadoPago Column -->

                        <ng-container matColumnDef="estadoPago">
                            <th scope="col" mat-header-cell *matHeaderCellDef>
                                {{'negocio_historial_pagos_distribucion.estadoPago' | translate }} </th>
                            <td mat-cell class="mat-td-left" *matCellDef="let element">{{element.estadoPago}}
                            </td>
                        </ng-container>

                          <!-- Checkbox Column -->
                          <ng-container matColumnDef="select">
                            <th scope="col" mat-header-cell *matHeaderCellDef>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox (click)="$event.stopPropagation(); seleccionCheck(row)"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                    Rechazar pago
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="dataFoundBoton" class="text-center" style="display:none;">
        <div class="mt-63 mb-46 w-700 pl-50">
            <div class="display-online">
                <button type="submit" class="bt-actions-red" color="primary" (click)="descargarArchivo()">
                    <span
                        class="text text-15 color_white">{{'negocio_historial_pagos_distribucion.bt_descargar_archivo_pagos' | translate }}
                    </span>
                </button>
            </div>
            <div>
                <button *ngIf="check" type="submit" class="bt-actions-red" color="primary" (click)="reprocesarPagos()">
                    <span
                        class="text text-15 color_white">{{'negocio_historial_pagos_distribucion.bt_reprocesar_pagos' | translate }}
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>