@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: url('../src/assets/fonts/OpenSans-Regular.ttf'); /* IE9 Compat Modes */
  src: local('OpenSans'),
  url("../src/assets/fonts/OpenSans-Regular.ttf") format("truetype");    
}
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */
/* 1em = 10px */
:root {
  --black: #000000;
  --gray-white: #f8f8f8;
  --gray: #d1d3d4;
  --red: #f70000;
  --battleship-gray: #77787b;
  --pinkish-red: #ed1c24;
}
/* background-color: var(--gray-white); */
body,
html {
  height: 100%;
  margin: 0;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family:'Open Sans', sans-serif;
}
.basic-container {
  padding: 30px;
}
.text {
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 2.64rem;
}

.text-w500 {
  font-weight: 500;
}

.text-category {
  font-size: 2.6rem;
}

.text-content {
  font-size: 2rem;
}

.text-menu-select {
  font-size: 1.5rem;
}

.menuActiveDiv{
  font-size: 1.5rem;
  background-color: var(--battleship-gray); 
  border-radius: 1.5rem; 
}

.menuActive{
  font-size: 1.5rem;
}
.menuInactive{
  font-size: 1.7rem;
}
.text-list {
  font-size: 1.2rem;
}

.text-link {
  font-size: 1.2rem;
}
.text-error {
  color: var(--pinkish-red);
}

.capitalize {
  text-transform: capitalize;
}
.mb-menos18 {
  margin-top: -1.8rem;
}
.error-credencial {
  margin-top: -1rem;
  margin-bottom: 2rem;
}
.ml-20 {  
  margin-left: 2rem;
}

.ml-10 {  
  margin-left: 1rem;
}

.mr-10 {  
  margin-right: 1rem;
}

.mb-10 {  
  margin-bottom: 10rem;
}
#main {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
#main > div {
  float: left;
  margin: 1rem;
}
#d1 {
  width: 25%;
  height: 90%;
  padding: 1rem;
  border: 1px solid red;
}

#d2 {
  width: 65%;
  height: 90%;
  border: 1px solid blue;
}

#logo {
  width: 50%;
  /* height: 34%; */
  margin: 5%;
  border: 1px solid green;
}
#menu {
  width: 50%;
  height: 50%;
  border: 1px solid yellow;
  margin: 5%;
}

.container-body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 110%;
}

.container-body-bg-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0rem;
  width: 100%;
  height: 110%;
  background-image: url("./assets/img/roberta-doyle-dqmmx51pVf8-unsplash.jpg");
  background-size: cover;
  // size: initial;
}

.roberta-doyle-dqmmx51pVf8-unsplash {
  width: 1920px;
  height: 1080px;
  object-fit: contain;
}

.container-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}

.div-left{
  float: left;
}
.div-right{
  float: right;
}
.div-center{
  margin:0 auto; 
 display:inline-block
}

.contenedor-button {
  line-height: 150px;
  text-align: center; 
}
.contenido-button {
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  text-align: center; 
}

.bt-save-change {
  width: 319px;
  height: 45px;
  border-radius: 4px;
  box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--pinkish-red);
}

.bt-gris {
  width: 120px;
  height: 36px;
  border-radius: 4px;
  box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--battleship-gray);
}

.bt-rojo {
  width: 120px;
  height: 36px;
  border-radius: 4px;
  box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--pinkish-red);
}

.material-icons.color_gray { 
  color: var(--gray);
  margin-right: 1rem;
 }

.mat-checkbox.mat-accent {
  .mat-checkbox-frame {
    border: 1px solid dodger-blue;
  }

  &.mat-checkbox-checked .mat-checkbox-background {
    background-color: var(--gray);  
    border: 1px solid dodger-blue;
  }

  .mat-checkbox-checkmark-path {
    stroke: dodger-blue !important;
  }
}

 .color_white {
  color: var(--gray-white);
 }

 .color_gray {
  color: var(--gray);
 }

 .align-icon {
   float: inherit;
   padding-top: 1.5rem;
 }

.menu {
  width: 50%;
  height: 50%;
  border: 1px solid yellow;
  margin: 5%;
}

.card {
  max-width: 52rem;
  min-width: 28rem;
  height: 90%;
  padding-top: 2rem;
  /* background-color: red;*/
}

.mat-drawer {
  width: 30rem;  
  background-color: transparent;
}

.mat-card {
  background-color: transparent;
}

.mat-card-image-logo {
  position: initial; 
  width: 20rem;
  width: -moz-calc(100%  +32px);
  width: -webkit-calc(100% + 32px);
  margin: 0 -16px 16px -16px;
  display:block
}


.contenedor-div {
  position: relative;
  /* background-color: #d1d3d4; */
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px var(--silver);
  background-color: #f9f9f9;
  min-height: 50rem;
}

.abajo {
  color: var(--black);
  /* background: #000; */
  position: unset; /*El div será ubicado con relación a la pantalla*/
  left: 0px; /*A la derecha deje un espacio de 0px*/
  right: 0px; /*A la izquierda deje un espacio de 0px*/
  bottom: 0px; /*Abajo deje un espacio de 0px*/
  height: 50px; /*alto del div*/
  z-index: 0;
  border-bottom: inset;
  border-bottom-width: thin;
}

.abajo:hover {
  cursor: pointer;
  cursor: hand;
  background-color: var(--battleship-gray);
}

.color-gray {
  color: var(--gray);
}

.mat-drawer-container {
  position: absolute !important;
  display: contents !important;
}

.logo {
  width: 90%;
  /* height: 34%; */
  margin: 5%;
  /* border: 1px solid green;*/
}

.mat-drawer-inner-container {
  overflow: hidden !important;
}

.cls-1 {
  fill: #161615 !important;
}

.cls-2 {
  color: #ffffff !important;
}

.cls-3 {
  color: #d1d3d4 !important;
}

.main-contaniner {
  top: 0rem;
  bottom: 0rem;
  left: 2.5rem;
  right: 0rem;
  margin: 0rem;
  position: absolute;
  /*
  min-width: 86%;
  min-height: 83%;
  */
  background-size: cover;
  padding-left: 10rem;
  padding-top: 10rem;
}

.container-form{
  max-width: 100rem;
  padding-right: 10rem;
}
.main-div {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flow-root;
  max-width: 60%;
  min-width: 40rem;
  margin-top: 10rem;
  margin-left: 5rem;
}

.mr-20 {
  margin-right: 2rem;
}

.mr-60 {
  margin-right: 6rem;
}
.mw-400 {
  min-width: 40rem;
}

.text-warning {
  margin-left: 7.98rem;
}

#dataNotFound img {
  vertical-align: middle;
  width: 8.12rem;
  height: 7.29rem;
  padding-right: 7.98rem;
}

#dataNotFound {
  line-height: 18rem;
}

.table {
  width: 100%;
}

.th.mat-sort-header-sorted {
  color: black;
}

.mat-cell-center {
  text-align: center;
}

.buscar-detalle-benficiario {
  color: var(--red);
  min-width: 7rem;  
  cursor: pointer;
}

.img-buscar-beneficiario {
  width: 1.4rem;
}
.bt-beneficiario-distribucion {
  width: 21.5rem;
  height: 7.5rem;
}

#dataFound{
  max-width: 100%;
}

.list-beneficiarie {
    color: var(--black);
}

.mat-table {
  width: 90%;
}

.mat-paginator {
  padding-right: 9rem;
}

.mat-tab-group.mat-primary .mat-ink-bar {
  background-color: var(--red);
}

.mr-tab-icon {
  margin-right: 2.8rem;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 30px !important;
}

.h-30 {
  height: 3rem;
  line-height: 30px;
}

.beneficiario-datos-generales {
  margin-top: 6.3rem;
}

.mt-200 {
  margin-top: 10rem;
}

.mt-10 {
  margin-top: 1rem;
}

.mt-56 {
  margin-top: 5.6rem;
}

.mt-20 {
  margin-top: 2rem;
}

.mt-40 {
  margin-top: 4rem;
}

.top-1rem {
  top: -1rem;
}

.pl-5 {
  padding-left: 5rem;
}
.display-inblo {
  display: inline-block;
}


.magrin{
  width: 7rem;
}

.mw-360 {
  min-width: 36rem;
}

.mw-300 {
  min-width: 30rem;
}

.w-30p {
  width: 30%;
}

.w-30{
  width: 17rem;
}

.w-28{
  width: 24.5rem;
}
.w-41{
  width: 41rem;
}

.w-40p {
  width: 80%;
}

.benef-cambio {
  &-fecha {
    width: 90%;
  }
  &-campo {
    width: 90%;
  }
  &-dato {
    width: 90%;
  } 
  &-profesional {
    width: 90%;
  }
  &-radicado {
    width: 90%;
  }
  &-boton {
    width: 90%;
  }    
}

.param-gral-descrip {
  min-width: 25.5rem;
}

.param-gral-descrip-content {
  min-width: 25.5rem;
}

.param-gral-unidad-content {
  min-width: 10rem;
}

.param-gral-valor-content {
  min-width: 15rem;
}

.param-fecha-valor-content {
  min-width: 44rem;
}

.param-naturaleza-juridica-valor-content {
  min-width: 42rem;
}

.param-tipo-negocio-valor-content {
  min-width: 42rem;
}

.param-tipo-gasto-valor-content {
  min-width: 42rem;
}

.param-fecha-descrip {
  width: 55%;
}

.param-rol-descrip {
  width: 100%;
}

.param-fecha-valor {
  width: 45%;
}

.perfil-rol-descripcion {
  min-width: 28rem;
}

.perfil-rol {
  min-width: 25rem;
}

.perfil-funcionalidad {
  min-width: 25rem;
}

.perfil-funcionalidad-content {
  min-width: 35rem;
}

.perfil-permiso {
  min-width: 18rem;
}

.ml-80{
  margin-left: 8rem;
}

.ml-110{
  margin-left: 11rem;
}

.ml-50{  
  margin-left: 5rem;
}

.w-180{
  width: 18rem;
}

.div-table {
  display: table;         
  width: 100%;           
  border-spacing: 5px; /* cellspacing:poor IE support for  this */
  padding-bottom: 7rem;
}
.table_distribucion { 
  padding-bottom: 0;
}
.div-table-row {
  display: table-row;
  width: 100%;
  clear: both;
}

.div-table-col {  
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 50%; 

  &-2 {
    float: left;
    display: table-column;     
    width: 2%;
    padding-right: 1rem;
  }    
  &-11 {
    float: left;
    display: table-column;     
    width: 11%;
    padding-right: 1rem;
  }
  &-14 {
    float: left;
    display: table-column;     
    width: 14%;
    padding-right: 1rem;
  }
  &-16 {
    float: left; 
    display: table-column;         
    width: 16%; 
    padding-right: 1rem;        
    
  }
  &-25 {
    float: left; 
    display: table-column;         
    width: 25%; 
    padding-right: 1rem;            
  }
  &-45 {
    float: left; 
    display: table-column;         
    width: 45%; 
    padding-right: 1rem;        
    
  }
  
  /* background-color: #ccc;   */
}

.div-table-col-right {
  float: right; /* fix for  buggy browsers */
}

.mat-cell {
  border-bottom-width: inherit !important;
  min-width: 150px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-variant: normal;
  line-height: 2.64rem;
  
}

.mat-header-cell {
  min-width: 150px;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 2.64rem; 
  color: black;
}

.div-button {
  cursor: pointer;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.input-disabled {
  width: 202px;
  height: 30px;
  border-style: solid;
  border-width: 1px;
  color: var(--battleship-gray);
  border-color: var(--battleship-gray);
  background-color: var(--gray);
  border-radius: 5px;
  padding-left: 10px;
}

.invisible{
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
}
/* spinner */
.mat-spinner {
  position: relative;
  display: block;
  margin-left: 50%;
  margin-right: 50%;
}

.overlay {
  position:fixed;
  display:block;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color:rgba(74,74,74,.8);
  z-index:99999;
}
.spinner {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: var(--pinkish-red) !important;
}