<div *ngIf="asamblea_agregar" class="">
    <div class="container-form">

        <form [formGroup]="dynamicForm">
            <div class="mt-100">
                <div class="bt_left">
                    <mat-form-field>
                        <input matInput [max]="fechaLimite" [ngxMatDatetimePicker]="picker"
                            [placeholder]=placeholderFechaReunion [formControl]="dateControl" readonly>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
                    </mat-form-field>
                </div>
                <div class="bt_center">
                    <mat-form-field class="lugar-reunion">
                        <input matInput formControlName="direccionReunion" [placeholder]=placeholderLugarReunion
                            oninput="this.value = this.value.toUpperCase()"
                            autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
            <div class="mt-40">
                <mat-form-field class="mw-600">
                    <mat-label>{{'negocioAsambleasNuevaEntrada.orden_día' | translate }}</mat-label>
                    <textarea class="orden-dia" matInput formControlName="ordenDia"></textarea>
                </mat-form-field>
            </div>

            <!-- cargar archivo-->

            <div class="contenedor">
                <div *ngIf="filesNull" class="contenido div-left w-32">
                    <div>
                        <mat-form-field id="file-label" class="w-32">
                            <input matInput readonly [placeholder]=placeholderTipoArchivo value="">
                        </mat-form-field>
                    </div>
                    <span id="file-label">
                    </span>
                    <input type="file" id="fileUpload" name="fileUpload" multiple="multiple" accept="{{accept}}"
                        style="display:none;" />
                </div>

                <div *ngIf="!filesNull" class="contenido div-left w-32">
                    <ul>
                        <li *ngFor="let file of files" [@fadeInOut]="file.state">

                            <div>
                                <mat-form-field id="file-label" class="w-32">
                                    <input matInput readonly [placeholder]=placeholderTipoArchivo
                                        value={{file.data.name}}>
                                </mat-form-field>
                            </div>
                        </li>
                    </ul>
                    <input type="file" id="fileUpload" name="fileUpload" multiple="multiple" accept="{{accept}}"
                        style="display:none;" />

                </div>
                <div class="div-center">
                    <button mat-button class="bt-actions-red-cargar-archivo" color="primary" mat-stroked-button
                        (click)="subirArchivo()">
                        <span
                            class="text text-15 color_white">{{'negocioAsambleasNuevaEntrada.bt_cargar_archivo' | translate }}</span>
                    </button>
                </div>
            </div>

            <!-- -->

            <div class="decisiones-tomadas">
                <div class="mt-100">
                    <div class="div-left param-gral-descrip">
                        <mat-label>{{'negocioAsambleasNuevaEntrada.decisiones_tomadas' | translate }}</mat-label>
                    </div>
                    <div class="div-center param-gral-unidad ml-110">
                        <mat-label>{{'negocioAsambleasNuevaEntrada.responsable' | translate }}</mat-label>
                    </div>
                    <div class="div-right param-gral-valor ml-110">
                        <mat-label>{{'negocioAsambleasNuevaEntrada.quorum_aprobatorio' | translate }}</mat-label>
                    </div>
                </div>

                <div formArrayName="decisionTomada">
                    <div *ngFor="let itemDecisionTomada of decisionTomadaFormArray.controls; let i = index;">
                        <div [formGroupName]="i" class="container">
                            <div class="div-left">
                                <span class="align-icon">
                                    <mat-icon class="div-button material-icons color_gray"
                                        (click)="removeFromDecisionTomadaFormArray(i)">
                                        remove_circle</mat-icon>
                                </span>
                                <span>
                                    <mat-form-field class="param-gral-descrip-content">
                                        <textarea matInput formControlName="descripcion"
                                            [placeholder]=placeholderDecisionesTomada></textarea>
                                    </mat-form-field>
                                </span>
                                <span>
                                    <mat-form-field class="ml-40">
                                        <input matInput maxlength="50" formControlName="responsable"
                                            [placeholder]=placeholderResponsable
                                            oninput="this.value = this.value.toUpperCase()" 
                                            autocomplete="off" />
                                    </mat-form-field>
                                </span>
                            </div>
                            <div class="div-right ml-80">
                                <mat-form-field class="mt-15">
                                    <input matInput [readonly]="false" type="text" appTwoDigitDecimaNumber
                                        formControlName="quorumAprobatorio" maxlength="30"
                                        autocomplete="off"
                                        [placeholder]=placeholderQuorumAprobatorio />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="div-button float-right" (click)="addToDecisionTomadaFormArray()">
                    <div>
                        <div class="div-left">
                            <mat-icon class="div-button material-icons color_gray">add_circle</mat-icon>
                        </div>
                        <div class="div-right color_gray">
                            {{'negocioAsambleasNuevaEntrada.bt_anadir_otra' | translate }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="tareas-pendientes">
                <div class="mt-100">
                    <div class="div-left param-gral-descrip">
                        <mat-label>{{'negocioAsambleasNuevaEntrada.tareas_pendientes' | translate }}</mat-label>
                    </div>
                    <div class="div-center param-gral-unidad ml-110">
                        <mat-label>{{'negocioAsambleasNuevaEntrada.responsable' | translate }}</mat-label>
                    </div>
                    <div class="div-right param-gral-valor ml-110">
                        <mat-label>{{'negocioAsambleasNuevaEntrada.quorum_aprobatorio' | translate }}</mat-label>
                    </div>
                </div>

                <div formArrayName="tareaPendiente">
                    <div *ngFor="let itemTareaPendiente of tareaPendienteFormArray.controls; let i = index;">
                        <div [formGroupName]="i" class="container">
                            <div class="div-left">
                                <span class="align-icon">
                                    <mat-icon class="div-button material-icons color_gray"
                                        (click)="removeFromTareaPendienteFormArray(i)">
                                        remove_circle</mat-icon>
                                </span>
                                <span>
                                    <mat-form-field class="param-gral-descrip-content">
                                        <textarea matInput formControlName="descripcion"
                                            [placeholder]=placeholderTareaPendiente></textarea>
                                    </mat-form-field>
                                </span>
                                <span>
                                    <mat-form-field class="ml-40">
                                        <input matInput maxlength="50" formControlName="responsable"
                                            [placeholder]=placeholderResponsable
                                            autocomplete="off"
                                            oninput="this.value = this.value.toUpperCase()" />
                                    </mat-form-field>
                                </span>
                            </div>
                            <div class="div-right ml-80">
                                <mat-form-field class="mt-15">
                                    <input matInput [readonly]="false" type="text" appTwoDigitDecimaNumber
                                        formControlName="quorumAprobatorio" maxlength="30"
                                        autocomplete="off"
                                        [placeholder]=placeholderQuorumAprobatorio />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="div-button float-right" (click)="addToTareaPendienteFormArray()">
                        <div class="mt-15">
                            <div class="div-left">
                                <mat-icon class="div-button material-icons color_gray">add_circle</mat-icon>
                            </div>
                            <div class="div-right color_gray">
                                {{'negocioAsambleasNuevaEntrada.bt_anadir_otra' | translate }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-100">
                <mat-label>{{'negocioAsambleasNuevaEntrada.mesa_directiva' | translate }}</mat-label>
            </div>
            <div class="mt-20">
                <div class="div-left ml-30 param-mesa-directiva-descrip">
                    <mat-label>{{'negocioAsambleasNuevaEntrada.nombres' | translate }}</mat-label>
                </div>
                <div class="div-center ml-110 param-gral-unidad">
                    <mat-label>{{'negocioAsambleasNuevaEntrada.rol_tercero' | translate }}</mat-label>
                </div>
            </div>
            <div class="div-table-mesa-expositor">
                <div *ngFor="let item of mesaDirectiva; let i = index">
                    <div class="div-table-row">
                        <div class="div-table-col w-col-5p">
                            <span class="align-icon-mesa">
                                <mat-icon class="div-button material-icons color_gray"
                                    (click)="removeFromMesaDirectiva(item)">remove_circle
                                </mat-icon>
                            </span>
                        </div>
                        <div class="div-table-col w-col-65p">
                            <span class="div-left param-mesa-directiva-descrip border-button text-w500">
                                <mat-label>{{item.nombreCompleto}}</mat-label>
                            </span>
                        </div>
                        <div class="div-table-col w-col-30p">
                            <div class="div-center param-gral-unidad ml-110 border-button mw-10 text-w500">
                                <mat-label>{{item.rol}}</mat-label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-button float-right" (click)="openDialogBuscarDirectivo('mesaDirectiva')">
                <div>
                    <div class="div-left">
                        <mat-icon class="div-button material-icons color_gray">add_circle</mat-icon>
                    </div>
                    <div class="div-right color_gray">
                        {{'negocioAsambleasNuevaEntrada.bt_anadir_otra' | translate }}
                    </div>
                </div>
            </div>


            <div class="mt-100">
                <mat-label>{{'negocioAsambleasNuevaEntrada.expositores' | translate }}</mat-label>
            </div>
            <div class="mt-20">
                <div class="div-left ml-30 param-expositor-descrip">
                    <mat-label>{{'negocioAsambleasNuevaEntrada.nombres' | translate }}</mat-label>
                </div>
                <div class="div-center ml-110 param-gral-unidad">
                    <mat-label>{{'negocioAsambleasNuevaEntrada.rol_funcionario' | translate }}</mat-label>
                </div>
            </div>
            <div class="div-table-mesa-expositor">
                <div *ngFor="let item of listExpositor; let i = index">
                    <div class="div-table-row">
                        <div class="div-table-col w-col-5p">
                            <span class="align-icon-mesa">
                                <mat-icon class="div-button material-icons color_gray"
                                    (click)="removeFromExpositor(item)">remove_circle
                                </mat-icon>
                            </span>
                        </div>
                        <div class="div-table-col w-col-65p">
                            <div class="div-left param-gral-descrip-mesa-directiva border-button text-w500">
                                <mat-label>{{item.nombreCompleto}}</mat-label>
                            </div>
                        </div>
                        <div class="div-table-col w-col-30p">
                            <div class="div-center param-gral-unidad ml-110 border-button  mw-10 text-w500">
                                <mat-label>{{item.rol}}</mat-label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="true" class="div-button float-right" (click)="openDialogBuscarDirectivo('expositor')">
                <div>
                    <div class="div-left">
                        <mat-icon class="div-button material-icons color_gray">add_circle</mat-icon>
                    </div>
                    <div class="div-right color_gray">
                        {{'negocioAsambleasNuevaEntrada.bt_anadir_otra' | translate }}
                    </div>
                </div>
            </div>


            <div class="mt-100">
                <div class="bt_left">
                    <mat-form-field class="">
                        <input matInput formControlName="numeroAsistentes" type="text" appTwoDigitDecimaNumber
                            [placeholder]=placeholderNumeroAsistentes autocomplete="off"/>
                    </mat-form-field>
                </div>
                <div class="bt_center">
                    <mat-form-field class="">
                        <input matInput formControlName="numeroRadicado" type="text" maxlength="18" autocomplete="off"
                            [placeholder]=placeholderNumeroRadicado oninput="this.value = this.value.toUpperCase()">
                    </mat-form-field>
                </div>
            </div>

            <div class="mt-100 w-550 mb-100 contenedor">
                <div class="display-online bt_center contenido">
                    <span>
                        <button type="submit" class="bt-actions-red" [class.botonGuardarGris]="dynamicForm.invalid" color="primary" (click)="guardarAsamblea()">
                            <span
                                class=" text text-15 color_white">{{'negocioAsambleasNuevaEntrada.bt_guardar' | translate }}</span>
                        </button>
                    </span>
                </div>
            </div>

        </form>
    </div>
</div>