.bt_left {
  float: left;
  margin-right: 9rem;
}
.bt_center {
  display: inline-block;
}
.bt_right {
  float: right;
}
.mw-600 {
  min-width: 60rem;
}

.mb-100 {
  margin-bottom: 10rem;
}

.mt-100 {
  margin-top: 10rem;
}

.mt-10 {
  margin-top: 1rem;
}

.mt-15 {
  margin-top: 1.5rem;
}

.margin-neg11 {
  margin-right: -11rem;
}

.ml-40 {
  margin-left: 4rem;
}

.lugar-reunion {
  width: 31rem;
}

.w-32 {
  width: 32rem;
}
.orden-dia {
  min-height: 7rem;
}
.align-icon-mesa {
    float: inherit;
    padding-top: 0rem;
}

.bt-cancelar-gray {
  width: 22rem;
  border-radius: 4px;
  box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--battleship-gray);
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 36px;
  color: white;
  font-weight: bold;
}

.botonGuardarGris{
  background-color:#77787B!important;
}

.bt-actions-red {
  width: 22rem;
  border-radius: 4px;
  box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--pinkish-red);
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 36px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.bt-actions-red-cargar-archivo {
  width: 32rem;
  border-radius: 4px;
  box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--pinkish-red);
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 36px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.contenedor {
  display: flex;
  align-items: center;
}

.contenido {
  margin: 0 auto;
  /* requerido para alineación horizontal */
}

.border-button {
  border-bottom-color: var(--battleship-gray);
  border-width: 1px;
  border-bottom-style: solid;
}

.param-gral-descrip-mesa-directiva {
  width: 40rem;
}

.ml-30 {
  margin-left: 3rem;
}

.mw-10 {
  min-width: 10rem;
}

.decisiones-tomadas {
  min-width: 10rem;
  display: inline-block;
}
.tareas-pendientes {
  min-width: 10rem;
  display: inline-block;
}

.div-table-mesa-expositor {
  display: table;
  width: 100%;
  border-spacing: 5px; /* cellspacing:poor IE support for  this */
  padding-bottom: 2rem;
}
.table_distribucion {
  padding-bottom: 0;
}
.div-table-row {
  display: table-row;
  width: 100%;
  clear: both;
}
.div-table-col {
  float: left; /* fix for  buggy browsers */
  display: table-column;
  width: 50%;
  /* background-color: #ccc;   */
}

.w-col-5p {
  width: 5%;
}
.w-col-65p {
  width: 65%;
}

.w-col-30p {
  width: 30%;
}

.param-mesa-directiva-descrip {
  width: 45.5rem;
}

.param-expositor-descrip {
  width: 45.5rem;
}

.div-table-col-right {
  float: right; /* fix for  buggy browsers */
}
