<div class="text">
    <div class="contenedor">
        <div class="contenido">
            <div class="contenedor-titulo">
                <div *ngIf="data.urlimg" id="urlimg" class="img-50 contenido-img">
                    <img src="assets/svg/icons/warning.svg" alt="warning" />
                </div>
                <div>
                    <mat-label mat-dialog-title class="text-20 text-bold">{{data.titulo}}</mat-label>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor">
        <div mat-dialog-content class="contenido">
            <mat-label class="text-15">
               <p>{{ data.contenido }} </p> 
            </mat-label>
        </div>
    </div>
    <div>
        <table class="posicionConstantes"><caption></caption>
            <tbody>
                <th id class="columnaPrincipal"> <mat-label>
                    <span> Constantes con información incompleta</span>
                 </mat-label></th>
               <tr *ngFor="let item of arrayConstantes">
                  <td>{{ item }}</td>
               </tr>
            </tbody>
         </table>
    </div>
    <div mat-dialog-actions class="contenedor botonCentrar">
        <div class="bt-contenedor contenido">
            <div class="ml-10 mr-10 div-right ubicacionBottom">
                <button mat-button class="bt-actions-red" color="primary" mat-stroked-button [mat-dialog-close]="data.buttonAceptar" cdkFocusInitial>
                    <span class="text text-15 color_white text-2lines"> {{data.buttonAceptar}}</span>
                </button>
            </div>
        </div>
    </div>
</div>