<div class="text">
    <div class="contenedor">
        <div class="contenido">
            <div class="contenedor-titulo">
                <div *ngIf="data.urlimg" id="urlimg" class="img-50 contenido-img">
                    <img src="assets/svg/icons/warning.svg" alt="warning" />
                </div>
                <div>
                    <mat-label mat-dialog-title class="text-20 text-bold">{{data.titulo}}</mat-label>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor">
        <div mat-dialog-content class="contenido">
            <mat-label class="text-15">

                <form [formGroup]="buscarCotitularForm" (ngSubmit)="enviarDatos()" novalidate>
                    <mat-form-field class="mr-60">
                        <mat-label>{{'beneficiario.filtrar_por' | translate }}</mat-label>
                        <mat-select formControlName="selectCriterio" (selectionChange)="resetTables()">
                            <mat-option *ngFor="let criterio of selectCriterio" [value]="criterio.value">
                                {{ criterio.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="mw-400">
                        <mat-label>{{'beneficiario.buscar' | translate }}</mat-label>
                        <input matInput placeholder="Buscar" maxlength="100" formControlName="argumento" type="text"
                            required />
                    </mat-form-field>
                    <button mat-button type="submit">
                        <mat-icon matSuffix svgIcon="search" type="submit"></mat-icon>
                    </button>
                </form>

                <div *ngIf="dataNotFound" id="dataNotFound">
                    <img src="assets/svg/icons/warning.svg" alt="warning" />
                    <mat-label class="text-error text-content text-warning">
                        {{'beneficiario_distribucion.sin_resultado' | translate }}</mat-label>
                </div>

                <div *ngIf="dataFound" id="dataFound">
                    <mat-form-field>
                      <input
                        matInput
                        (keyup)="applyFilter($event.target.value)"
                        placeholder="Filtro:"
                      />
                    </mat-form-field>
              
                    <div class="text">
                      <table mat-table [dataSource]="dataSource" matSort><caption></caption>
                       <!-- Nombres y apellidos Column -->
                        <ng-container matColumnDef="name">
                          <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header class="text-list list-beneficiarie">              
                            {{'beneficiario.nombres_apellidos' | translate }}
                          </th>
                          <td mat-cell *matCellDef="let row">{{ row.nombreApellidoCotitular }}</td>
                        </ng-container>
              
                        <!-- Tipo de documento Column -->
                        <ng-container matColumnDef="documentType">
                          <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header class="text-list list-beneficiarie">              
                            {{'beneficiario.tipo_documento' | translate }}
                          </th>
                          <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.tipoDocumentoCotitular }}</td>
                        </ng-container>
              
                        <!-- Número de documento Column -->
                        <ng-container matColumnDef="documentNumber">
                          <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header class="text-list list-beneficiarie">              
                            {{'beneficiario.numero_documento' | translate }}
                          </th>
                          <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.documentoCotitular }}</td>
                        </ng-container>
              
                       
                         <!-- Ver mas Column -->
                         <ng-container matColumnDef="id">
                            <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header></th>
                            <td mat-cell *matCellDef="let row" class="mat-cell-center">
                                <section>                                    
                                    <mat-checkbox class="text text-list checkbox-margin"
                                                  (click)="$event.stopPropagation()"
                                                  (change)="agragarCambios(row)"
                                                  [checked]="row.asociado"
                                                  [(ngModel)] = "row.asociado">
                                                  {{'beneficiario_distribucion.cotitular' | translate }}
                                    </mat-checkbox>
                                </section>                            
                            </td>
                          </ng-container>
              
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                      </table>
              
                      <div class="mt-20">
                      <app-pagination (paginaEmitter)="goToPage($event)" [page]="page" [totalPages]="totalPages"
                              [numElementos]="numElementos" [resultsLength]="resultsLength"></app-pagination>  
                    </div>
                    </div>
                  </div>

            </mat-label>
        </div>
    </div>

    <div mat-dialog-actions class="contenedor">
        <div class="bt-contenedor contenido">
            <div class="ml-10 mr-10 div-left">
                <button mat-button class="bt-cancelar-gray" mat-stroked-button [mat-dialog-close]="data.buttonCancelar"
                    cdkFocusInitial>
                    <span class="text text-15 color_white">{{ data.buttonCancelar }}</span>
                </button>
            </div>

            <div class="ml-10 mr-10 div-right">
                <span *ngIf="guardarBotton">
                <button mat-button class="bt-actions-red" mat-stroked-button color="primary"
                (click)="guardarCotitulares()" cdkFocusInitial>
                    <span class="text text-15 color_white">{{ data.buttonAceptar }} </span>
                </button>
              </span>
              <span *ngIf="!guardarBotton">
                <button mat-button [disabled]="true" class="bt-cancelar-gray" mat-stroked-button cdkFocusInitial>
                    <span class="text text-15 color_white">{{ data.buttonAceptar }} </span>
                </button>
              </span>
            </div>
        </div>
    </div>
</div>