<div class="pagination">
    <div *ngIf="page > 1" class="prev"><a (click)="anterior()">Anterior</a></div>
    <div class="pages">
        <p>Página {{page}} de {{totalPages}}</p>
        <p>&nbsp;&nbsp;Total Registros {{resultsLength}}&nbsp;&nbsp; </p>    
    </div>
    <div *ngIf="page < totalPages" class="next"><a (click)="siguiente()">Siguiente</a></div>
</div>