:root {
    --black: #000000;
    --gray-white: #f8f8f8;
    --gray: #d1d3d4;
    --red: #f70000;
    --battleship-gray: #77787b;
    --pinkish-red: #ed1c24;
  }

.pagination {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--battleship-gray);
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 12px;
    
    .pages {
      display: flex;
    }

    .prev {
        margin-right: 5px;
        cursor: pointer;
        &:hover {
            line-height: 13px;
            border-bottom: 2px solid;
            border-bottom-color: var(--pinkish-red);
        }     
    }
   
     
    .next {
       margin-left: 5px;
       cursor: pointer;
        &:hover {
            line-height: 13px;
            border-bottom: 2px solid;
            border-bottom-color: var(--pinkish-red);
        }
    }

  }