<div>
    <div class="mt-36">
        <span>{{'negocio_detalle.tipos_negocio' | translate }}</span>
    </div>
    <form [formGroup]="informacionGeneralNegocioForm">
        <div formArrayName="tipoNegocios">
            <div *ngFor="let X of informacionGeneralNegocioForm['controls'].tipoNegocios['controls']; let ix=index">
                <div [formGroupName]="ix" class="mt-36">
                    <div class="divTable">
                        <div class="divTableBody">
                            <div class="divTableRow">
                                <div class="divTableCell">
                                    <mat-form-field>
                                        <mat-label>{{'negocio_detalle.tipos_negocio' | translate }}
                                        </mat-label>
                                        <input matInput placeholder="" maxlength="100" readonly
                                            formControlName="descripcion" type="text" />
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Retenciones  -->
                    <div class="divTable" formArrayName="retenciones">
                        <div class="divTableBody">
                            <div *ngFor="let Z of X['controls'].retenciones['controls']; let iz=index">
                                <div class="divTableRow">
                                    <div [formGroupName]="iz" class="gastos">
                                        <div class="divTableCell">
                                            <mat-icon class="div-button material-icons color_gray"
                                                (click)="deleteRetenciones(ix,iz)">
                                                remove_circle</mat-icon>
                                        </div>
                                        <div class="divTableCell">
                                            <mat-form-field class="w-350x">
                                                <mat-label>{{'negocio_detalle.descripcion' | translate }}
                                                </mat-label>
                                                <input matInput placeholder="" maxlength="100" readonly
                                                    formControlName="descripcion" type="text" />
                                            </mat-form-field>
                                        </div>
                                        <div class="divTableCell nombreCampoGasto">
                                            <mat-form-field class="w-250x ml-20">
                                                <mat-label>{{'negocio_detalle.valor' | translate }}
                                                </mat-label>
                                                <input type="text" matInput formControlName="valorunidad" readonly />
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- end retenciones -->

                    </div>
                </div>
            </div>
        </div>    
    </form>

</div>