.mt-36 {
    margin-top: 3.6rem;
}

.w-250x{
    width: 25rem;
}

.w-350x{
    width: 35rem;
}

.ml-20 {  
    margin-left: 2rem;
  }

.divTable {
    display: table;
    width: 100%;
}

.divTableRow {
    display: table-row;
}

.divTableCell,
.divTableHead {
    display: table-cell;
    /* padding: 2px 50px;*/
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody {
    display: table-row-group;
}

.letrasNormales {
    font-weight: 100;
    text-align: center;
}

.titulosTabla {
    text-align: center;
}