table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  /*
  td, th {
    width: 25%;
  }
  */
  
  .mat-th-50 {
    min-width: 50px;
  }
  
  .mat-th-100 {
    min-width: 100px;
  }
  
  .mat-td-left {
    text-align: left;
    font-weight: normal;
  }

  .bt-actions {    
    display: flex;
    cursor: pointer;
  }

  #codigoNegocio:hover {
    text-decoration: underline;
    color: red;
  }
  
  #codigoNegocio:active {
    color: black;
  }
  
  #codigoNegocio:visited {
    color: gray;
  }