<div class="mt-56">
  <mat-form-field>
    <mat-label>Filtar por</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Constructora">
  </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
            <caption></caption>

             <!-- Link Column -->
             <ng-container matColumnDef="linknegocio" >                
                <th scope="col" class="mat-th-50" *matHeaderCellDef>                    
                </th>
                <td class="mat-td-left" *matCellDef="let row">                    
                    <div class="bt-actions" (click)="vinculoDetalleNegocio(row.codigo)">
                        <img class="img-buscar-beneficiario" src="assets/svg/icons/ojo-rojo.svg" alt="warning" />
                    </div>                    
                </td>            
            </ng-container>

            <!-- ID Column -->
            <ng-container matColumnDef="codigo">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> {{'beneficiario_negocios.codigo_negocio' | translate }}
                </th>
                <td mat-cell *matCellDef="let row"> <span id="codigoNegocio" class="bt-actions" (click)="vinculoDetalleNegocio(row.codigo)">{{row.codigo}}</span> </td>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="nombre">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> {{'beneficiario_negocios.Nombre_negocio' | translate }}
                </th>
                <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
            </ng-container>

            <!-- Distribucion Column -->
            <ng-container matColumnDef="distribucion" >
                
                <th scope="col" mat-header-cell mat-sort-header *matHeaderCellDef>
                    <div *ngIf="datos_distribucion">
                        {{'beneficiario_negocios.datos_distribucion' | translate }} 
                    </div>
                </th>
                <td mat-cell *matCellDef="let row">
                    {{row.distribucion}}
                    <div *ngIf="datos_distribucion">
                        <div class="text text-list buscar-detalle-benficiario" (click)="getInfoDistribucion(row.codigo)">
                            <img class="img-buscar-beneficiario" src="assets/svg/icons/reports_red.svg" alt="warning" /> {{'beneficiario_negocios.ver_mas' | translate }}
                        </div>
                    </div>  
                </td>
            
            </ng-container>

            <!-- Financiera Column -->
            <ng-container matColumnDef="financiera">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div *ngIf="informacion_financiera">
                    {{'beneficiario_negocios.informacion_financiera' | translate }}
                    </div> 
                </th>
                <td mat-cell *matCellDef="let row">
                    {{row.financiera}}
                    <div *ngIf="informacion_financiera">
                    <div class="text text-list buscar-detalle-benficiario" (click)="getInfoFinanciera(row.codigo, row.nombre)">
                        <img class="img-buscar-beneficiario" src="assets/svg/icons/money_red.svg" alt="warning" /> {{'beneficiario_negocios.ver_mas' | translate }}
                    </div>
                </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>
        <div class="mt-20">           
           <app-pagination (paginaEmitter)="goToPage($event)" [page]="page" [totalPages]="totalPages"
                        [numElementos]="numElementos" [resultsLength]="resultsLength"></app-pagination>
        </div>
    </div>
</div>