<mat-form-field>
    <mat-select
        placeholder="Negocios Asociados"
        [formControl]="negocioAsociadoForm"
        (selectionChange)="itemSeleccionado($event)"
        multiple #selecTodo autocomplete="off">
      <mat-option (click)="selectAll( selecTodo )" >{{'negocio_detalle.seleccionar_todo' | translate }}</mat-option> 
      <mat-option (click)="deselectAll( selecTodo )" >{{'negocio_detalle.quitar_todo' | translate }}</mat-option> 
      <mat-option *ngFor="let item of negocioAsociadoList" [value]="item">{{item.codigo}} {{item.descripcion}}</mat-option>
    </mat-select>
  </mat-form-field>