<div *ngIf="dataNotFound" id="dataNotFound">
    <img src="assets/svg/icons/warning.svg" alt="warning" />
    <mat-label class="text-error text-content text-warning">{{'negocio.sin_resultado' | translate }}</mat-label>
    <div class ="text-error text-content text-center"  >{{mensajeDeError}}</div>
</div>

<div *ngIf="!dataNotFound" id="dataFound">
    <div class="text">
        <table mat-table [dataSource]="dataSource" matSort>
            <caption></caption>
            <!-- Nombres y apellidos Column -->
            <ng-container matColumnDef="nombreCompleto">
                <th scope="row " mat-header-cell *matHeaderCellDef mat-sort-header
                    class="text-list list-beneficiarie">
                    {{'certificados.titular' | translate }}
                </th>
                <td mat-cell *matCellDef="let row">{{ row.nombreCompleto }}</td>
            </ng-container>

            <!-- Tipo de documento Column -->
            <ng-container matColumnDef="tipoDocumento">
                <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                    class="text-list list-beneficiarie">
                    {{'certificados.tipo_de_documento' | translate }}
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.tipoDocumento }}</td>
            </ng-container>

            <!-- Número de documento Column -->
            <ng-container matColumnDef="numeroDocumento">
                <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                    class="text-list list-beneficiarie">
                    {{'certificados.numero_de_documento' | translate }}
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.numeroDocumento }}</td>
            </ng-container>

             <!-- porcentaje participacion Column -->
             <ng-container *ngIf="tipoReporte('PART')" matColumnDef="participacion">
                <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header class="text-list list-beneficiarie">
                    {{'certificados.porcentaje_de_participacion' | translate }}
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.participacion }}</td>
            </ng-container>

            <!-- numero de derechos Column -->
            <ng-container *ngIf=" tipoReporte('PART')" matColumnDef="numeroderechos">
                <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header class="text-list list-beneficiarie">
                    {{'certificados.numero_de_derechos' | translate }}
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.numeroDerechos }}</td>
            </ng-container>

            <!-- base retencion Column -->
            <ng-container *ngIf="tipoReporte('INGRET')" matColumnDef="baseretencion">
                <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header class="text-list list-beneficiarie">
                    {{'certificados.base_retencion' | translate }}
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.baseRetencion }}</td>
            </ng-container>

            <!-- total retenido Column -->
            <ng-container *ngIf="tipoReporte('INGRET')" matColumnDef="totalretenido">
                <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header class="text-list list-beneficiarie">
                    {{'certificados.total_retenido' | translate }}
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.totalRetenido }}</td>
            </ng-container>
            <!--  Retencion exenta Column -->
            <ng-container *ngIf="tipoReporte('RENTAEXC')" matColumnDef="rentaexcenta">
                <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header class="text-list list-beneficiarie">
                    {{'certificados.renta_excenta' | translate }}
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">{{ row.rentaExcenta }}</td>
            </ng-container>

            <!-- Ver mas Column -->
            <ng-container matColumnDef="id">
                <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header>
                    <mat-checkbox class="todos" (change)="$event ? masterToggle() : null; seleccionarTodos()"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    >
      </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-center">
                    <div *ngIf="true" class="text text-list buscar-detalle-benficiario">
                        <div *ngIf="true">
                            <p><mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null ; administrarEscogidos(row)"
                                [checked]="selection.isSelected(row)"
                                > {{'certificados.generar' | translate }}</mat-checkbox>
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <div class="mt-20">
            
        </div>
    </div>
</div>
<div *ngIf ="selected()" class="boton" >
    <button class ="btn-generar-certificados" (click)="verificarSeleccion()" > {{'certificados.generar_certificados' | translate }}</button>
</div>
<div *ngIf="botonMostrar"class="boton">
    <button class="btn-generar-certificados" (click)="todoGenerarArchivo()">
        {{'certificados.generar_certificados' | translate }}</button>
</div>
