.btn-generar-certificados {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  color: white;
  width: 192.5px;
  height: 46px;
  background-color: #ed1c24;
}

.boton{
  padding-left: 288px;
  padding-bottom: 44px;

}

.todos{
  margin-left:40px!important;
}

.text-center {
  text-align: center;
}