<mat-form-field>
    <mat-select placeholder="Tipos de Negocios"
        [formControl]="tipoNegocioForm"
        (selectionChange)="itemSeleccionado($event)"
        multiple [(ngModel)]="selected"
        #selecTodo>
        <mat-option (click)="selectAll( selecTodo )">{{'negocio_detalle.seleccionar_todo' | translate }}</mat-option> 
        <mat-option (click)="deselectAll( selecTodo )" >{{'negocio_detalle.quitar_todo' | translate }}</mat-option>   
      <mat-option *ngFor="let item of tipoNegocioList" [value]="item">{{item.descripcion}}</mat-option>
    </mat-select>
  </mat-form-field>