<mat-form-field>
    <mat-select placeholder="Negocio"
        [formControl]="negocioForm"
        (selectionChange)="itemSeleccionado($event)"
        multiple [(ngModel)]="selected" #selecTodo>
      <mat-option (click)="selectAll( selecTodo )">{{'negocio_detalle.seleccionar_todo' | translate }}</mat-option> 
      <mat-option (click)="deselectAll( selecTodo )" >{{'negocio_detalle.quitar_todo' | translate }}</mat-option> 
      <mat-option *ngFor="let item of negocioList" [value]="item">{{item.nombreNegocio}}</mat-option>
    </mat-select>
  </mat-form-field>
